[2020-03-27 03:40] #367 closed

[2020-03-27 04:28] hashtagrk commented on #368
@MikeJKelly , my version is 3.11.4. Are you sure 3.11.4 is not supported?

[2020-03-27 07:25] hashtagrk commented on #368
The issue got solved using.....
-DPROTOBUF_LIBRARY_DEBUG='path/to/protobuf.so'
-DPROTOBUF_LIBRARY_RELEASE='path/to/protobuf.so' in cmake .

[2020-03-27 07:26] #368 closed

[2020-03-27 11:00] MikeJKelly commented on #367
Ah that makes sense, thanks for letting us know!

[2020-03-27 11:03] MikeJKelly commented on #368
Thanks for letting us know! We've had problems with some earlier and later versions of protobuf and the version we've tested with is 3.5.2 so that's what we recommend.

[2020-03-27 11:29] MohiniMohiniMohini commented on #208
Hi @MatthewARM
I'm facing the same issue.  With latest code (git clone http://github.com/ARM-software/armnn.git) and the same cmake options mentioned below. Where shall I find the armConverter and/or armnnQuantizer generated after make?

cd /home/admin1/ && git clone http://github.com/ARM-software/armnn.git
cd /home/admin1/armnn && \
    mkdir build && cd build && \
    export CXX=aarch64-linux-gn

[2020-03-30 05:59] MohiniMohiniMohini commented on #330
Hi @ggardet @MatthewARM ,

Any update on this? How do i create the ArmnnConverter and ArmnnQuantizer?

[2020-03-30 06:51] ggardet commented on #330
They are built automatically when building ArmNN.

[2020-03-30 11:43] MohiniMohiniMohini commented on #330
Hi @ggardet,

Yes, those are built with ArmNN I could not locate those earlier inside the docker. Thanks for the reply anyway.

[2020-03-31 09:07] akanxit commented on #331
@MatthewARM I need to use a pre trained tflite **lstm** model for inference on an arm board. Is it possible using armnn?
Going through the comments, I understand I might need to convert the .tflite to .armnn and then use it for inference. Correct me if I am wrong.

[2020-03-31 15:21] ggardet commented on #273
I tested it successfully, thanks!
Is there a mean to run unit tests on Cpu only and disable Gpu support, though?
Because the builder does not necessarily support openCL, but the device where it will be run on, may support it. When builder build to support openCL, but does not support it itself, I get lots of:
```armnn::ClRuntimeUnavailableException: Could not initialize the CL runtime. Error descr

[2020-03-31 20:21] MikeJKelly commented on #331
Yes it is possible, providing the other operators in your model are supported. You will need to convert the .tflite file to an .armnn one using the process that Matthew has explained as the ArmNN TFLite parser does not support LSTM at this time.

[2020-03-31 22:39] korabelnikov commented on #338
Hi, thank you for a help.
I've changed to IDeserializer and got trouble with BindingPointInfo method cause it now need 'layerId' as parameter. Where I should find layer id?

method's signature is
[code]

[2020-04-01 11:16] keidav01 commented on #208
Hi @MohiniMohiniMohini

An executable should be generated on the top level of your build output directory - ArmnnQuantizer, ArmnnConverter.

Are you not seeing this?

[2020-04-01 14:42] #349 closed

[2020-04-02 07:16] ggardet opened #369 "Merge PyArmNN code into ArmNN"
I think it would be better to merge PyArmNN code from https://github.com/ARM-software/ML-examples/commits/master/pyarmnn-fire-detection/pyarmnn-19.11.0.tar.gz into ArmNN, instead of having a separate fork with non matching versions.

[2020-04-02 09:31] MohiniMohiniMohini commented on #208
HI @keidav01
Yes, it did generate. However I'm not able to execute it to convert a caffe model to .armnn model.

I get "exec error for the binary generated" when I do ./ArmnnConverter on my linux x86 64 bit system

I've tried using qemu to execute this binary. But I get "/lib/ld-linux-aarch64.so.1: No such file or directory" error.

How did you use the ArmnnConverter and ArmnnQuantizer binaries?

[2020-04-02 11:30] keidav01 commented on #208
From how I understand your response, you seem to be building on x86_64, and attempting to execute the output files ( ArmnnQuantizer ) on aarch64 through Qemu. If you just execute these locally on your x86 machine, they should work.

If this is not the case, can you please send me the full command you've used for the quantizer and converter please?

Also, could you run an ldd on the ArmnnQuantizer

[2020-04-02 12:03] MohiniMohiniMohini commented on #208
I'm using cross-compilation steps mentioned to build on x86_64. After building successfully I tried ./ArmnnConverter (w/o any arguments) and it said "exec error". So the binary could not be executed on x86_64.

So I installed Qemu to try and run these on x86_64 system as aarch64 which resuilts in "/lib/ld-linux-aarch64.so.1: No such file or directory" error.

About ldd:
"ldd ArmnnQuantizer
not a d

[2020-04-02 14:35] keidav01 commented on #208
Two possible solutions would be to:
- Follow this guide for installing the missing library files when running Qemu and try again: https://ughe.github.io/2018/07/19/qemu-aarch64

- Remove the cross-compilation step and build for CpuRef only on x86_64 natively (i.e. with ARMCOMPUTENEON and ARMCOMPUTECL turned off in Cmake). The quantizer should not need CL or NEON, so run your model conversion and q

[2020-04-02 14:52] keidav01 commented on #208
I think if you follow this guide for installing the missing library files when running Qemu and try again it should work: https://ughe.github.io/2018/07/19/qemu-aarch64

I was going to suggesting removing the cross-compilation step altogether and build for CpuRef only on x86_64 (i.e. with ARMCOMPUTENEON and ARMCOMPUTECL turned off), but unfortunately I do not think we have any build guides availab

[2020-04-02 17:29] MohiniMohiniMohini commented on #208
Hi @keidav01,
I came across [this ](https://ughe.github.io/2018/07/19/qemu-aarch64) link but did not try thinking I'm going not in the right direction as no one else faced similar issues. Anyway, now in that direction, the binary can be executed however, I'm facing following error:

terminate called after throwing an instance of 'armnn::ParseException'
  what():  Unsupported layer type 'AnnotatedD

[2020-04-02 18:47] MikeJKelly commented on #369
That sounds like a good idea.

[2020-04-02 18:57] MikeJKelly commented on #363
Hi @juncheolye

I think this has been resolved?

Can you close the issue if everything's OK? Thanks!

[2020-04-02 18:58] #356 closed

[2020-04-02 19:07] MikeJKelly commented on #348
Can you give us the model or provide some more information on the structure of the model? Is it a quantized or fp16/32 model? Do you get any log or error information?

[2020-04-03 03:31] sangdv commented on #348
Hi, I just tried a Age and Gender Classification downloaded from the Caffe model zoo: https://github.com/BVLC/caffe/wiki/Model-Zoo#models-for-age-and-gender-classification
or https://gist.github.com/GilLevi/c9e99062283c719c03de

[2020-04-03 07:29] ggardet commented on #356
Ah yes, sorry for the noise then!

[2020-04-03 08:43] keidav01 commented on #208
Hey @MohiniMohiniMohini

That's great! Could you please tell me what operators/layers are being used in your model (if the list is not exhaustive)?

Is this a custom model?

[2020-04-03 08:51] keidav01 commented on #251
@ggardet can this be closed?

[2020-04-03 10:10] ggardet commented on #251
This one is fine, yes. But there are still some problems with LTO, see https://github.com/ARM-software/armnn/issues/341

[2020-04-03 10:10] #251 closed

[2020-04-03 10:48] MohiniMohiniMohini commented on #208
Hi @keidav01
I figured out the reason for that error. I need to use the SSD caffe and not BVLC caffe. I'm working on that.

Also, can you please check this command for me?
./ArmnnConverter -f caffe-binary -m /path-to-caffe-model/ssd.caffemodel -i AnnotatedData -o detection_out -p ssd.armnn

The problem could be that, the last layer detection_out does not have weights and is not included in the wei

[2020-04-03 13:43] keidav01 commented on #208
Are you sure the input and output names are correct for the model?

You may or may not know that you can use [https://lutzroeder.github.io/netron/](url) to visualise the model and verify the names easily.

[2020-04-03 16:15] MohiniMohiniMohini commented on #208
Hi @keidav01 ,

Yes, the layer names are correct. I do use netron to visualize models.
I'm using [Pelee SSD](https://github.com/Robert-JunWang/Pelee) and [this](https://drive.google.com/file/d/1KJHKYQ2nChZXlxroZRpg-tRsksTXUhe9/view) is the model to convert to armnn. I'm also using SSD caffe. If I visualize the Pelee weight file from the link, the first layer is AnotatedData and last layer as mbox_

[2020-04-06 15:03] MohiniMohiniMohini opened #370 "Input layer error for caffe model"
Here is what I've done:
Step 1:
Cross compile armnn on x86 system as per the instructions.
Step 2:
Create a single caffemodel as follows (as per one of the comments (https://github.com/ARM-software/armnn/issues/191#issuecomment-497539588) on another question)
import caffe
net = caffe.Net("deploy.prototxt", "trained.caffemodel", caffe.TEST)
net.save("outputfile.caffemodel")
Step 3:
./ArmnnConverter

[2020-04-07 10:31] pradeepkrnik opened #371 "Create an arm64 API 26 libc++ toolchain."
I am getting some error in this process the error window is attached down:
![image](https://user-images.githubusercontent.com/62541809/78659266-ea7c9380-78e8-11ea-8e09-0e577355c64b.png)

I am using UBUNTU 16.04 , which is my laptop.
-thanks in advance.
Pradeep

[2020-04-07 18:19] MikeJKelly commented on #371
Hi @pradeepkrnik

this is a harmless warning that can be ignored.

Newer Android NDK bundles have a prebuilt prebuilt toolchain that you can use you don't need to do toolchain generation anymore. You can skip that step.

[2020-04-08 05:10] pradeepkrnik opened #372 "arm nn build time, cmake error related to cc"
hi I am trying to build armnn on ubuntu16.04.

Facing error :+1: pradeep.k@PradeepK-LaptopU:~/.../build$ CXX=aarch64-linux-gnu-g++ \

CMake Error at /usr/local/share/cmake-3.16/Modules/CMakeDetermineCCompiler.cmake:49 (message):
  Could not find compiler set in environment variable CC:

  aarch64-linux-gnu-gcc.
Call Stack (most recent call first):
  CMakeLists.txt:6 (project)

CMake Error: CMAKE_C

[2020-04-08 05:13] nullbyte91 commented on #372
@pradeepkrnik You may have to run this way,
export CXX=aarch64-linux-gnu-g++ \
export CC=aarch64-linux-gnu-gcc \
cmake .. \
-DARMCOMPUTE_ROOT=$HOME/armnn-devenv/ComputeLibrary \
-DARMCOMPUTE_BUILD_DIR=$HOME/armnn-devenv/ComputeLibrary/build/ \
-DBOOST_ROOT=$HOME/armnn-devenv/boost_arm64_install/ \
-DARMCOMPUTENEON=1 -DARMCOMPUTECL=1 -DARMNNREF=1 \
-DCAFFE_GENERATED_SOURCES=$HOME/armnn-devenv/caffe

[2020-04-08 05:34] pradeepkrnik commented on #372
Hi Thanks for the suggestion.
But the error still persist.
Please let me know
pradeep.k@PradeepK-LaptopU:~/.../build$ pwd
/home/pradeep.k/armnn-devenv/armnn/build

pradeep.k@PradeepK-LaptopU:~/.../build$ git branch
* branches/armnn_20_02
  master

My path variable:
pradeep.k@PradeepK-LaptopU:~/.../build$ echo $PATH
/home/pradeep.k/armnn-devenv/toolchains/aarch64-android-r17b/bin:/home/pradeep.k/pe

[2020-04-08 05:44] nullbyte91 commented on #372
@pradeepkrnik Can you run the below comments and post the output,
`echo $CXX && echo $CC`

[2020-04-08 05:45] pradeepkrnik commented on #372
pradeep.k@PradeepK-LaptopU:~/.../build$ echo $CXX && echo $CC
aarch64-linux-gnu-g++
aarch64-linux-gnu-gcc
pradeep.k@PradeepK-LaptopU:~/.../build$

[2020-04-08 05:46] nullbyte91 commented on #372
@pradeepkrnik Looks toolchain env variables are fine. Can you post complete error logs?

[2020-04-08 05:47] pradeepkrnik commented on #372
i have tried installing aarch64-linux-gnu-g++ and aarch64-linux-gnu-gcc
using
sudo apt-get install gcc-aarch64-linux-gnu
 and
apt-get install g++-aarch64-linux-gnu

after this
i am facing below error
----------------------------------------------------------------------------------
pradeep.k@PradeepK-LaptopU:~/.../build$ cmake .. \

CMake Warning at cmake/modules/FindBoost.cmake:577 (message):
  I

[2020-04-08 05:50] nullbyte91 commented on #372
@pradeepkrnik Have you complied the boost lib? Just make sure -DBOOST_ROOT path is correct.  Clearly the error shows that Unable to find the Boost header files. Please set BOOST_ROOT to the root.

[2020-04-08 06:10] pradeepkrnik commented on #372
please have a look at below
---------------------------------------
pradeep.k@PradeepK-LaptopU:~/.../boost$ ls
boost_1_64_0  boost_1_64_0.tar.bz2  install  user-config.jam
pradeep.k@PradeepK-LaptopU:~/.../boost$  echo "using gcc : arm : aarch64-linux-android-clang++ ;" > $HOME/armnn-devenv/boost/user-config.jam
pradeep.k@PradeepK-LaptopU:~/.../boost$ cd ~/armnn-devenv/boost/boost_1_64_0
pradeep.k@

[2020-04-08 06:14] nullbyte91 commented on #372
@pradeepkrnik When you use  ./bootstrap.sh --prefix=$HOME/armnn-devenv/boost/install the same prefix path you have to use -DBOOST_ROOT. But I could see you are using a different path for this CMAKE Variable.

[2020-04-08 06:55] pradeepkrnik commented on #372
thanks for the help. Now with you suggestion BOOST lib are taken care.

but the new error is present.
------------------------------------------------
pradeep.k@PradeepK-LaptopU:~/.../build$ cmake .. \

-- Boost version: 1.64.0
-- Found the following Boost libraries:
--   unit_test_framework
--   system
--   filesystem
--   program_options
-- Tensorflow parser support is disabled
-- Tensorflow Lit

[2020-04-08 07:23] pradeepkrnik commented on #372
Hi after fixing the cmake problem  using the config below
---------------------
cmake .. \
-DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc \
-DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ \
-DARMCOMPUTE_ROOT=$HOME/armnn-devenv/ComputeLibrary \
-DARMCOMPUTE_BUILD_DIR=$HOME/armnn-devenv/ComputeLibrary/build/ \
-DBOOST_ROOT=$HOME/armnn-devenv/boost/install \
-DARMCOMPUTENEON=1 -DARMCOMPUTECL=1 -DARMNNREF=1 \
-D

[2020-04-09 10:10] pradeepkrnik commented on #372
HI I am still facing errors due to arm nn build
any help

[2020-04-09 10:57] pradeepkrnik opened #373 "arm nn build failure."
HI
 I am trying to build the arm nn using the link provided below:
https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideAndroidNDK.md
I could succeed upto
Build ArmNN steps
the cmake configure also got succeded.
the make -j16 throws the error
please see the below the attached cmake output and make -j16 output.
--cmake

pradeep.k@PradeepK-LaptopU:~/.../build$ CXX=aarch64-linux-

[2020-04-09 11:01] pradeepkrnik commented on #373
the make -j16 throws the following error:
/home/pradeep.k/armnn-devenv/google/tf_pb/tensorflow/core/framework/cost_graph.pb.cc:1074:13: error: 'host_temp_memory_size' is deprecated
      [-Werror,-Wdeprecated-declarations]
  if (this->host_temp_memory_size() != 0) {

[2020-04-10 16:28] MikeJKelly commented on #373
That's a build issue when building protobuf, what protobuf version are you trying to build? The error is being raised by the -W=deprecated-declarations flag, you will need to build with -Wno-error=deprecated-declarations to get around this issue.

You seem to be encountering a lot of build problems, are you following a guide? You can find guides at https://developer.arm.com/solutions/machine-learn

[2020-04-10 19:07] MikeJKelly commented on #372
There seem to be at least two environment issues here, the first is that it can't find Boost libraries, your BOOST_ROOT seems a little unusual,
-DBOOST_ROOT=$HOME/armnn-devenv/boost/install

it's more usually something like:

-DBOOST_ROOT=$HOME/armnn-devenv/boost_arm64_install/ can you make sure that it's pointing at the root folder for the Boost libraries.

The second issue is that it can't find

[2020-04-10 19:46] MikeJKelly commented on #370
Hi @MohiniMohiniMohini

In the model the name of your input layer is "data" but the error message mentions an input layer called "input", can you make sure that the names are consistent in your model file?

[2020-04-10 19:51] pradeepkrnik commented on #372
Hi MIke,
  Now I have started a fresh, atleast tryint to build the for linux,  has i have one ARM device working with UBUNTU on that
  Now I am following the below guilde
https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-tensorflow-lite/setup-and-download-libraries

have finished upto Compute Library.
will

[2020-04-10 20:24] pradeepkrnik commented on #372
pradeep.k@PradeepK-LaptopU:~/.../build$ cmake ..\

CMake Error: The source directory "/home/pradeep.k/armnn-tflite/armnn/build/..-DARMCOMPUTE_ROOT=/home/pradeep.k/armnn-tflite/ComputeLibrary" does not exist.
Specify --help for usage, or press the help button on the CMake GUI.
pradeep.k@PradeepK-LaptopU:~/.../build$
pradeep.k@PradeepK-LaptopU:~/.../build$
pradeep.k@PradeepK-LaptopU:~/.../build$
pra

[2020-04-10 20:25] pradeepkrnik commented on #372
I have followed the link above.
was successful till I use armnn build. and saying the ComputeLibrary is not present. ..
Any suggestion here .

[2020-04-10 21:12] pradeepkrnik commented on #372
from the link below:
https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideAndroidNDK.md
I dont think that boost is installed at boost_arm64_install.
its mentioned as below:
 ./bootstrap.sh --prefix=$HOME/armnn-devenv/boost/install

[2020-04-10 21:55] pradeepkrnik commented on #373
Hi,
 I am following the link
https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideAndroidNDK.md

Could you please tell me
-Wno-error=deprecated-declarations
for which library i need to use this ?

[2020-04-11 15:33] pradeepkrnik opened #374 "Unsupported operation Neg in tensorflow::GraphDef at function LoadNodeDef"
HI
 I am using the ARMNN On Linux ubuntu 16.04,

Was trying to use the tensor flow model, which is not showing the branch at
* (HEAD detached at 590d6ee)
- I faced the error as:
  Unsupported operation Neg in tensorflow::GraphDef  at function LoadNodeDef at  /armnn-tflite/armnn/src/armnnTfParser/TfParser.cpp:3431]
- any suggestion here ..
thanks in advance.
-regards
Pradeep

[2020-04-13 06:29] MohiniMohiniMohini commented on #370
Hi @MikeJKelly,
The other day, before posting the issue  I had tried with both 'data' and 'input' it gave the same error. But the next day, the same command executed successfully. I can't reason why, but it did. Strange!

Anyway, I'm getting error for permute layer not being supported. is there a plan to support it? Or is there any work around?

[2020-04-14 09:13] quentiel-09 opened #375 "DCGAN parsing failed at function ParseConcat"
Hello,
I'm trying to write an application to run inference using a DCGAN TensorFlow model. This model needs 2 inputs of shapes (64, 100) and (64, 10). When I parse the model, I have an error at the function ParseConcat and I don't understand how to get rid of it...

The beginning of my code is:
[code]
It compiles but when I run it, I have the following error:
**terminate called after throwing a[ 3

[2020-04-14 14:35] MikeJKelly commented on #374
Hi @pradeepkrnik

The Tensorflow Parser does not support the Neg operation. If you wish to add support for that operation then we are open to contributions?

If you have a look here:
https://mlplatform.org/contributing/

Our gerrit server: https://review.mlplatform.org/#/dashboard/self

The first thing to do is to get it working with the latest master branch of Arm NN.

Next make sure you can log

[2020-04-14 15:45] MikeJKelly commented on #370
Hi @MohiniMohiniMohini

We do not currently have plans to support Permute in Caffe. If you wish to add support for that operation to the Caffe parser then we are open to contributions?

If you have a look here:
https://mlplatform.org/contributing/

Our gerrit server: https://review.mlplatform.org/#/dashboard/self

The first thing to do is to get it working with the latest master branch of Arm NN.

[2020-04-14 16:34] MikeJKelly commented on #375
Hi @quentiel-09

from looking at the code I can see that this restriction is only on the TensorFlow parser not the TensorFlow Lite parser, can you convert your model to a TF Lite model and try that parser?

Best regards,
Mike

[2020-04-15 04:51] MohiniMohiniMohini commented on #370
Hi @MikeJKelly,

Thanks for the update.

[2020-04-15 07:20] akanxit opened #376 "loss of accuracy after porting keras trained model to tflite and using ammnn TFlite parser"
Hi,
I trained keras hdf5  cnn model with 5 classes. Then to run inference on arm board, I ported the model to tflite using *tf.lite.TFLiteConverter.from_keras_model(model)* (tensorflow 2.1.0) as mentioned in
https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter.
Then I used the same model to perform inference on a bunch of test images. The classification accuracy drops from 92% on hdf

[2020-04-15 18:11] MikeJKelly commented on #376
Is your model quantized? You can see a significant drop in accuracy on quantized models.

[2020-04-16 10:33] MikeJKelly commented on #375
It could be alright, if an operator is missing then the resulting model will probably be malformed... an alternative would be to simply disable the error in the TFParser and see if that works?

Can you provide the tf model?

[2020-04-16 13:08] santo4ul opened #377 "Caffe getting started link is not working"
Hi, The below given link in README.md file isn't working. Is the side down or the link is wrong?

[https://developer.arm.com/technologies/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-caffe](https://developer.arm.com/technologies/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-caff

[2020-04-16 13:36] nikraj01 commented on #377
Hi @santo4ul ,

That particular page seems to be down for the moment. I will get an update on this soon.

Thanks,
Nikhil.

[2020-04-16 13:59] pradeepkrnik opened #378 "armn_neon.h file missing"
HI I am trying to build armnn on Ubuntu 16.04.
with the below cmake
cmake .. \
-DBUILD_TESTS=1 \
-DFLATC=$BASEDIR/flatbuffers \
-DARMCOMPUTE_ROOT=$BASEDIR/ComputeLibrary \
-DARMCOMPUTE_BUILD_DIR=$BASEDIR/ComputeLibrary/build \
-DBOOST_ROOT=$BASEDIR/boost \
-DTF_GENERATED_SOURCES=$BASEDIR/tensorflow-protobuf \
-DPROTOBUF_ROOT=$BASEDIR/protobuf-host \
-DSAMPLE_DYNAMIC_BACKEND=1 \
-DDYNAMIC_BACKEND_P

[2020-04-16 15:46] nikraj01 commented on #377
Hi @santo4ul ,

We have updated link to the guides in the readme file now. Can you please try to access it and let me know?

Thanks,
Nikhil.

[2020-04-16 15:59] santo4ul commented on #377
Thanks @nikraj01

[2020-04-16 15:59] #377 closed

[2020-04-16 19:11] MikeJKelly commented on #378
Hi @pradeepkrnik

the arm_neon.h header should have been installed as part of the crossbuild-essential-arm64 package, can you confirm if it's there, it should be somewhere in /usr/lib/gcc-cross (your path may vary).

You will also have to set your CXX and CC variables for the make command.
Our guides recommend something like:

cd armnn && mkdir build && cd build &&
CXX=aarch64-linux-gnu-g++ &&
CC=

[2020-04-17 05:57] pradeepkrnik commented on #378
HI Mike,
i have checked below
pradeep.k@PradeepK-LaptopU:/usr$ sudo find . -name "arm_neon.h"
[sudo] password for pradeep.k:
./lib/gcc-cross/aarch64-linux-gnu/5/include/arm_neon.h
./lib/llvm-3.8/lib/clang/3.8.0/include/arm_neon.h
./lib/llvm-6.0/lib/clang/6.0.1/include/arm_neon.h
pradeep.k@PradeepK-LaptopU:/usr$

but even after setting the flags like:
CXX=aarch64-linux-gnu-g++ &&
CC=aarch64-linux-g

[2020-04-17 08:26] nikraj01 commented on #372
Hi @pradeepkrnik ,

Where you able to build for android successfully?

About the environmental issue what Mike suggested is that you should build boost for arm64, but if you have done that it's fine the name of the folder doesn't matter.

Let us know if you have any issues.

Thanks,
Nikhil.

[2020-04-17 10:20] nikraj01 commented on #352
Hi @zanazakaryaie ,

Were you able to build things properly? Wondering if this ticket can be closed then?

Thanks,
Nikhil.

[2020-04-17 14:56] quentiel-09 commented on #375
I used this project: https://github.com/carpedm20/DCGAN-tensorflow
DCGAN are made from two models trained simultaneously by an adversarial process, but I only froze one of the model which is called the "generator". To do so I used "generator_1/Sigmoid" as the output_node_names during the frozen process in order to obtain my model.pb .

[2020-04-18 11:27] Qengineering opened #379 "Output armnn-mobilenet-quant misaligned."
It looks that the output of the MobileNetV1_Quant ML-example is misaligned. The first (and only) prediction of the ARMnn example gives always the second option of the official TensorFlow Lite C++ example. For instance, grace_hopper.bmp gives "Windsor tie" as output, which should be "Military uniform" (0.834) and next "Windsor tie" (0.021).

[2020-04-20 11:48] pradeepkrnik commented on #373
i am still not able to build on android
any inputs here, facing the problem with protobuf. I followed the link
https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideAndroidNDK.md

[2020-04-20 13:47] nikraj01 commented on #373
Hi @pradeepkrnik ,

Can you please let me know what error you are getting? Also I would be interested in knowing what ndk, protobuf and clang versions you are using?

Thanks,
Nikhil.

[2020-04-20 13:49] nikraj01 commented on #373
From the log it looks like you are trying to compile using clang

[2020-04-20 13:56] nikraj01 commented on #373
We were able to build successfully with protobuf 3.5.2 and ndk17 with gcc.

[2020-04-20 13:57] pradeepkrnik commented on #373
I am following exact procedure mentioned in the link  all the versions, are adhered to below link
https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideAndroidNDK.md

To be specific:
Protobuf v3.5.2
Tensor flow using the branch: 590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b
ndk: wget https://dl.google.com/android/repository/android-ndk-r17b-linux-x86_64.zip

After using exact parame

[2020-04-20 15:32] pradeepkrnik commented on #373
not building with me ..

[2020-04-20 15:39] nikraj01 commented on #373
ok, that's weird. I haven't come across that issue with my build.

[2020-04-20 15:50] pradeepkrnik commented on #373
is there any guidence on how to build protobuf with
-Wno-error=deprecated-declarations
this is coming from the previous suggestion by MikeJKelly commented 10 days ago •

[2020-04-20 17:13] pradeepkrnik commented on #373
I am facing these errors:
-----------------------------------
[ 68%] Building CXX object src/backends/backendsCommon/test/CMakeFiles/ValidTestDynamicBackend.dir/TestDynamicBackend.cpp.o
/home/pradeep.k/armnn-devenv/google/tf_pb/tensorflow/core/framework/cost_graph.pb.cc:1074:13: error: 'host_temp_memory_size' is deprecated
      [-Werror,-Wdeprecated-declarations]
  if (this->host_temp_memory_size

[2020-04-21 08:46] nikraj01 commented on #373
do you have protobuf root pointing to $HOME/google/arm64_pb_install/ while building ArmNN?

[2020-04-21 08:48] pradeepkrnik commented on #373
-DPROTOBUF_ROOT=$HOME/armnn-devenv/google/arm64_pb_install/
this is what configured during cmake

[2020-04-21 08:54] nikraj01 commented on #373
ok, can you build ArmNN using -Wno-error=deprecated-declarations? You can pass this to -DCMAKE_CXX_FLAGS

[2020-04-21 09:09] pradeepkrnik commented on #373
ok. will try this.

[2020-04-21 12:18] pradeepkrnik commented on #373
thanks for the information,
its building with protobuf 3.5.0 and give suggestion.

[2020-04-21 12:18] #373 closed

[2020-04-21 13:12] nikraj01 commented on #371
Hi @pradeepkrnik ,

If you are not facing issues with building android, wondering if this can also be closed?

Thanks,
Nikhil.

[2020-04-21 13:13] #371 closed

[2020-04-21 13:14] pradeepkrnik commented on #371
closed with the protobuf 3.5.0 and using  -Wno-error=deprecated-declarations? You can pass this to -DCMAKE_CXX_FLAGS

[2020-04-22 02:46] chudegao commented on #182
Hi @GAnto85 , I'm looking for onnx example of armnn. Would you like to share your onnx example. Thanks.

[2020-04-22 04:17] pateldarsh opened #380 "Neon Workload creation fails for Fully Connected layer with Quantized ONet"
Hi,

I am not able to run quantized ONet ARMNN. ONet is part of MTCNN for face landmarks detection. I am able to run Non-Quantized version of same model. Both are in TFLite format. I am getting below error.

Please let me know if you need any more information on this.

_root@h3ulcb:~//tests# ./ExecuteNetwork -f tflite-binary -i onet/input -o onet/conv6-1/conv6-1 onet/conv6-2/conv6-2 onet/conv6-3/c

[2020-04-23 02:04] LjBLincoln opened #381 "How can i choose code style fomat for C/C++ file?"
How can i choose code style fomat for C/C++ file?
when add a c/C++ file ,what code style can i choose :Google？LLVM ？ which make the code sytle same as the armnn.

[2020-04-23 08:32] MikeJKelly commented on #380
Hi @pateldarsh

it looks like Constant doesn't support QAsymmS8 at the moment, I'll take a look.

Mike

[2020-04-23 15:21] keidav01 commented on #381
Hi @LjBLincoln, we use our own standard that is loosely based on the Googles codestyle. Using theirs will achieve a similar layout!

[2020-04-24 03:35] LjBLincoln commented on #381
Hi @keidav01 , thanks for you advices, i will use goolge codestyle.

[2020-04-24 03:35] #381 closed

[2020-04-24 04:36] pateldarsh commented on #380
Hi Mike,

Thank you for your feedback. I added few logs in code. It seems INT8 datatype is not supported yet for FC layers. It supports only FLOAT32 and UINT8.

_std::unique_ptr<armnn::IWorkload> NeonWorkloadFactory::CreateFullyConnected(
    const FullyConnectedQueueDescriptor& descriptor, const WorkloadInfo& info) const
{
    return MakeWorkloadHelper<NeonFullyConnectedWorkload, NeonFullyConnect

[2020-04-24 16:00] MikeJKelly commented on #380
Hi Darshan,

I've created a review to add QAsymmS8 to the Neon backend, it's at:

https://review.mlplatform.org/c/ml/armnn/+/3099

That should hopefully be merged soon, if you want you can cherry pick that patch to see if it solves your problem?

Looking at the master branch I can see that QAsymmS8 was added to the FullyConnectedQueueDescriptor in March, are you on the 20.02 release? If you switch

[2020-04-24 16:01] pateldarsh commented on #380
Hi Mike,

I modifed _FullyConnectedQueueDescriptor::Validate_ to accept QAsymmS8. Also added mapping of this to InitializeArmComputeTensorData. Now I am able to run ONet. I am yet to match output of model with PC version.

Please let me know if this temporary fix is not valid.

Thanks,
Darshan

[2020-04-24 16:05] pateldarsh commented on #380
Hi Mike,

I am using v20.02. Thank you for your support. This solves my issue.

Thanks,
Darshan

[2020-04-24 16:05] #380 closed

[2020-04-28 16:13] MikeJKelly commented on #345
Hi Praveen,

so sorry for the delay, this is on the master branch now and will be in the 20.05 release.

[2020-04-28 16:14] pateldarsh opened #382 "MUL & FullyConnected layer takes more processing time for QAsymmS8 than Float32 Datatype"
Hi,

I quantized ONet ( Part of [MTCNN](https://github.com/timesler/facenet-pytorch) ). ONet is for facial landmarks detections. But quantized model takes more time compare to FP32 model.

When I analyze layer timing details, FullyConnected layer and Matrix Multiplacation takes more than double time for S8 compare to FP32. I guess, Both internally uses _NEPixelWiseMultiplication_. Convolution laye

[2020-04-29 04:23] #345 closed

[2020-04-29 11:48] MikeJKelly commented on #382
Hi @pateldarsh

it could be expected depending on the kind of hardware that your model is running on. If the processor does not have the 8-bit integer dot-product instruction then using quantized 8-bit wouldn't give you a performance increase, only reduced memory bandwidth. What kind of device are you running on?

[2020-04-30 05:56] pateldarsh commented on #382
Hi @MikeJKelly ,

Thank you for your reply. I am using **NXP iMX 8X** device. It has **4 Cortex A35 cores**.

As I have mentioned, I could see improvment in Convolution layer. I have profiled public MobileNet and SSD COCO. I observed quantized model takes half the time FP32 model on hardware. Depthwise Conv2D time is also reduced.

Please let me know if you want me to run any specific test on my h

[2020-04-30 16:44] morgolock commented on #382
Hi @pateldarsh

Please take a look at my reply here: https://github.com/ARM-software/ComputeLibrary/issues/816

ConvolutionLayer does not use PixelWiseMultiplication.

Comparing individual layers for different types is not quite the same as comparing the full network.

FCLayer and Convolution layer are expected to be slightly slower for quantized types than for fp32 in the absence of the dot produ

[2020-05-05 17:15] najiji opened #383 "input & weight must have identical data types."
I am trying to run a tflite model. Upon loading that model into armnn, I get

[code]

When running with CpuAcc backend and

[code]

When running with CpuRef backend. The program then crashes on a segfault upon `LoadNetwork`. Is there a specific form I have to put the tflite network in to make it work?

[2020-05-06 09:10] Colm-in-Arm commented on #383
Hi Thomas,

Can you describe the failing layer please? What are the data types of the input and weights on the Convolution2d layer in the model before conversion?

Could you please tell me a bit more about the "segfault upon LoadNetwork". This shouldn't happen. Which version of ArmNN you're using and on what platform please.

Colm.

[2020-05-06 09:57] najiji commented on #383
Hi Colm,

I figured out where the problem was: When exporting a tf model to tflite, I was giving the converter the option `tf.lite.Optimize.DEFAULT`. Upon inspection of the resulting network, I found that this option ends up quantizing weights in some Conv2D layers to int8, based on some heuristics I presume. Not giving this options leaves the network alone and all is in float32 as expected.

I am

[2020-05-07 14:48] pateldarsh commented on #383
Hi @najiji ,

I have faced similar issue with quantized networks. In my case, Fully connected layer was creating issue.

Are you getting something like below error ?

[code]

If possible, Please share your model or some information related to types of layers used.

Thanks,
Darshan

[2020-05-11 09:09] najiji commented on #383
@pateldarsh No, I do not get that error, in my case, there is no error at all. I produced a minimal model with just a single 1x1 conv layer and no activation that produces the error. In the attachment both the FP32 version which works in my case, and the int8 version that crashes.

[minimal_models.zip](https://github.com/ARM-software/armnn/files/4608631/minimal_models.zip)

[2020-05-11 11:37] MatthewARM commented on #273
Hi @ggardet there's no global way to disable GPU tests. I've done it before by using test filter expressions. The unit tests use Boost.Test which accepts wildcard tests to disable.

[2020-05-11 12:44] FrancisMurtagh-arm commented on #273
@ggardet

Re: Filtering tests for CL; I used these filters for 19.11 in case it helps:

`./UnitTests  --run_test=!Compute_ArmComputeCl:!MemCopyClNeon:!CreateWorkloadCl:!ClEndToEnd:!ClLayerSupport:!ClOptimizedNetwork:!ClJsonPrinter:!ClRuntime:!Fp16Support:!OpenClTimerBatchNorm:!ClMemCopy`

Francis.

[2020-05-12 09:56] #383 closed

[2020-05-12 15:07] zx854217561 opened #384 "build error"
I am trying to build armnn on ubuntu18.04

Scanning dependencies of target armnnAclCommon
[ 15%] Building CXX object src/backends/aclCommon/CMakeFiles/armnnAclCommon.dir/ArmComputeTensorUtils.cpp.o
In file included from /home/zmou/armnn/src/backends/aclCommon/ArmComputeTensorUtils.cpp:6:0:
/home/zmou/armnn/src/backends/aclCommon/ArmComputeUtils.hpp: In function ‘arm_compute::ActivationLayerInfo::A

[2020-05-12 15:32] MatthewARM commented on #384
Hi @zx854217561 it looks like you're building with the master branch of Arm NN, but an older version of Compute Library.

If you need the master branch of Arm NN then you will also need a recent unreleased version of Compute Library. (From the development gerrit repo at review.mplatform.org)

Alternatively, you could use the latest released version of Arm NN (20.02) which will work fine with the c

[2020-05-12 18:43] zx854217561 commented on #384
hi@MatthewARM
I follow with the https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideCrossCompilation.md
may be i git the wrong version?
which version should i use?

[2020-05-12 18:46] zx854217561 commented on #384
hi@MatthewARM
I follow with the https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideCrossCompilation.md
may be i git the wrong version?
which version should i use?

[2020-05-13 08:29] MatthewARM commented on #384
Strange, those instructions should get the 20.02 release, I'll check over them.

In any case, you can fix it by checking out the 20.02 release branch:

[code]

[2020-05-13 11:32] GalMoore opened #385 "Example ONNX running with Arm NN on server"
Hey -  I was hoping you could point me in the right direction:

1. When I [build an environment](https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-onnx/single-page) for ONNX, I see ONNX protobuf source files are created. Could you explain where is the architecture definition and where are the weights?
2. Lo

[2020-05-13 12:28] MatthewARM commented on #385
Hi @GalMoore

1. The generated files in the build step are part of the Arm NN ONNX *parser*, ie. they contain code for decoding ONNX files. Your network architecture definition and weights should be in either a .pb or .onnx file generated by some other tool. E.g. the ONNX exporter from PyTorch.
2. Unfortunately the only example for reading ONNX files in the Arm NN tree is in the test system, which

[2020-05-13 14:34] zx854217561 commented on #384
thank u so much

[2020-05-13 16:00] Colm-in-Arm commented on #241
WIP review for this change. Some outstanding work in the Caffe parser.

[2020-05-15 10:49] ivs-pychen opened #386 "cross compile arm nn tensorflow lite for ZCU104"
What libraries do I need to install for cross compiling arm nn for ZCU104 platform and Tensorflow Lite? The OS is petalinux. Can I just follow the procedure https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/cross-compiling-arm-nn-for-the-raspberry-pi-and-tensorflow/single-page?

[2020-05-15 15:38] MikeJKelly commented on #386
Yes, that should be enough, that guide lists the libraries that are required to cross build armnn.

[2020-05-15 16:31] ivs-pychen commented on #386
Thanks for your reply. I'll try it.

[2020-05-15 17:20] ivs-pychen opened #387 "cross compiling error when build the Arm NN for tensorflow lite"
I follow the steps in https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/cross-compiling-arm-nn-for-the-raspberry-pi-and-tensorflow/single-page to cross compile the Arm NN.
But I got the following error
[ 49%] Linking CXX shared library libarmnn.so
/home/ivslab/armnn-zcu104/ComputeLibrary/build/libarm_compute_core-static.a: error adding symbols: File forma

[2020-05-16 07:40] pradeepkrnik commented on #378
pradeep.k@PradeepK-LaptopU:.../lib$ find . -name "arm_neon.h"
./gcc-cross/aarch64-linux-gnu/5/include/arm_neon.h
./llvm-3.8/lib/clang/3.8.0/include/arm_neon.h
./llvm-6.0/lib/clang/6.0.1/include/arm_neon.h

But still the error is present -- any help.

[2020-05-16 13:10] MikeJKelly commented on #386
Hi @ivs-pychen

thinking about it a bit more I think you may have better luck with the armnn crossbuild guide at https://github.com/ARM-software/armnn/blob/master/BuildGuideCrossCompilation.md

[2020-05-16 13:16] MikeJKelly commented on #387
Hi @ivs-pychen

thinking about it a bit more I think you may have better luck with the armnn crossbuild guide at https://github.com/ARM-software/armnn/blob/master/BuildGuideCrossCompilation.md

The raspberry pi guide mentions building compute library for an earlier architecture (armv7a) but your device has a more recent one so you should be using something more like (arm64-v8a)

[2020-05-19 09:43] Colm-in-Arm commented on #378
Hi @pradeepkrnik,

I've looked at the compile chain and I can't find anything specific to the ArmNN build added to pick up arm_neon.h. It is relying on the default compiler include path to find it. Is there something in your environment that is overriding the default include paths for the compiler? Have you set C_INCLUDE_PATH or CPLUS_INCLUDE_PATH?

Colm.

[2020-05-20 09:06] Colm-in-Arm commented on #384
Both BuildGuideAndroidNDK.md  and BuildGuideCrossCompilation.md have been updated for the 20.05 release.

https://review.mlplatform.org/c/ml/armnn/+/3224

Colm.

[2020-05-20 09:06] #384 closed

[2020-05-20 16:14] MatthewARM commented on #379
Hi @Qengineering do you mean the code in https://github.com/ARM-software/ML-examples/tree/master/armnn-mobilenet-quant ?

[2020-05-20 16:25] Qengineering commented on #379
Indeed, however, it is not entirely clear. With the grace-hopper.bmp you get the "Windsor tie" as an incorrect result. On this site, you see this error also at the end, if you look carefully: https://medium.com/@RouYunPan/arm-nn-on-rpi4-806ef8a10e61
On the other hand, when I run the "school bus" image, it gives the correct output.

[2020-05-21 09:17] Colm-in-Arm commented on #111
Thanks for the submission Jegathesan.

It'll wind its way through the review process. I'm going to close this feature request now. You can track it through the review.

https://review.mlplatform.org/c/ml/armnn/+/2935

Colm.

[2020-05-21 09:17] #111 closed

[2020-05-21 09:48] Colm-in-Arm commented on #117
Hi @Younghee02,

If you still need this operator you can open a new issue specifying which of the two Tensorflow operator it is. In the meantime I'll close this issue.

Colm.

[2020-05-21 09:48] #117 closed

[2020-05-21 09:55] Colm-in-Arm commented on #165
Hi @georgeokelly  and @ggardet.

I presume you're both happy with the resolution of this issue? If I hear nothing back I'll close it in a week or so.

Colm.

[2020-05-21 10:05] Colm-in-Arm commented on #177
Hi @lwu025,

Is this still an issue you'd like to work with us on? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 10:12] Colm-in-Arm commented on #180
Hi @AaronLiu92 ,

We now have a TfLite getting-started guide
https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-tensorflow-lite

and a how-to using TfLite and mobilenet-v1
https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/deploying-a-quantized-tensorflow-lite-mobile

[2020-05-21 10:12] #180 closed

[2020-05-21 10:13] #188 closed

[2020-05-21 10:20] Colm-in-Arm commented on #194
Hi @Decode2Code,

Do you still need these operators? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 10:22] Colm-in-Arm commented on #205
Hi @rakshithhv,

Is this still an issue you'd like to work with us on? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 10:29] Colm-in-Arm commented on #206
Hi @perise,

Did you manage to complete the setup? There is also a Docker solution in review right now which might make things easier for you. If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 10:34] Colm-in-Arm commented on #212
Hi @FSet89,

Are you happy that this issue is resolved? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 10:36] Colm-in-Arm commented on #216
Hi @soysr,

Did you get past this issue? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 10:59] Colm-in-Arm commented on #217
Hi @FSet89,

Is this still an issue you'd like to work with us on? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 11:02] Colm-in-Arm commented on #218
Hi @FSet89,

I think we've answered most of your questions here. Feel free to open a new issue if there's more to discuss.

Colm.

[2020-05-21 11:02] #218 closed

[2020-05-21 11:05] Colm-in-Arm commented on #220
Hi @FSet89,

Are you happy with the additional documentation? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 11:06] #225 closed

[2020-05-21 11:09] #231 closed

[2020-05-21 11:11] Colm-in-Arm commented on #232
Hi @td-embeans,

Is this still an issue you'd like to work with us on? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 11:54] Colm-in-Arm commented on #241
So it turns out that both Caffe and Tendorflow parsers do allow 4D fully connected type layers. As this is functionality that is currently working and being actively tested via the Mnist network we won't remove it.

If a backend does not want to support 4D inputs for fully connected then it can fail the appropriate IsSupported call. The user can then decide to fall back to another backend.

This i

[2020-05-21 11:54] #241 closed

[2020-05-21 12:56] MatthewARM opened #388 "Arm NN TfLite parser accepts illegal TfLite files"
In https://www.tensorflow.org/lite/performance/quantization_spec it's documented for several operators that "restriction: Input and outputs must all have same scale/zero_point". We're not checking  that in the Arm NN TfLite parser, so we'll pass through the net into Arm NN, and then most likely the backends will reject the operator. Should we be stricter on input?

[2020-05-21 13:59] Colm-in-Arm commented on #239
Hi @ilous12,

Did @MatthewARM suggestions work for you? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-21 14:01] Colm-in-Arm commented on #244
No response from @sunshinemyson. We can close this now.

[2020-05-21 14:01] #244 closed

[2020-05-21 14:10] Colm-in-Arm commented on #248
Hi @rahulc93,

We still don't have support for INT64. Avoiding that operator would require some model specific optimization. I'm afraid you're on your own with that.

Colm.

[2020-05-21 14:10] #248 closed

[2020-05-21 14:48] #253 closed

[2020-05-21 14:50] #254 closed

[2020-05-21 14:51] #260 closed

[2020-05-21 14:58] MikeJKelly commented on #315
Hi,

you are correct that the instance normalization on Neon does not support qasymm8 only FP16 and FP32. It is supported on the reference backend so a workaround could be to use both the CpuAcc and CpuRef backends.

Best regards,
Mike

[2020-05-21 16:01] wangg opened #389 "Is there any way to run armnn format model with pyarmnn?"
I think I need an IDeserializer to parse armnn format model, but it seems like that IDeserializer is not exposed in the Python interface while all other parsers are? I want to test the quantization of armnn, which I think only works with armnn format models, and pyarmnn is preferred since I can test things really fast with it. Please let me know if I missed something.

[2020-05-23 22:59] ome61952 commented on #352
@zanazakaryaie were you able to fix this issue with @nikraj01  solution. Seems like you have built successfully, I am facing same issue. Can you please let us know the steps you used to solve this issue

[2020-05-24 11:27] darshjp opened #390 "How to restrict number of cores used by CNN Inference ?"
Hi,

I am using ARMNN v20.02 on iMX8x platfrom. It has 4 A35 core. By default, When I run any network using `runtime->EnqueueWorkload `API with `CpuAcc`, It uses all 4 cores. Is there a way to customize this ? I want to restrict it to 2 cores only as customer applications runs on other two cores.

I guess, `arm_compute::IScheduler` has API `set_num_threads`  but I am not sure if it's available at

[2020-05-25 06:01] ggardet commented on #165
Hmm, not really, we should have access to images known to work.

[2020-05-25 14:55] GalMoore opened #391 "aarch64-linux-gnu-ar: command not found in build"
Hey,

I'm following [this](https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-onnx/single-page) and encounter

[2020-05-25 14:55] #391 closed

[2020-05-25 19:39] zanazakaryaie commented on #352
@nikraj01 @ome61952
Yes, I resolved the issue by moving to Raspberry Pi. Odroid XU4 has 32bit CPU and is not good for testing armnn. So I moved to a Raspberry Pi and installed a 64bit OS (Ubuntu Mate). Then followed the armnn tutorials. After building the library, there were some warnings when running ./UnitTests, but I could run the Mobilenet SSD Lite on an image with 6 FPS approximately.

[2020-05-26 07:44] ome61952 commented on #352
@zanazakaryaie  That's great news.
I also managed to solve this issue on 32-bit ARMv7 Processor on Tinkerboard S using the recommendation from https://github.com/ARM-software/armnn/issues/158.

I am trying to build a Resnet50 based face recognizer and it is extremely slow on GPU and NEON around ~700-900ms per frame.  Do you think moving to 64bit processor will help?

[2020-05-26 08:10] zanazakaryaie commented on #352
@ome61952 Yes I think. Check #362

Tensorflow itself is also optimized for 64bit OS.

[2020-05-26 16:24] K1504296 opened #392 "Running ArmNN UnitTests on STM32MP1 Yocto build"
Hello we've been working towards getting a Yocto ArmNN build running on various boards for CI purposes. When running the UnitTests on the stm32mp1 board there are errors. I'm not exactly sure how to resolve these errors so any help would be appreciated.

This is the log from when the UnitTests are run:

root@stm32mp1:/usr/local/bin/armnn-20.02/tools/UnitTests# ./UnitTests
Running 2523 test cases..

[2020-05-27 10:25] MikeJKelly commented on #390
Hi

as you say setup_backend_context is not available through the ArmNN runtime API level but you should be able to control the number of threads by doing something like:

[code]

[2020-05-27 13:58] Colm-in-Arm commented on #392
Hi Theodore,

Some of those errors look familiar, in particular the ExternalProfiling ones. They were causing problems on some types of Raspberry Pi's. We have fixed them since 20.02. Would be it possible for you to compile against master and see what errors you encounter? Failing that 20.05 is due out before the end of the month. Can you also tell me if your build included Valgrind (VALGRIND_FOUN

[2020-05-27 14:05] Colm-in-Arm commented on #262
Hi @gobotix,

Have you since verified that the ACL fix works for you? If I hear nothing back I'll close this in a week or so.

Colm.

[2020-05-27 14:08] #292 closed

[2020-05-27 14:16] Colm-in-Arm commented on #293
This should be implemented in 20.05

[2020-05-27 14:18] Colm-in-Arm commented on #295
Hi @td-embeans,

Would you be willing to contribute your modification to the Caffe parser?

Colm.

[2020-05-27 14:19] #296 closed

[2020-05-27 14:30] Colm-in-Arm commented on #310
Hi @paragikjain,

Is this a problem you still need help with?

One little thing I noticed in your original error is that you are overwriting the LD_LIBRARY_PATH variable rather than adding to it.

Colm.

[2020-05-27 15:18] K1504296 commented on #392
Hey Colm,

That's great news, I'll rebuild with the master branch and see if that resolves or at least reduces the errors. I don't believe that the build currently includes Valgrind; however, I'll see if I can get it added for the rebuild if that would be useful.

Theodore

[2020-05-27 15:25] gobotix commented on #262
Has this been properly fixed? The proposed fix which is now in release 19.11 is a mutex in every single layer, which made this very slow when multi-threading. I found it much faster to simply mutex the entire inference call when calling CPUAcc...

[2020-05-27 15:26] gobotix commented on #232
I wrote the PRELU parser myself but it doesn't handle all variants of it so would prefer a full version provided by yourselves if you are going to provide it as part of the CaffeParser?

[2020-05-27 16:05] MatthewARM commented on #262
@morgolock any news on this from the Compute Library side?

[2020-05-27 20:19] morgolock commented on #262
Hi @MatthewARM

From our side, the workaround is still required because the final solution has not yet been fully implemented. The issue here is that ACL's schedulers were not meant for production, we thought that the users of ACL would be likely to implement their own thread-safe scheduler :-)

We have done some work to address this but it's not complete.

The plan is to pass a context to each fu

[2020-05-28 04:38] #390 closed

[2020-05-28 10:01] Burton2000 commented on #252
I also got a similar error with the quantized deep speech model, it looks like the model is only quantized using post-training quantization and not full integer quantizaiton. I am guessing the tflite parser can't deal with this kind of graph?

[2020-05-28 10:05] ggardet commented on #326
Anything I could do to move forward?

[2020-05-28 12:48] MatthewARM commented on #326
Thanks @ggardet, if you have time to help we need to figure out:

* If we're using boost::log or boost::thread directly from ArmNN, then they need to be added to the list of boost libraries requested in GlobalConfig.cmake
* If the log and/or thread libraries are needed indirectly by one of the boost libraries that we _are_ using directly, then we need to see if an update to FindBoost.cmake will fi

[2020-05-28 13:04] paragikjain commented on #310
HI Thanks for response . Now i am not getting this issue.

[2020-05-28 13:04] #310 closed

[2020-05-28 15:01] ggardet commented on #326
I retried the build (without any downstream patches) and it just passed with armnn 20.02 without adding `log` and `thread` to the list of boost libraries. So, I will close this ticket as all issues are now addressed.
Thanks!

[2020-05-28 15:01] #326 closed

[2020-05-29 14:04] Colm-in-Arm commented on #389
Hi Guanqun,

Strangely enough the answer is no. We have interfaces for Caffe, TF, Onnx and TfLite but not for our de-serializer. I'll talk to some people and see if it is something we're planning on adding.

In the meantime if you'd like to contribute a SWIG wrapper for it we can help you.

Colm.

[2020-06-02 06:27] wangg commented on #389
Hi Colm,

If nobody is planning on this, I would like to have a try. One thing I am concerned about is that IDeseiralizer does not have a CreateNetworkFromBinaryFile method like other parsers. I am just wondering if it is necessary to implement one before making a SWIG wrapper?

Wang

[2020-06-02 09:07] GalMoore commented on #385
Thanks @MatthewARM.

I'm trying to run the OnnxMnist-Armnn executable after compiling ArmNN following  [these steps](https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-onnx/single-page) and enabling the following rows [here](https://github.com/ARM-software/armnn/blob/branches/armnn_20_05/cmake/GlobalConfig.c

[2020-06-02 09:34] MatthewARM commented on #385
Hi @GalMoore that error indicates that the NEON backend ("CPU Accelerated" or CpuAcc) hasn't been linked in to your Arm NN.

You need to add `-DARMCOMPUTENEON=1` to your cmake command, as per the section on "If you are supporting NEON..." at https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-onnx/single-page

[2020-06-03 12:50] K1504296 commented on #392
Hey Colm,
Switching to the master branch resolved all errors except two of them. Unfortunately it was not built with Valgrind. I've found simil

+ ./UnitTests
Running 2873 test cases...
/home/theodore/Yocto/openstlinux-20-02-19/build-openstlinuxweston-stm32mp1/tmp-glibc/work/cortexa7t2hf-neon-vfpv4-ostl-linux-gnueabi/armnn/20.05-r0/git/src/backends/backendsCommon/test/BackendProfilingTests.cpp(504

[2020-06-03 12:55] GalMoore commented on #385
Thank you @MatthewARM. I am going through [this]( https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-onnx/single-page#build-arm-nn) again, but fail to compile ComputeLibrary with `neon=1` ending with this error:

![image](https://user-images.githubusercontent.com/14869708/83638718-3fb7e700-a5b2-11ea-87da-4fe

[2020-06-03 13:16] MatthewARM commented on #385
Hi @GalMoore,

The backends that are in the Arm NN codebase are:
CpuAcc - acceleration provided by Compute Library NEON routines
GpuAcc - acceleration provided by Compute Library OpenC routines
CpuRef - no acceleration (reference C++ routines)

So if you want CpuAcc you have to compile Compute Library NEON support.
If you just want to run on CPU to try out things on the Arm NN frontend you can use

[2020-06-03 14:14] Colm-in-Arm commented on #389
Hi Wang,

There's no immediate plan to implement this but it has been recognized as a something we'd like to add. We would welcome your contribution.

In the case of IDeserializer no special handling is required around reading the binary file. It's done directly before the network is de-serialized. Have a look at InferenceModel.hpp under tests. The ARMNN_SERIALIZER template starting around line 17

[2020-06-03 14:21] #177 closed

[2020-06-03 14:21] #194 closed

[2020-06-03 14:22] #205 closed

[2020-06-03 14:22] #206 closed

[2020-06-03 14:22] #212 closed

[2020-06-03 14:23] #216 closed

[2020-06-03 14:23] #217 closed

[2020-06-03 14:23] #220 closed

[2020-06-03 14:24] #239 closed

[2020-06-03 15:39] vinceab opened #393 "TFLite parser: failed to CreateNetworkFromBinaryFile with squeeznet.tflite and inceptionv3.tflite"
Both inceptionv3.tflite and squeeznet.tflite models are floating point models and come from:
https://www.tensorflow.org/lite/guide/hosted_models

The following code:
armnnTfLiteParser::ITfLiteParserPtr parser = armnnTfLiteParser::ITfLiteParser::Create();
armnn::INetworkPtr network = parser->CreateNetworkFromBinaryFile("squeeznet.tflite");

Leads to the following issue:
terminate called after throw

[2020-06-03 15:59] Colm-in-Arm commented on #165
As a short term solution I searched for the specific images so we can at least refer to what appears to be the origin:

shark.jpg appears to be a stock image provided by Norbert Wu:
http://www.norbertwu.com/nwp/landscape-subjects-for-calendars/australia_web/detail.np/detail-178.html

Dog.jpg also appears to be a stock image but I can't find an original source. Several sites refer to it being CCO p

[2020-06-03 16:02] Colm-in-Arm commented on #232
Hi @gobotix,

There are no short term plans to add PRELU to the Caffe parser. We would welcome your version of it. It would go through the review process and we can help fill in the gaps.

Colm.

[2020-06-04 04:40] kannanrn commented on #383
Hi Najiji,

Even I am facing exactly the same issue with same error message and failure at armnn::Optimize call.

Could you please elaborate the steps you followed to resolve this issue.  Thanks for your support.

Kannan

[2020-06-04 07:33] GalMoore commented on #385
Thanks @MatthewARM. I'm running a 64-bit server microprocessor called [Kunpeng 920](https://en.wikichip.org/wiki/hisilicon/kunpeng/920-6426) which is ARMv8.2. I am building on target (not cross-compile) so using `build=native` flag together with` neon=1` in scons.

[2020-06-04 07:35] krBarma opened #394 "Convolution2d: input and weights types mismatched while running yolov3tiny.tflite"
Hi,

I am using ARMNN v20.02 on the S32V234 vision processor, getting below error while running quantized yolov3tiny.tflie on ubuntu as well. Mobilenet example is running properly.
./tests/TfLiteYoloV3Big-Armnn /Downloads/armnn-temp/yoloweights/ /Downloads/armnn-temp/yoloweights/
Info: ArmNN v21.0.0

Info: Initialization time: 0.07 ms

Info: Loading backbone...
Debug: Model loaded ok: /home/cll/Do

[2020-06-04 07:50] MatthewARM commented on #385
Have you set `arch=arm64-v8.2-a` when building ComputeLibrary? It's strange to see this error though as I thought that fadd was a core NEON instruction.

@morgolock any suggestions about the Compute Library compile error?

[2020-06-04 08:06] choice17 commented on #128
Hi, I am implementing mtcnn in armnn where pnet needs dynamic changing of input tensor shape, any update about the resizeInputTensor similar to tensorflowlite Interpreter::ResizeInputTensor?

[2020-06-04 08:17] MatthewARM commented on #128
Hi @choice17 it's proving hard to implement as the memory layout is connected to lots of things in both Arm NN and Compute Library. We are working on it but it's not going to be soon.

[2020-06-04 08:22] krBarma opened #395 "Need yolov3tiny test example with .tflite files"
Hi,

Can you please provide test example for yolov3tiny with int8 and float .tflite files.

Thanks.

[2020-06-04 08:28] morgolock commented on #385
Hi @GalMoore

Could you please share the full output of the compiler to have a better view of the error?

Could you please also share the output of `g++ -v`?

Does the library build for arch=armv8-a?

[2020-06-04 09:20] choice17 opened #396 "[TfLite Quant] CpuAcc outputs different value to CpuRef during inference"
Hi,

I tried to implement mtcnn(tflite quant version) with armnn. And I implemented Prelu activation using NEG ops in tensorflow lite.
Refer to https://github.com/ARM-software/ML-examples/tree/master/armnn-mobilenet-quant project. I can now compile and load/run network. However the result from runtime option "CpuAcc" give different result to "CpuRef".

Refer to https://github.com/ARM-software/armn

[2020-06-04 09:36] GalMoore commented on #385
Thanks @MatthewARM and @morgolock.

I've now managed to compile ComputeLibrary with  `arch=arm64-v8.2-a` (was previously using `arch=arm64-v8a`). Then left Boost, Google protobuf and Onnx protobuf as they were from previous builds, deleted Armnn build dir and tried building; this time with

fails at

/home/gal/armnn-onnx/armnn/src/backends/neon/workloads/NeonSoftmaxBaseWorkload.cpp: In function ‘a

[2020-06-04 09:40] ggardet commented on #165
`Dog.jpg` does not seem to work, at least with `TfLiteMnasNet-Armnn`. It matches label 160 instead of 209.
Could you double check this is the file used in CI/CD, please?

[2020-06-04 12:12] MatthewARM commented on #385
NeonSoftmaxWorkload.cpp has been changed a bit over the last few months. If you are on older code I'd suggest updating to the v20.05 release code (both Compute Library and Arm NN) and trying again.

Specifically, I think the warning you are seeing was fixed in efc5da41

[2020-06-04 14:17] Colm-in-Arm commented on #165
It's a pity I can't find  an attributable source for that image. Can you try this link instead please:

https://pixabay.com/static/uploads/photo/2016/02/19/15/46/dog-1210559_960_720.jpg

It is the correct image. It should be 136886 bytes in size.

Colm.

[2020-06-04 17:23] GalMoore commented on #385
Thanks @MatthewARM with the help of [this tutorial](https://en.opensuse.org/Arm_NN) and the explanations above got it to work now. Thanks again.

[2020-06-05 05:42] xinchenhawaii opened #397 "ONNX parser reshape operator support"
I define forward function of MobilenetV2 in imagenet
def _forward_impl(self, x):
        # This exists since TorchScript doesn't support inheritance, so the superclass method
        # (this one) needs to have a name other than `forward` that can be accessed in a subclass
        x = self.features(x)
        # Cannot use "squeeze" as batch-size can be 1 => must use reshape with x.shape[0]

[2020-06-05 07:28] ggardet commented on #165
With that one, it works again with the subset of tests I run. Thanks!

[2020-06-05 08:36] MatthewARM commented on #396
Heh, I do remember saying that on #97 back in 2018. Sadly it's not true any more - the TfLite quantisation scheme has completely changed, which we really had to follow so that we could continue to be a drop-in replacement for TfLite. Meanwhile the CpuRef backend was getting almost as complicated as the accelerated backends, so it was losing its purpose as a reference for how operators were suppose

[2020-06-05 08:44] #165 closed

[2020-06-05 08:52] Colm-in-Arm commented on #393
Hi Vincent,

Can you tell me what target environment and which version of ArmNN you were using please. I'll try and recreate on x86_64 with ArmNN master today.

Colm.

[2020-06-05 08:59] vinceab commented on #393
Hi Colm,

I am using armnn 20.05 on a arm 32bits system STM32MP1 dual cortexA7.

Vincent

[2020-06-05 09:01] MatthewARM commented on #385
Thanks @GalMoore and that is a pretty awesome tutorial. We should probably link to it from the Readme.

Closing this issue, don't hesitate to open a new one if you have any more problems.

[2020-06-05 09:01] #385 closed

[2020-06-05 15:16] Colm-in-Arm commented on #393
I just spotted we have a plan to fix the difference in shape handling between Android NDK and TF.

[2020-06-05 15:44] ggardet opened #398 "Build fail on 20.05 with: error: catching polymorphic type 'class armnn::Exception' by value"
Build fail with GCC10 on version 20.05 with: `error: catching polymorphic type 'class armnn::Exception' by value`
[code]

[2020-06-05 15:46] ggardet commented on #398
Cc @DerekLambertiOfArm @TeresaARM

[2020-06-05 16:52] Colm-in-Arm commented on #393
Hi Vincent,

I've managed to recreate both problems on v7 32bit. It occurs on both 20.05 and on master. I'll start investigating next week.

Colm.

[2020-06-06 05:42] xinchenhawaii opened #399 "GEMM operator"
Linear gemm operator issues. ARMNN doesn't support linear gemm operator. However, it is a widely used function. Could you support it ?

[2020-06-08 09:29] ggardet commented on #398
The following patch  fixes it:
[code]

[2020-06-08 09:37] MatthewARM commented on #398
Fixed in 855a47b1b0a

[2020-06-08 09:37] #398 closed

[2020-06-08 09:46] MatthewARM commented on #399
Hi @xinchenhawaii it could be possible. There hasn't been much demand for it so far as there's no GEMM operator in TfLite or NNAPI which are the front-ends where we have best coverage. Could you explain how you're using it, and how you are using the Arm NN API? Which parsers would you need it in or are you using the Arm NN graph API directly?

[2020-06-08 10:04] mathpopo commented on #66
@MatthewARM  i also meet this issue
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/build$ CXX=aarch64-linux-android-clang++ CC=aarch64-linux-android-clang CXX_FLAGS="-fPIE -fPIC" cmake ..     -DCMAKE_ANDROID_NDK=$NDK     -DCMAKE_SYSTEM_NAME=Android     -DCMAKE_SYSTEM_VERSION=27     -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a     -DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz"     -DARMCOMPUTE_ROOT=$HOME/armnn-d

[2020-06-08 10:10] mathpopo opened #400 "Build ArmNN error"
@MatthewARM i also meet this issue
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/build$ CXX=aarch64-linux-android-clang++ CC=aarch64-linux-android-clang CXX_FLAGS="-fPIE -fPIC" cmake .. -DCMAKE_ANDROID_NDK=$NDK -DCMAKE_SYSTEM_NAME=Android -DCMAKE_SYSTEM_VERSION=27 -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a -DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz" -DARMCOMPUTE_ROOT=$HOME/armnn-devenv/ComputeLibrary/ -DA

[2020-06-08 10:11] mathpopo commented on #400
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/build$ aarch64-linux-android-clang
clang: error: no input files
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/build$ aarch64-linux-android-clang++
clang++: error: no input files

[2020-06-08 10:12] mathpopo commented on #400
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/build$ which aarch64-linux-android-clang
/home/chenxin/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android-clang
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/build$ which aarch64-linux-android-clang++
/home/chenxin/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bi

[2020-06-08 10:19] mathpopo commented on #400
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn$ git log .
commit 42ce2484624c7e81e08811f48b2ce6b930b2d949 (HEAD -> branches/armnn_20_02, origin/branches/armnn_20_02)
Author: nikraj01 <44364373+nikraj01@users.noreply.github.com>
Date:   Thu Apr 16 16:44:16 2020 +0100

    Update README.md

commit 983f360ecd131451ea8d2c8cbb2685e5bf847725
Author: nikraj01 <44364373+nikraj01@users.noreply.github.com>

[2020-06-08 13:16] MatthewARM commented on #400
Looks like cmake is bombing out very early, it can't even detect how to run the compiler properly.

@mathpopo which OS and which versionof cmake are you using?

@nikraj01 which version of cmake do we use for testing the Android NDK build instructions?

[2020-06-08 13:45] uu-praveeng commented on #315
Sure . We will try out with CpuRef/CpuAcc.

[2020-06-08 13:45] #315 closed

[2020-06-08 13:46] uu-praveeng commented on #347
Hi @morgolock

Any update on this. Let me know if you need any inputs.

Thank you,
Praveen

[2020-06-08 14:09] nikraj01 commented on #400
We use cmake 3.16

[2020-06-08 14:13] MatthewARM commented on #400
Ah, looks like @mathpopo uses 3.15 which is close and should be fine.

[2020-06-08 14:14] MatthewARM commented on #400
I think that the issue is that CC and CXX are set to `aarch64-linux-android-clang
clang` and `aarch64-linux-android-clang++`. i think an API level should be in there somewhere.

[2020-06-08 14:17] MatthewARM commented on #400
@mathpopo I think you need to change your CC and CXX settings to:

`CXX=aarch64-linux-android21-clang++ CC=aarch64-linux-android21-clang`

This corresponds to the `<Android_API>` bit in the instructions at https://github.com/ARM-software/armnn/blob/branches/armnn_20_05/BuildGuideAndroidNDK.md

[2020-06-09 01:42] mathpopo commented on #400
@MatthewARM  firstly thank you for your support, my env:OS:UBUNTU18.04 CMAKE:3.15.0-rc4
ndk:
/llvm/prebuilt/linux-x86_64/bin$ ll /home/chenxin/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android-clang
lrwxrwxrwx 1 root root 29 6月   9 09:17 /home/chenxin/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-li

[2020-06-09 01:44] mathpopo commented on #400
(base) chenxin@Nitro-AN515:~/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin$ ./clang
clang: error: no input files
(base) chenxin@Nitro-AN515:~/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin$ ll ./clang
-rwxr-xr-x 1 chenxin chenxin 57468480 10月 17  2019 ./clang*

[2020-06-09 05:47] mathpopo commented on #400
@MatthewARM
because :
(base) chenxin@Nitro-AN515:~/armnn-devenv/ComputeLibrary$ scons arch=arm64-v8a neon=1 opencl=1 embed_kernels=1 extra_cxx_flags="-fPIC"  benchmark_tests=0 validation_tests=0 os=android -j16
scons: Reading SConscript files ...
ERROR: Compiler ' aarch64-linux-android-clang++' not found

so i ln -s aarch64-linux-android21-clang++ aarch64-linux-android-clang++

[2020-06-09 08:10] morgolock commented on #347
Hi @uu-praveeng

Could you please provide some numbers showing the differences you mentioned?

ArmNN quantisation is experimental, I'd suggest using tensorflow quantisation tools instead.

[2020-06-09 08:12] xinchenhawaii commented on #399
Hi Matthew,

Nice to hear back from you. I just began to use the ONNX parser. However,
this parser supported fewer operators than tflite and TF.

When we use nn.linear in pytorch, which is widely used layer in
classification, it will be converted to GEMM in ONNX. Without it, most of
models trained by pytorch can't be used in armnn. I have rewrite nn.linear
as  weight*transpose(input)+bias. But onn

[2020-06-09 08:19] xinchenhawaii opened #401 "ModelProto class problem"
I am working on writing ONNXParser new layer Transpose following Deserializer.cpp

void Deserializer::ParseTranspose(GraphPtr graph, unsigned int layerIndex)
{
    CHECK_LAYERS(graph, 0, layerIndex);

    auto dimsMapping = graph->layers()->Get(layerIndex)->layer_as_TransposeLayer()->descriptor()->dimMappings();

    auto inputs = GetInputs(graph, layerIndex);
    CHECK_VALID_SIZE(inputs.size(), 1

[2020-06-09 09:06] choice17 commented on #396
@MatthewARM , is that true for floating point inference (CpuAcc vs CpuRef) ? As I observe subtle differences between CpuAcc and CpuRef using CaffeParser floating point model.

[2020-06-09 09:24] Colm-in-Arm commented on #397
Hi @xinchenhawaii

I won't pretend I can follow what you're trying to achieve. However, if you're trying to load an Onnx "Shape" operator into our Onnx parser then I'm afraid we don't support it. We do support the "Reshape" operator. If you can find some way to avoid the call to shape then I think it should work.

Colm.

[2020-06-09 09:28] l-oneil opened #402 "ArmNN on Mac OS - Unit Tests Fail with Boost"
Hello,

I had an issue regarding the compilation of ArmNN on Mac OS environment and I wanted to document this somewhere to help anyone experiencing the issue in future.

I ran into an issue when compiling ArmNN on Mac OS where the unit tests were failing with issues such as:
`libgatordMockService.a(CommandLineProcessor.cpp.o): In function boost::program_options::basic_command_line_parser<char>::ex

[2020-06-09 10:46] Colm-in-Arm commented on #402
Hi @l-oneil

Thanks for your contribution. I'll see if we can add this to the FAQ document.

Colm.

[2020-06-09 10:46] MatthewARM commented on #399
Hi @xinchenhawaii thanks for this information, it's great to hear that that you can contribute and I hope we can help.

I think the attribute you need is called `perm' in the ONNX transpose layer: https://github.com/onnx/onnx/blob/master/docs/Operators.md#Transpose

So you'll need something like this in OnnxParser::ParseTranspose (I've not tried any of this):

[code]

Hope that helps,
Matthew

[2020-06-09 10:58] MatthewARM commented on #401
Hi @xinchenhawaii I've answered the specific question about dimMappings in a reply to Issue #399.

In general:

Deserializer.cpp is for parsing .armm files using the protobuf schema defined at armnn/src/armnnSerializer/ArmnnSchema.fbs. You can use that as an example of how to create Arm NN layers, but you will need to have different code for reading and parsing the ONNX files.

modelProto is a poi

[2020-06-09 12:15] vnn0804 opened #403 "Anyone tested TfLiteYoloV3Big-Armnn code ?"
Hello,
If anyone test above example please give me .tflite file and help me how to run above demo code

[2020-06-09 12:57] MatthewARM commented on #396
For floating point the numbers should be identical _except_ for 3x3 convolution where the Compute Library may choose to use a Winograd implementation (for speed) instead of GEMM. That has the same mathematical definition but performs the floating-point multiply-accumulates in a different order so rounding errors may accumulate differently.

The corresponding documentation in Compute Library is her

[2020-06-10 01:27] choice17 commented on #396
@MatthewARM, thanks again for the quick reply. It would be great to have the debug documentation reference.

[2020-06-10 05:30] xinchenhawaii commented on #399
Hi Matthew,

Thank you for your answer. I finish my ParserTranspose code as following:

void OnnxParser::ParserTranspose(const onnx::NodeProto& node)
{

    std::vector<uint32_t> perm = ReadOptionalNodeUint32ListAttribute(node, "perm");
    if (perm.empty())
    {
        std::cout<<"New disc"<<std::endl;
    }
    else
    {

        TensorShape inputShape = m_TensorsInfo[node.input(0)].m_info->G

[2020-06-10 09:16] Colm-in-Arm commented on #393
Hi Vincent,

There's good news and bad...

I've fixed the exception handling in the TfLiteParser so now the squeeznet.tflite fails gracefully. This is the [commit on master](https://github.com/ARM-software/armnn/commit/6350d27286114dfdae5f65ae1823ba1150087efb).

It still means that this model fails because the format of the Reshape parameter is unsupported. There is an open bug that @TeresaARM rep

[2020-06-10 17:02] ek9852 opened #405 "No async enqueueworkload method"
The EnqueueWorkload is always blocked and wait until the execute is finished.
That mean we cannot use pipeline to prepare the next input tensor.
If hardware backend supports, we should be able to transfer next input tensor to the GPU/DSP  backend memory when the current model is being executed or after the current input tensor had been fetched for execution. This ensure the GPU/DSP will not stalle

[2020-06-11 02:23] wangg commented on #389
@macenpav Thanks for the advice. I have been playing around with my own armnn_deserializer.i for a little while. One problem I noticed is that the current cmake configuration does not build a shared lib for deserializer. For now I just modifed CMakeLists to build one which will be used by SWIG later. I am just wondering if this is the only way to do it?

[2020-06-11 07:56] vinceab commented on #393
Hi Colm,

I confirm that inceptionv3 is running fine.
It was actually a RAM issue. I did not have enough RAM with the STM32MP157C-DK2 board (with 512MB of RAM).
I move to the STM32MP157C-EV1 (with 1GB of RAM) and the model is running fine.

So only the squeeznet is finaly having trouble.

Thanks
Vincent

[2020-06-11 09:43] ivs-pychen opened #406 "Tensorflow C3D model"
I want to implement a Tensorflow C3D model through Arm NN. And I convert the Tensorflow C3D model to Tensorflow Lite format. But the model will contain Tensorflow and Tensorflow lite operation. Does the Arm NN can implement a model contain both the Tensorflow and Tensorflow lite operation?
And does Arm NN can support Tensorflow C3D operation?

[2020-06-11 09:49] MatthewARM commented on #389
Changing CMakeLists.txt to build a shared lib for the Deserializer sounds correct to me. There's no reason not to make it a shared library similar to the other parser front-ends.

[2020-06-11 12:06] MikeJKelly commented on #406
Hi @ivs-pychen

ArmNN does not support the Convolution 3D or max pool 3D operators. They are not currently on our roadmap.

Best regards,
Mike

[2020-06-15 09:24] janeil01 opened #407 "Build error in test apps with GCC9"
When compiling the test apps in armnn 20.05 with GCC9.3 a build warning, which is handled as an error, is showing up.
That problem is solved in this patch ["Catch exceptions by const reference"](https://github.com/ARM-software/armnn/commit/855a47b1b0a78c839a674cc1e61d0668b8c4e349)

Hope this is of help for anybody who is seeing this problem too

[2020-06-15 09:26] #407 closed

[2020-06-16 02:58] ChenBoSyun commented on #399
Hope to hear the news about supporting GEMM.
I have the same problem when using Onnx parser to parse pytorch classification model.
I think it is a widely used function.
Many thanks

[2020-06-16 07:42] mathpopo opened #408 "SampleDynamic_backend.so not exist"
do as https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideAndroidNDK.md
add -DSAMPLE_DYNAMIC_BACKEND=1 \
-DDYNAMIC_BACKEND_PATHS=$SAMPLE_DYNAMIC_BACKEND_PATH

(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/build$ CXX=aarch64-linux-android-clang++ \

-- Android: Targeting API '26' with architecture 'arm64', ABI 'arm64-v8a', and processor 'aarch64'
-- The C compiler identifica

[2020-06-16 08:02] mathpopo commented on #400
@MatthewARM

do as https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideAndroidNDK.md

CXX=aarch64-linux-android-clang++ \

[100%] Linking CXX executable UnitTests
[100%] Built target UnitTests

[2020-06-16 08:03] mathpopo commented on #400
but
-DSAMPLE_DYNAMIC_BACKEND=1 \
-DDYNAMIC_BACKEND_PATHS=$SAMPLE_DYNAMIC_BACKEND_PATH

cannot search libArm_SampleDynamic_backend.so

[2020-06-16 08:11] mathpopo commented on #400
if git checkout branches/armnn_20_02  also compile errror

[2020-06-16 08:11] mathpopo commented on #400
if git checkout branches/armnn_20_02  also compile errror

[2020-06-16 17:59] psyhtest opened #409 "Building ArmNN-dev fails with GCC 6.5 on Odroid XU3"
Building the latest ArmNN works fine on a couple of newer platforms but fails on Odroid XU3:
[code]
I suspect GCC 6.5 can't handle some new C++ constructs?

[2020-06-16 20:48] psyhtest opened #410 "Building ArmNN-dev with ONNX 1.7.0 fails"
I've [deliberately set](https://github.com/ctuning/ck-armnn/commit/6b3f898e2864b04f1b30b2fff535b5f65ad90502) different ONNX releases for the `rel.20.05` and `dev` variations of ArmNN: `1.6.0` and `1.7.0`. The `rel.20.05` variation builds just fine with:
[code]
but the `dev` variation fails:
[code]

[2020-06-17 11:14] james-conroy-arm commented on #379
Hi @Qengineering ,

We have reproduced this and are investigating it now.

Thanks,
James

[2020-06-17 11:25] james-conroy-arm commented on #409
Hi @psyhtest ,

Which platforms did you have success with?

Cheers,
James

[2020-06-17 11:35] nikraj01 commented on #410
Hi @psyhtest
I will try to build ArmNN at my end with 1.7.0
Thanks

[2020-06-17 11:35] psyhtest commented on #409
Hi @james-conroy-arm, Jetson Xavier and Firefly-RK3399 (both with GCC 7.5).

[2020-06-17 14:32] nikraj01 commented on #410
Hi @psyhtest ,
I am getting the same errors on both 20.05 release and master branches of ArmNN. I am using gcc 7.4.
Thanks

[2020-06-18 10:05] james-conroy-arm commented on #379
Hi @Qengineering ,

Please refer to this website for Tensorflow's hosted TfLite models: https://www.tensorflow.org/lite/guide/hosted_models

There are four different versions of the MobileNetV1 quantized model with varying degrees of depth multiplier (channels): 0.25, 0.5, 0.75 and 1.0.
1. Mobilenet_V1_0.25_224_quant
2. Mobilenet_V1_0.50_224_quant
3. Mobilenet_V1_0.75_224_quant
4. Mobilenet_V1_1.0

[2020-06-18 10:41] psyhtest commented on #410
Thanks for confirming @nikraj01! The revision you officially support ([f612532843bd8e24efeab2815e45b436479cc9ab](https://github.com/onnx/onnx/commit/f612532843bd8e24efeab2815e45b436479cc9ab) is from 10 Dec 2018, which appears to be part of [ONNX 1.4.0](https://github.com/onnx/onnx/releases/tag/v1.4.0). However, it all appears to work until 1.6.0.

[2020-06-18 13:57] giovanichiachia commented on #232
Hi @gobotix

Your updated code would be of great help for us to build upon. Could you please share it?

Regards,
Giovani

[2020-06-19 02:24] mathpopo opened #411 "UnitTests failed"
do follow https://github.com/ARM-software/armnn/blob/branches/armnn_20_02/BuildGuideAndroidNDK.md

Build ArmNN　　success

 CXX=aarch64-linux-android-clang++ \

[100%] Building CXX object CMakeFiles/UnitTests.dir/profiling/server/src/basePipeServer/tests/BasePipeServerTests.cpp.o
[100%] Linking CXX executable UnitTests
[100%] Built target UnitTests

Build Standalone Sample Dynamic Backend  failed

/

[2020-06-19 09:00] nikraj01 commented on #411
Hi @mathpopo ,
In 20.05 release we are supporting ndk 20b.
Thanks

[2020-06-19 09:03] nikraj01 commented on #410
Hi @psyhtest ,
Ok. Thanks for that information. I will be interested to see if I can build with 1.6.0.
Thanks

[2020-06-19 09:24] nikraj01 commented on #400
Hi @mathpopo ,

If you have built with -DSAMPLE_DYNAMIC_BACKEND=1, you must have set a working dir for the dynamic sample backend to get build (for example /armnn/src/dynamic/sample/build/). This is where you will find the  libArm_SampleDynamic_backend.so. I hope this helps. Please let me know if you have any issues.
Thanks

[2020-06-19 09:30] nikraj01 commented on #408
Hi @mathpopo ,
What you should be looking for is libArm_SampleDynamic_backend.so.
Thanks

[2020-06-19 09:39] Qengineering commented on #379
Dear James,

Many thanks for all the effort you have taking.
I have the same results as you after downloading the latest Mobilenet_V1_xx_244_quant form the tensorflow.org site.
I'm closing the issue because it's resolved.

Cheers,
Rients

[2020-06-19 09:39] #379 closed

[2020-06-19 09:48] mathpopo commented on #411
@nikraj01 ok ,thank you ,i will try.

[2020-06-19 11:08] mathpopo commented on #411
@nikraj01
(base) chenxin@Nitro-AN515:~$ cmake --version
cmake version 3.18.0-rc2

(base) chenxin@Nitro-AN515:~$ echo $NDK
/home/chenxin/armnn-devenv/toolchains/android-ndk-r20b

CXX=aarch64-linux-android21-clang++ \
CC=aarch64-linux-android21-clang \
CXX_FLAGS="-fPIE -fPIC" \
cmake .. \
    -DCMAKE_ANDROID_NDK=$NDK \
    -DCMAKE_SYSTEM_NAME=Android \
    -DCMAKE_SYSTEM_VERSION=21 \
    -DCMAKE_AND

[2020-06-19 11:57] nikraj01 commented on #411
Hi @mathpopo ,
Would you mind doing a clean build? So just by removing the build dir. This will delete the cache files including CmakeCache.txt .There could be some stale files there, I think.
Thanks

[2020-06-19 12:04] nikraj01 commented on #387
Hi @ivs-pychen ,
Were you able to cross compile successfully?
Thanks

[2020-06-19 12:05] nikraj01 commented on #386
Hi @ivs-pychen ,
Do you still face this issue?
Thanks

[2020-06-19 12:45] james-conroy-arm commented on #252
@victor0623 Regarding the 19.08 release notes, we added [QUANTIZED_16BIT_LSTM ](https://developer.android.com/ndk/reference/group/neural-networks#group___neural_networks_1ggaabbe492c60331b13038e39d4207940e0a42edb5ab6f1c74f4a756eb1ed0183a16) support to the Android NN Driver for ArmNN.

We do not currently support LSTM layers through our parsers, only through the Android NN Driver API. We do not cur

[2020-06-19 12:51] james-conroy-arm commented on #406
Hi @ivs-pychen ,

If you don't have any other questions relating to this issue, could you close it please?

Cheers,
James

[2020-06-19 12:58] james-conroy-arm commented on #393
Hi @vinceab ,

Are you still experiencing issues with the SqueezeNet model?

Cheers,
James

[2020-06-19 13:09] mathpopo commented on #411
@nikraj01 i do as your suggest!

find also this issue,

but i meet a new question:
 compile armnn
[100%] Linking CXX executable UnitTests
/home/chenxin/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin/../lib/gcc/aarch64-linux-android/4.9.x/../../../../aarch64-linux-android/bin/ld: warning: libc++_shared.so, needed by /home/chenxin/armnn-devenv/google/arm64_pb_inst

[2020-06-19 13:13] james-conroy-arm commented on #352
Hi @ome61952 ,

Do you have any other questions regarding this issue? Otherwise, could you close it please?

Cheers,
James

[2020-06-19 13:15] mathpopo commented on #411
./toolchains/android-ndk-r20b/sources/cxx-stl/llvm-libc++/libs/x86_64/libc++_shared.so
./toolchains/android-ndk-r20b/sources/cxx-stl/llvm-libc++/libs/armeabi-v7a/libc++_shared.so
./toolchains/android-ndk-r20b/sources/cxx-stl/llvm-libc++/libs/x86/libc++_shared.so

which one ?

[2020-06-19 13:15] james-conroy-arm commented on #378
Hi @pradeepkrnik ,

Do you have any new information regarding this issue or Colm's questions?

Cheers,
James

[2020-06-19 13:17] james-conroy-arm commented on #382
Hi @pateldarsh ,

Do you have any other questions regarding this issue?

Cheers,
James

[2020-06-19 13:21] pateldarsh commented on #382
No. @james-conroy-arm . We got a reply of MLCE ticket that there's a bug with INT8 datatype handling which leads to increase in processing time. Closing it here. Thank you for help.

[2020-06-19 13:22] #382 closed

[2020-06-19 13:40] nikraj01 commented on #411
Hi @mathpopo ,
What you need is a cmake argument -DCMAKE_SYSROOT which should point to the sysroot, while building. Say if you are building for linux x86_64 you should pass the following path to the above argument : <path>/toolchains/llvm/prebuilt/linux-x86_64/sysroot
Thanks

[2020-06-19 13:49] vinceab commented on #393
The fix mention by colm avoid the application to crash  that's a good point but the Squeeznet is still not supported.

[2020-06-19 15:46] #406 closed

[2020-06-19 15:49] ivs-pychen commented on #387
I didn't use cross compile. I directly build Arm NN on my device.

[2020-06-19 15:49] #387 closed

[2020-06-19 15:51] ivs-pychen commented on #386
I didn't use cross compile. I directly build Arm NN on my device.

[2020-06-19 15:51] #386 closed

[2020-06-22 03:24] mathpopo commented on #411
@nikraj01
CXX=aarch64-linux-android27-clang++ \
CC=aarch64-linux-android27-clang \
CXX_FLAGS="-fPIE -fPIC" \
cmake .. \
    -DCMAKE_ANDROID_NDK=$NDK \
    -DCMAKE_SYSTEM_NAME=Android \
    -DCMAKE_SYSTEM_VERSION=27 \
    -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a \
    -DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz" \
    -DARMCOMPUTE_ROOT=$HOME/armnn-devenv/ComputeLibrary/ \
    -DARMCOMPUTE_BUILD_DIR=$HOME/ar

[2020-06-22 09:48] #408 closed

[2020-06-22 09:54] mathpopo commented on #334
@paragikjain  which libc++_shared.so you select?i complie ,meet a question:
[100%] Linking CXX executable UnitTests
/home/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin/../lib/gcc/aarch64-linux-android/4.9.x/../../../../aarch64-linux-android/bin/ld: warning: libc++_shared.so, needed by /home/chenxin/armnn-devenv/google/arm64_pb_install/lib/libprotobuf.so, not fo

[2020-06-22 10:30] nikraj01 commented on #411
Hi @mathpopo ,

I have arranged the cmake arguments here for you to build:

CXX=aarch64-linux-android27-clang++
CC=aarch64-linux-android27-clang
CXX_FLAGS="-fPIE -fPIC"
cmake ..
-DARMCOMPUTE_ROOT=$HOME/armnn-devenv/ComputeLibrary/
-DARMCOMPUTE_BUILD_DIR=$HOME/armnn-devenv/ComputeLibrary/build
-DBOOST_ROOT=$HOME/armnn-devenv/boost/install/
-DARMCOMPUTENEON=1 -DARMCOMPUTECL=1 -DARMNNREF=1
-DTF_GENER

[2020-06-22 10:32] nikraj01 commented on #411
From the error message it looks like you need to have the -lz in the DCMAKE_EXE_LINKER_FLAGS as I mentioned in the above comment

[2020-06-22 10:34] nikraj01 commented on #411
Also can I see how did you built protobuf?

[2020-06-22 11:16] mathpopo commented on #411
@nikraj01 just like https://github.com/ARM-software/armnn/blob/branches/armnn_20_05/BuildGuideAndroidNDK.md

mkdir ~/armnn-devenv/google
 cd ~/armnn-devenv/google
 git clone https://github.com/google/protobuf.git
 cd protobuf
 git checkout -b v3.5.2 v3.5.2

(base) chenxin@Nitro-AN515:~/armnn-devenv/google/protobuf$  git checkout -b v3.5.2 v3.5.2
warning: refname 'v3.5.2' is ambiguous.
fatal: A bra

[2020-06-22 11:21] nikraj01 commented on #411
ok, thanks.
Were you able to build now?
Thanks

[2020-06-22 11:25] mathpopo commented on #411
@nikraj01 i can compile protobuf,but when compile armnn,show exception,
"warning: libc++_shared.so, needed by /home/chenxin/armnn-devenv/google/arm64_pb_install/lib/libprotobuf.so, not found (try using -rpath or -rpath-link)"

i guess which lead to cannot compile libArm_SampleDynamic_backend.so

[2020-06-22 11:28] nikraj01 commented on #411
Are you getting this after using the cmake arguments I provided above?

[2020-06-22 11:29] mathpopo commented on #411
@nikraj01 maybe armv8 cannot use?

[2020-06-22 11:29] mathpopo commented on #411
@nikraj01 maybe armv8 cannot use?
"DCMAKE_ANDROID_ARCH_ABI=arm64-v8a "

because:
./toolchains/android-ndk-r20b/sources/cxx-stl/llvm-libc++/libs/x86_64/libc++_shared.so
./toolchains/android-ndk-r20b/sources/cxx-stl/llvm-libc++/libs/armeabi-v7a/libc++_shared.so
./toolchains/android-ndk-r20b/sources/cxx-stl/llvm-libc++/libs/x86/libc++_shared.so

no arm64-v8a

[2020-06-22 11:30] mathpopo commented on #411
i add -DCMAKE_SYSROOT=$NDK/toolchains/llvm/prebuilt/linux-x86_64/sysroot in armnn cmake command

[2020-06-22 11:34] mathpopo commented on #411
i add -DCMAKE_SYSROOT=$NDK/toolchains/llvm/prebuilt/linux-x86_64/sysroot in armnn cmake
but :
(base) chenxin@Nitro-AN515:~/armnn-devenv/toolchains/android-ndk-r20b$ find ./ -name "libc++_shared.so"
./toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/lib/aarch64-linux-android/libc++_shared.so
./toolchains/llvm/prebuilt/linux-x86_64/sysroot/usr/lib/x86_64-linux-android/libc++_shared.so
./toolchains/

[2020-06-22 11:36] nikraj01 commented on #411
It is important that you compile against the platform that you are building for and also make sure you have -DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz"

[2020-06-22 11:38] mathpopo commented on #411
CXX=aarch64-linux-android<Android_API>-clang++ \
CC=aarch64-linux-android<Android_API>-clang \
CXX_FLAGS="-fPIE -fPIC" \
cmake .. \
    -DCMAKE_ANDROID_NDK=$NDK \
    -DCMAKE_SYSTEM_NAME=Android \
    -DCMAKE_SYSTEM_VERSION=<Android_API> \
    -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a \
    -DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz" \---------------------------you mean this?
    -DARMCOMPUTE_ROOT=$HOME/ar

[2020-06-22 11:43] mathpopo commented on #411
CC=aarch64-linux-android27-clang \
 CXX=aarch64-linux-android27-clang++ \
 CFLAGS="-fPIE -fPIC" \
     LDFLAGS="-llog -lz -lc++_static" \---------------------------- -lz -lc++_static

[2020-06-22 12:03] mathpopo commented on #411
arm-linux-androideabi/bin/ld: error: /home/chenxin/armnn-devenv/armnn/build/libarmnn.so: incompatible target-------------------is it a X86(NOT arm64-v8a)?
clang++: error: linker command failed with exit code 1 (use -v to see invocation)

[2020-06-22 12:04] mathpopo commented on #411
CXX=aarch64-linux-android27-clang++ \
CC=aarch64-linux-android27-clang \
CXX_FLAGS="-fPIE -fPIC" \
cmake \
-DCMAKE_SYSTEM_NAME=Android \
-DCMAKE_CXX_FLAGS=--std=c++14 \
-DCMAKE_ANDROID_ARCH_ABI=arm64-v8a \--------------------------add this
-DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz -lc++_shared" \
-DCMAKE_MODULE_LINKER_FLAGS="-llog" \
-DBOOST_ROOT=$HOME/armnn-devenv/boost/install \
-DBoost_SYSTEM_LI

[2020-06-22 12:20] mathpopo commented on #411
i compile
 (base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/src/dynamic/sample/build$ ls
CMakeCache.txt  cmake_install.cmake              Makefile
CMakeFiles      libArm_SampleDynamic_backend.so

push to android8.1 smartphone:

134|HWBKK-Q:/data/local/tmp $ ls
UnitTests   libarmnnTfParser.so libprotobuf.so.15     src
dynamic     libc++_shared.so    libprotobuf.so.15.0.1
libarmnn.so libprotobuf.so

[2020-06-22 12:34] mathpopo commented on #411
@nikraj01   i guess https://github.com/ARM-software/armnn/issues/86  is my issue

[2020-06-22 12:37] mathpopo commented on #411
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn/src/backends$ adb shell dumpsys | grep GLES
Error dumping service info: (Unknown error -2147483646) Binder.Pged
Can't find service: BootAnimationBinderServer
Error dumping service info: (Unknown error -2147483646) DisplayEngineService
GLES: Qualcomm, Adreno (TM) 506, OpenGL ES 3.2 V@269.0 (GIT@984ae15, I2cc6be3e9b) (Date:05/29/18)
Can't find service:

[2020-06-22 12:38] mathpopo commented on #411
＠MatthewARM　is it similar as https://github.com/ARM-software/armnn/issues/86?

[2020-06-22 12:49] nikraj01 commented on #410
builds fine with 1.6.0

[2020-06-22 12:51] mathpopo commented on #411
1|HWBKK-Q:/vendor/lib $ ls
egl          libRSDriver_adreno.so libcdsprpc.so  libgrallocutils.so libllvm-qgl.so   libqti-perfd-client.so mediacas rfsa
hw           libadreno_utils.so    libdiag.so     libgsl.so          libqdMetaData.so librs_adreno.so        mediadrm soundfx
libCB.so     libadsprpc.so         libdrm.so      libllvm-glnext.so  libqdutils.so    librs_adreno_sha1.so   modules  vendor

[2020-06-22 12:51] mathpopo commented on #411
support libOpenCL.so

[2020-06-22 13:48] Burton2000 commented on #369
PyArmNN has now been merged into master.

[2020-06-22 14:02] james-conroy-arm commented on #369
Thanks Richard.

@ggardet , is it ok if I close this issue?

Cheers,
James

[2020-06-22 14:11] ggardet commented on #369
It looks ok, thanks!

[2020-06-22 14:11] #369 closed

[2020-06-22 14:31] psyhtest commented on #410
Sorry if I was unclear when I said "works until 1.6.0". I meant "1.6.0
inclusive".

On Mon, 22 Jun 2020, 13:49 nikraj01, <notifications@github.com> wrote:

[2020-06-22 14:35] Burton2000 commented on #376
Do you also experience this accuracy drop if you try running the tflite model with the tflite interpreter (https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python)?

[2020-06-23 01:17] #400 closed

[2020-06-23 14:26] ggardet opened #412 "PyArmnn should be installable to rootfs with cmake build system"
We can build wheel package or source package for PyArmnn from cmake, but from a distro point of view, it should be installable to rootfs with cmake build system.

[2020-06-24 01:22] LjBLincoln opened #413 "Could you share the test model and Data?"
I add backend support and i want to test it with the tests in test forder.  I build the test and get the test case, but I can find all the model and test data about the test cases.
So ,
  Could you share the test model and data ? or Share the link about the model and data?

Thanks.

[2020-06-24 15:28] james-conroy-arm commented on #388
Hi @MatthewARM ,

There is now a patch in review for this: https://review.mlplatform.org/c/ml/armnn/+/3456.

I will let you know once it's merged.

Cheers,
J.

[2020-06-26 10:10] james-conroy-arm commented on #364
Hi @Yooong-W ,

Are you still experiencing issues with building ArmNN?

Cheers,
James

[2020-06-26 10:12] james-conroy-arm commented on #363
Hi @juncheolye ,

Please let us know if your issue is resolved.

Cheers,
James

[2020-06-26 10:17] james-conroy-arm commented on #350
Hi @o0olele ,

Are you still getting the segmentation fault?

Cheers,
James

[2020-06-26 10:20] james-conroy-arm commented on #346
Hi @matthill ,

Did you manage to work around this issue in some way?

Cheers,
James

[2020-06-26 10:21] james-conroy-arm commented on #344
Hi @uu-praveeng ,

Did you look into using TfLite for per-channel weight quantization tooling?

Cheers,
James

[2020-06-26 10:28] uu-praveeng commented on #344
Hi @james-conroy-arm

No, I didn't look into it. Do you have any such tflite model quantized per channel.
I can try it out and see if it gives better results.

Thank you,
Praveen.

[2020-06-26 10:34] james-conroy-arm commented on #341
Hi @ggardet ,

This test (failing intermittently) was disabled and will not fail in the 20.05 release of ArmNN.

We have a fix for this test in review now: https://review.mlplatform.org/c/ml/armnn/+/3455

We will update you again when the fix is merged into master.

Cheers,
James

[2020-06-26 10:35] james-conroy-arm commented on #336
Hi @gangooteli ,

Did @MikeJKelly 's response above resolve your issue?

Cheers,
James

[2020-06-26 10:47] james-conroy-arm commented on #297
Hi @rahulsharma11 ,

Did you manage to convert the TensorFlow model to TfLite using Richard's instructions above?

Cheers,
James

[2020-06-26 10:48] james-conroy-arm commented on #300
Hi @kl456123 ,

I think this issue is resolved now, could you close if it is please?

Cheers,
James

[2020-06-26 10:51] james-conroy-arm commented on #301
Hi @peter197321 ,

We are tracking the addition of Semantic Versioning to ArmNN in #293 .

Were you able to get the version number using Matthew's approach above?

Cheers,
James

[2020-06-26 10:59] james-conroy-arm commented on #317
Hi @teamaltumview ,

Using @FrancisMurtagh-arm advice above, I think your issue is now resolved.

Please let us know if we can close this issue.

Cheers,
James

[2020-06-26 11:58] james-conroy-arm commented on #320
Hi @phiae ,

Did you have any success compiling statically?

If not, we would like to help. Please see Matthew's suggestion above regarding BackendRegistry::Register().

Cheers,
James

[2020-06-26 12:00] james-conroy-arm commented on #327
Hi @ggardet ,

Did you try Matthew's suggestion above for applying the fold_constants and fold_batch_norms optimizations?

Cheers,
James

[2020-06-26 12:15] james-conroy-arm commented on #219
Hi @FSet89 ,

Are you using our FP16 turbo mode optimization? That may explain the FP32 to FP16 conversions you are seeing.

Regarding the unusual symbols you are seeing, could you try viewing the file in a few different editors to see if they appear in them also?

Cheers,
James

[2020-06-26 12:23] ggardet commented on #341
Thanks for the update @james-conroy-arm

[2020-06-26 12:23] james-conroy-arm commented on #189
Hi @liviolima80 ,

Are you still experiencing issues with the TensorFlow MobileNet SSD model?

Cheers,
James

[2020-06-26 12:30] james-conroy-arm commented on #250
Hi @dorftemi ,

Are you still getting the segfault?

We would like to help if you are.

Cheers,
James

[2020-06-26 12:31] #300 closed

[2020-06-26 12:31] james-conroy-arm commented on #304
Hi @ggardet ,

Did you manage to print out some profiling data as suggested by Matthew above?

Cheers,
James

[2020-06-26 12:40] james-conroy-arm commented on #362
Hi @zanazakaryaie ,

Are you still getting the incorrect detection error?

Cheers,
James

[2020-06-26 13:35] giovanichiachia commented on #232
Here's a working version of the code @gobotix posted before.

`void CaffeParserBase::ParsePReluLayer(const LayerParameter& layerParam)
{
    ValidateNumInputsOutputs(layerParam, 1, 1);

    const string& name = layerParam.name();
    const TensorInfo& inputInfo = GetArmnnOutputSlotForCaffeTop(
        layerParam.bottom(0)).GetTensorInfo();

    armnn::TensorInfo info2 = inputInfo;
    armnn::Tenso

[2020-06-26 13:37] giovanichiachia commented on #232
Here is a working version of the code @gobotix posted before.

``void CaffeParserBase::ParsePReluLayer(const LayerParameter& layerParam)
{
    ValidateNumInputsOutputs(layerParam, 1, 1);

    const string& name = layerParam.name();
    const TensorInfo& inputInfo = GetArmnnOutputSlotForCaffeTop(
        layerParam.bottom(0)).GetTensorInfo();

    armnn::TensorInfo info2 = inputInfo;
    armnn::Ten

[2020-06-26 16:32] james-conroy-arm commented on #341
Hi @ggardet ,

The fix has now been merged. I am going to close this issue but feel free to comment here if you see this issue occurring again.

Cheers,
James

[2020-06-26 16:32] #341 closed

[2020-06-30 12:37] ggardet commented on #327
No, I did not.
My question was more:  would it be useful to add `Rsqrt` support to `CpuAcc` backend.

[2020-06-30 12:52] ggardet opened #415 "[20.05] LTO builds fail on UnitTest with check counterUidsMultiCore.front() >= nextCounterUids[0] has failed"
LTO builds of ArmNN 20.05 fail on UnitTest with:
[code]

[2020-07-01 08:57] james-conroy-arm commented on #352
Hi @zanazakaryaie , @ome61952 ,

I'm going to close this issue now as it looks like it is resolved.

Please feel free to comment here if the issue persists.

Cheers,
James

[2020-07-01 08:57] #352 closed

[2020-07-01 10:35] james-conroy-arm commented on #415
Hi ggardet,

Thanks for reporting this issue.

Could you please provide us with some more information about your environment so we can diagnose this for you.

What values are in counterUidsMultiCore.front() and nextCounterUids[0] when you run the test?

Cheers,
James

[2020-07-02 09:31] james-conroy-arm commented on #327
Hi @ggardet ,

We added NEON (CpuAcc) workload support for Rsqrt in 19.11. Have you checked if this warning occurs since that release of ArmNN?

Cheers,
James

[2020-07-02 13:23] ggardet commented on #327
Indeed, with latest release, I cannot reproduce.

[2020-07-02 13:23] #327 closed

[2020-07-02 13:47] ggardet opened #416 "resnext_TF_quantized_for_armnn_team.pb is not available"
While trying to run `TfResNext-Armnn` I get an error because `resnext_TF_quantized_for_armnn_team.pb` is not available.
Where could I find this file? Could you make it part of the sources, if not publicly available, please?

[2020-07-02 22:46] carlosost opened #417 "How to reshape a layer and the network?"
First of all, I am sorry to post a question in the Issues tab, but I couldn't find any other place to ask for help.

Well... let's go to the point. I am working on a "translation" of my code from Caffe to ArmNN, but I found a barrier with reshaping.

Using Caffe, if I need to reshape a layer, and consequently the whole network, so the output layers also be reshaped, I just have to do:

    caffe::

[2020-07-03 10:07] james-conroy-arm commented on #363
Hi @juncheolye ,

Since we have not heard back from you in a while and the issue appears to be resolved now, we are going to close this issue.

Please let us know if this is being closed in error, or feel free to open a new issue if another one should arise.

Cheers,
James

[2020-07-03 10:07] #363 closed

[2020-07-03 10:07] james-conroy-arm commented on #336
Hi @gangooteli ,

Since we have not heard back from you in a while and the issue appears to be resolved now, we are going to close this issue.

Please let us know if this is being closed in error, or feel free to open a new issue if another one should arise.

Cheers,
James

[2020-07-03 10:07] #336 closed

[2020-07-03 10:08] james-conroy-arm commented on #317
Hi @teamaltumview ,

Since we have not heard back from you in a while and the issue appears to be resolved now, we are going to close this issue.

Please let us know if this is being closed in error, or feel free to open a new issue if another one should arise.

Cheers,
James

[2020-07-03 10:08] #317 closed

[2020-07-03 17:20] teamaltumview commented on #317
Hi:
Thanks for contacting me. Please close this ticket.
Thanks
________________________________
From: James Conroy <notifications@github.com>
Sent: July 3, 2020 3:08 AM
To: ARM-software/armnn <armnn@noreply.github.com>
Cc: Dong Zhang <dong.zhang@altumview.com>; Mention <mention@noreply.github.com>
Subject: Re: [ARM-software/armnn] Unit test failing in depthwise convolution (#317)

Hi @teamaltumvie

[2020-07-05 01:08] mathpopo commented on #86
hi,if mali G-xx  can satisfy the  opencl2.0?satisfy the arm computer library?

[2020-07-06 09:03] XiaoxingChen opened #418 "Subtraction Operator Outputs Wrong Result While Using TFLite Model"
Hi there,
    I'm using ARMNN 20.05, android-ndk-r20b-linux-x86_64, with API 21.
    I found the output of subtraction operator giving me wrong result while using tflite model. I will show you in a toy example:

![subtraction](https://user-images.githubusercontent.com/16934019/86574642-b9bfff00-bfa8-11ea-979c-65436d81362d.png)
I build a tensorflow lite model with subtraction operator only, the mod

[2020-07-06 10:28] james-conroy-arm commented on #418
Hi @XiaoxingChen ,

Thanks for reporting this issue. We are investigating it now.

Cheers,
James

[2020-07-06 19:11] MikeJKelly commented on #418
Hi @XiaoxingChen

Thank you for the report and the example, this reveals a defect in the way we handle Broadcasting in all TFLite operations. When we have to Broadcast a Tensor for an operation we put in a Reshape for the smaller Tensor (in this case input B) but due to a bug in our code the reshaped Tensor was always connected to the first input and the non-reshaped Tensor to the second input. In

[2020-07-07 12:44] ggardet opened #419 "Build broken with python-onnx 1.7.0"
Build is broken with `python-onnx` `1.7.0`. The error is:
[code]

[2020-07-07 12:47] james-conroy-arm commented on #418
Hi @XiaoxingChen ,

@MikeJKelly 's patch has now merged. Please let us know if this resolves your issue.

Cheers,
James

[2020-07-07 13:06] ggardet commented on #415
Here are the values:
[code]

[2020-07-07 13:06] MikeJKelly commented on #417
Hi @carlosost

ArmNN does not currently support these kind of dynamically reshaped tensors but that feature is on the roadmap.

Best regards,
Mike

[2020-07-07 13:47] carlosost commented on #417
Hello @mikejkelly,

Thank you for your reply. Would you suggest any approach?

I am working on some tests consisting of manipulating an existing `INetwork` or maybe it's `Graph`, including new input layer and deleting the existing one, followed by a new optmization of the whole network, but I am still developing the code.

This is what I have by now and it is not even compiled yet. There are also

[2020-07-07 22:55] carlosost commented on #417
Still about this subject, what is the purpose of the ReshapeLayer? Does it have anything to do with the kind of reshape I am asking about?

[2020-07-08 01:54] XiaoxingChen commented on #418
Hi @james-conroy-arm and @MikeJKelly ,
    Thank you for your fast response, the patch works!

Best!
Xiaoxing.

[2020-07-08 08:48] james-conroy-arm commented on #418
Glad to help!

Please let us know if we can close this issue, if you don't have any other questions relating to this.

Cheers,
James

[2020-07-08 09:07] XiaoxingChen commented on #418
Yes, James, please close it. Appreciate your efforts!

[2020-07-08 09:18] #418 closed

[2020-07-08 13:32] carlosost commented on #417
**About the strategies**

When using `Caffe`, we can load the architecture (`.prototxt`) and the model (`.caffemodel`) separately. That allows us to build a network from scratch, using `Caffe` functions to create and connect layers, and bypass the training phase, just loading the model when necessary.

Considering I didn't find any function to load ONLY what I called as "model" (`.caffemodel`), bu

[2020-07-08 15:10] MatthewARM commented on #417
Hi @carlosost there's a lot of good and useful information in this thread, and I would like to spend more time on thinking about it. However it just occurred to me that actually Strategy 3 "Create a new network" might be possible to implement given the current Arm NN API.

First you would load the caffemodel with existing, trained, tensor shapes and sizes, using the current Arm NN caffe parser.
Th

[2020-07-08 17:02] carlosost commented on #417
Thank you for reply @MatthewARM,

For the 3rd option, my efforts were blocked exactly at the moment I should iterate the existing network and copy the parameters to the "hand made" new network. I couldn't find any function at the API to help me do that.

In this approach, I did...

    // Load trained network

    const char* graphFile = "my_net_model_path";
    const std::map<std::string, armnn::

[2020-07-09 08:37] HKLee2040 opened #420 "build error"
I follow the instruction and version shown in the following link to build ARMNN
https://github.com/ARM-software/armnn/blob/branches/armnn_20_05/BuildGuideAndroidNDK.md

However, I got several errors message shown below.  Is there anyone who can help?

CXX=aarch64-linux-android29-clang++ CC=aarch64-linux-android21-clang CXX_FLAGS="-fPIE -fPIC" cmake .. -DCMAKE_ANDROID_NDK=$NDK -DCMAKE_SYSTEM_NAME=A

[2020-07-09 08:41] MatthewARM commented on #417
Hi @carlosost I'm going to start at the beginning of the issue and work through all your questions in order so that nothing gets missed:

"First of all, I am sorry to post a question in the Issues tab, but I couldn't find any other place to ask for help."
No problem at all, the Issues tab is also good for questions. We also have mailing lists and IRC, which you can find here: https://www.mlplatfor

[2020-07-09 10:20] james-conroy-arm commented on #388
Hi @MatthewARM ,

The patch has now merged, thanks for reporting this issue.

We will close this issue soon, if you don't have any other questions regarding it.

Cheers,
James

[2020-07-09 10:25] MatthewARM commented on #388
Thanks

[2020-07-09 10:50] carlosost commented on #417
Hello @MatthewARM

Thank you again for your prompt reply. I will definitely consider it after a new approach I came up with yesterday.

Correct me if I am wrong, but the overhead of this 3rd option approach (Build a network from scratch) is the same of the function `armnn::INetworkPtr CreateNetworkFromNetParameter`, right?

Assuming it as true, I came up with this new approach that I am still work

[2020-07-09 11:05] MatthewARM commented on #417
Hi @carlosost I think you're saying that you'd override the shapes at the time the model is loaded. I agree that's the way I would do it.

I don't know if it's sufficient just to override the input shapes though - are all the other shapes in the network derived from the input shapes by armnnCaffeParser? Or are all other shapes read directly out of the caffe protobuf?

[2020-07-09 11:38] james-conroy-arm commented on #420
Hi @HKLee2040 ,

Which revision/branch of ArmNN and Compute Library are you using?

Cheers,
James

[2020-07-09 11:46] carlosost commented on #417
Hi @MatthewARM ,

"_you'd override the shapes at the time the model is loaded_"
Yes, but just once at the beginning of my application execution to avoid unnecessary file reading overhead.

"_are all the other shapes in the network derived from the input shapes by armnnCaffeParser? Or are all other shapes read directly out of the caffe protobuf?_"
They are all read directly from the binary file inf

[2020-07-09 12:09] MatthewARM commented on #417
Thanks @carlosost it sounds like you are on a good track.

I fear that the changes needed to armnnCaffeParser will be more extensive than you are expecting, as changes to the input size need to propagate to the intermediate layers.

If you get it working would you be able to contribute it back to armnn to help others in the same situation?

Many thanks,
Matthew

[2020-07-09 12:16] carlosost commented on #417
You are welcome @MatthewARM.

For sure I will share my achievements with the community. Let's see the next chapters :-).

Thank you,
Carlos.

[2020-07-09 13:25] HKLee2040 commented on #420
ComputeLibrary:
git describe --tags
v20.5

ArmNN:
git checkout branches/armnn_20_05
git pull

[2020-07-09 23:10] mathpopo opened #421 "/system/bin/sh: ./UnitTests: No such file or directory"
https://github.com/ARM-software/armnn/issues/411

i do the same with 411 from Adreno (TM) 506 to Mali-G71,but show error,is same operations
 need to modify?
 adb shell dumpsys | grep GLES
GLES: ARM, Mali-G71, OpenGL ES 3.2 v1.r14p0-00cet0.9500166da1423e9591394b068a52b758

[2020-07-09 23:36] mathpopo commented on #421
/vendor/lib64 $ find ./ -name "*opencl*"
./libSR_opencl.so

[2020-07-10 08:39] MatthewARM commented on #411
Hi @mathpopo yes, this does look like #86, your OpenCL driver doesn't have HALF_MAX which is defined by this OpenCL extension: https://www.khronos.org/registry/OpenCL/sdk/2.2/docs/man/html/cl_khr_fp16.html

[2020-07-10 08:41] MatthewARM commented on #421
Hi @mathpopo is there any more information other than "No such file or directory"?

[2020-07-10 08:44] MatthewARM commented on #421
Another thing is, it might be worth asking on the Arm Compute Library github project as they might know more about getting the GPU code running on different phones.

[2020-07-10 20:16] carlosost commented on #417
Hi @MatthewARM and community,

In advance, I am not bringing the final solution (at least not yet) I am sorry. I could give some good steps forward, but I came to share and maybe understand what is happening, so I could close this case. Let's go to the code I've been working on...

**at armnn/include/armnnCaffeParser/ICaffeParser.hpp**

The objective was split `CreateNetworkFromBinaryFile` into tw

[2020-07-13 03:16] jokerspy commented on #399
Hi, I met the same problem that GEMM is not supported when using ONNX parser and I see you mentioned the workaround using transpose operator. Do you have any update either about GEMM or transpose operator? Thanks

[2020-07-13 03:20] jokerspy commented on #128
Hi, same here trying to use model with dynamic input shape. Hope to see this feature supported soon. At the mean time, is there any workaround I could use to apply this kind of models with ArmNN for now? Thanks

[2020-07-13 04:45] xinchenhawaii commented on #399
Not yet now.

[2020-07-13 05:46] avanilkumar opened #422 "armnn file size is more"
A simple TF file with only 2 layers :
1. input of shape (1)
 2. output layer.
The size of such .pb file is 90 bytes .
On converting to armnn file....the size of armnn file is 372 bytes

I observe that pb file size is much lesser than armnn file if it has more simple layers( with out tensors)...

[2020-07-13 06:11] mathpopo commented on #421
@MatthewARM
HWMOA-M:/data/local/tmp/build $ strings libarm_compute.so | grep arm_compute_version
arm_compute_version=v20.05 Build options: {'embed_kernels': '1', 'opencl': '1', 'neon': '1', 'internal_only': '0', 'extra_cxx_flags': '-fPIC', 'arch': 'arm64-v8a'} Git hash=6a7771e460abeac7d401d6d38a0fcf0a0d2c3cbe

[2020-07-13 08:19] HKLee2040 opened #423 "custom backend plugins"
There are so many errors in building customer backend example.

https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/build-arm-nn-custom-backend-plugins/build-the-example-plugin

Is there anyone who can build the customer backend successfully?
The armnn is 'master' branch.

$ make -j32
Scanning dependencies of target armnnUtils
Scanning dependencies of targe

[2020-07-13 09:01] mathpopo commented on #411
@MatthewARM could you give me a sample methon to detect which device can be used?i think if can pass computer library run is better.

[2020-07-13 09:21] mathpopo commented on #411
@MatthewARM or  if use low version computer library is better?

[2020-07-13 11:41] nikraj01 commented on #423
Hi @HKLee2040 ,

Can you please try with ArmNN and ACL 20.05 release branches?
Here is also a list of dependency versions we support: https://github.com/ARM-software/armnn/releases/tag/v20.05

Please let me know how it goes.

Thanks

[2020-07-13 14:06] HKLee2040 commented on #423
There are some error messages for 20.05.

Considering the first error message:

In file included from /local/armnn-tflite/armnn/src/backends/custom/workloads/CustomAdditionWorkload.hpp:8:0,
                 from /local/armnn-tflite/armnn/src/backends/custom/workloads/CustomAdditionWorkload.cpp:6:
/local/armnn-tflite/armnn/src/backends/backendsCommon/Workload.hpp:12:32: fatal error: ProfilingServic

[2020-07-13 14:50] MatthewARM commented on #411
Hi @mathpopo please could you rephrase your question? I'm not sure what you are asking.

[2020-07-13 15:08] Colm-in-Arm commented on #423
Hello @HKLee2040,

This error appears to be compiler specific:

/local/armnn-tflite/armnn-master/include/armnn/Tensor.hpp:122:79: error: array must be initialized with a brace-enclosed initializer
std::array<bool, MaxNumOfTensorDimensions> m_DimensionsSpecificity = {true};

Which compiler and version are you using? If you modify  it be "= { {true} };" it should solve the problem. I'll see about ma

[2020-07-14 00:18] HKLee2040 commented on #423
@Colm-in-Arm
According to your instruction:
Before you begin

"These instructions require that you use the master branch of the Arm NN git repository. Other branches cannot be guaranteed to work with the example backend."

So I use "master" branch.
git clone -b master https://github.com/ARM-software/armnn.git

If I use 20.05, the error messages that you mentioned are disappeared, but other error m

[2020-07-14 01:35] mathpopo commented on #411
@MatthewARM   i try some different devices to run armnn unittest,but all show failed, so could you tell me a sample method which can help me quickly to know which device canbe used?

[2020-07-14 06:43] Colm-in-Arm commented on #423
Hello @HKLee2040,

Looking at the changes on master since the 20.05 release I can't see any dynamic backend modifications that would cause problems. It is possible the instruction to use the master branch may no longer be relevant. Can you try to use the 20.05 branch please. In the meantime can you tell me the hardware platform, compiler and version you're attempting to use so I can try to recreat

[2020-07-14 07:24] mathpopo commented on #411
(base) chenxin@Nitro-AN515:~$ adb shell getprop | grep "model\|version.sdk\|manufacturer\|hardware\|platform\|revision\|serialno\|product.name\|brand"
[ro.board.hardware_version]: [HL1MEDM]
[ro.board.platform]: [mt6765]
[ro.boot.hardware]: [mt6765]
[ro.boot.product.hardware.sku]: [MOA-AL00]
[ro.boot.serialno]: [MDMBB20601204197]
[ro.build.version.sdk]: [29]
[ro.hardware]: [mt6765]
[ro.hardware.egl

[2020-07-14 08:28] HKLee2040 commented on #423
Ubuntu 16.04
SCons 2.4.1
CMake 3.5.1
boost 1.64.0
protobuf v3.5.0
tensorflow & git checkout 590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b
ComputeLibrary: master
aarch64-linux-gnu-gcc (Ubuntu/Linaro 5.4.0-6ubuntu1~16.04.9) 5.4.0 20160609
aarch64-linux-gnu-g++ (Ubuntu/Linaro 5.4.0-6ubuntu1~16.04.9) 5.4.0 20160609

**Without custom backend, the package can be compiled.  Unitest is passed.**

While I copy

[2020-07-14 08:41] MatthewARM commented on #411
Sorry @mathpopo I don't know the answer to that - I use the documentation from Compute Library here: https://arm-software.github.io/ComputeLibrary/v20.05/#S3_6_cl_requirements which states:
"Compute Library requires OpenCL 1.1 and above with support of non uniform workgroup sizes, which is officially supported in the Mali OpenCL DDK r8p0 and above as an extension (respective extension flag is -cl-

[2020-07-14 09:26] MatthewARM commented on #423
Hi @HKLee2040 I have reproduced the problem you are seeing. It seems that the ArmNNPluginFramework.zip downloaded from developer.arm.com is very old and does not work with recent versions of Arm NN.

I will try to update it to work with the current Arm NN code and will post my results on this issue.

[2020-07-14 09:36] jnulzl opened #424 "ArmNN prebuild version"
Could you release a prebuild version ??

[2020-07-14 14:00] MatthewARM commented on #423
Hi @HKLee2040

I've managed to get the sample code to compile by making the following changes:

[update-custom-backend.patch.txt](https://github.com/ARM-software/armnn/files/4919232/update-custom-backend.patch.txt)

I'll see if we can get developer.arm.com updated properly.

[2020-07-14 14:34] MatthewARM commented on #422
Hi @avanilkumar,

Do you expect this to cause a problem in practice?

It's not exactly a like-for-like comparison as the Tensorflow .pb file uses protobuf serialisation, whereas .armnn uses flatbuffers. There is some description of the difference here: https://codeburst.io/json-vs-protocol-buffers-vs-flatbuffers-a4247f8bda6f

The biggest advantage of using .armnn for a real-world deployment is tha

[2020-07-14 16:13] janeil01 commented on #393
Hi @vinceab,

I just added a [patch to master](https://github.com/ARM-software/armnn/commit/bac9b35df7c59f6b5b61e1d233a49bdb88a973ba) that should fix the issue in the Reshape operation. @Colm-in-Arm mentioned you had a problem with that when running squeezenet.
You could give that a go and see if you can execute squeezenet with it :)

Good luck
Jan

[2020-07-14 18:34] carlosost commented on #417
Hello @MatthewARM ,

I don't have a final solution yet, because the test's results are not consistent. Anyway, I decided to share what I have, so maybe someone could find the missing change I need to do.

**ICaffeParser.hpp**

In order to reshape a network, the first thing I did was split `CreateNetworkFromBinaryFile` from `ICaffeParser.hpp` into two functions. The objective with this is load the

[2020-07-15 03:54] mathpopo commented on #411
![2](https://user-images.githubusercontent.com/21274466/87501527-dedffc00-c691-11ea-8b0b-62141e0c28bc.jpeg)
![1](https://user-images.githubusercontent.com/21274466/87501550-e8696400-c691-11ea-9fd1-eef44acda51b.jpeg)

[2020-07-15 04:34] mathpopo commented on #411
If i del the fp_16 using,can pass the opencl?

[2020-07-15 04:38] mathpopo commented on #411
my use Adreno is:
![3](https://user-images.githubusercontent.com/21274466/87503967-181b6a80-c698-11ea-9d66-957fb2465d15.jpeg)
![4](https://user-images.githubusercontent.com/21274466/87503972-1b165b00-c698-11ea-815f-c6ef0256455a.jpeg)

[2020-07-15 04:51] choice17 commented on #396
I will just close this issue as it seems there is no way to give identical result between CpuAcc backend and CpuRef backend in some cases.

Summary.
1. For quantization inference,  tflite CpuAcc backend gives the similar but not equal result as the CpuRef backend for quantization inference.
2. For floating point inference, CpuAcc backend may gives the similar but not equal result as the CpuRef bac

[2020-07-15 04:51] #396 closed

[2020-07-15 06:10] mathpopo commented on #411
![11](https://user-images.githubusercontent.com/21274466/87509831-f7a5dd00-c6a4-11ea-8c48-a145907aa399.png)

[2020-07-15 06:26] HKLee2040 commented on #423
@MatthewARM
According to your changes, the UnitTests are all passed.
Thanks!

[2020-07-15 07:43] kg512 opened #425 "Issue in running post quantised TFLite Model using ArmNN"
I have retrained MobileNet v2 with lesser classes and converted to uint8 model with Post training quantization using TF1.15 (Keras APIs)

The TFLite Model works with a python code, however using it with ArmNN, leads to the following error:

Optimize graph and load the optimized graph onto a compute device...
Warning: WARNING: Layer of type Convolution2d is not supported on requested backend GpuAcc

[2020-07-15 08:08] MatthewARM commented on #392
Hi @vinceab did d0aa456dae928d54fb68eeac2ae75198b9f8e2d6 fix these problems?

[2020-07-15 09:04] mathpopo commented on #411
@MatthewARM
i select “CXX=clang++ CC=clang scons Werror=1 -j8 debug=1 neon=1 opencl=1 gles_compute=1 examples=1 os=android arch=armv7a”

HWMOA-M:/data/local/tmp/tests $ ./benchmark_graph_mnist
[CORE][15-07-2020 02:20:56][INFO] Can't find valid Mali GPU. Target is set to default.
[CORE][15-07-2020 02:20:56][INFO] Can't find valid Mali GPU. Target is set to default.
[CORE][15-07-2020 02:20:56][INFO]

[2020-07-15 09:32] mathpopo commented on #411
@MatthewARM

CXX=aarch64-linux-android27-clang++ \
CC=aarch64-linux-android27-clang \
CXX_FLAGS="-fPIE -fPIC" \
cmake .. \
    -DCMAKE_ANDROID_NDK=$NDK \
    -DCMAKE_SYSTEM_NAME=Android \
    -DCMAKE_SYSTEM_VERSION=27 \
    -DCMAKE_ANDROID_ARCH_ABI=armeabi-v7a \------------------------------------------------modify this!!!!
    -DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz" \
    -DARMCOMPUTE_ROOT=$HOM

[2020-07-15 11:58] MikeJKelly commented on #425
Hi @kratika5

That error occurs if the weights are QSymm8 with per channel quantization (that's QSYMM8_PER_CHANNEL) and the input is not QAsymm8. In this case your input is QAsymmS8 so it's not supported right now.

In order to use the GpuAcc you would have to retrain the model to use QASymm8 instead of QAsymmS8 or not to use per channel quantization on your weights.

Best regards,
Mike

[2020-07-16 01:09] mathpopo commented on #411
@MatthewARM

i guess just support armv7a
so i select “CXX=clang++ CC=clang scons Werror=1 -j8 debug=1 neon=1 opencl=1 gles_compute=1 examples=1 os=android arch=armv7a”

HWMOA-M:/data/local/tmp/tests $ ./benchmark_graph_mnist
[CORE][15-07-2020 02:20:56][INFO] Can't find valid Mali GPU. Target is set to default.
[CORE][15-07-2020 02:20:56][INFO] Can't find valid Mali GPU. Target is set to default.
[

[2020-07-16 03:20] mathpopo commented on #411
@MatthewARM  via computer library run , i find issue coming from my device just support armeabi-v7a not aarch64-linux-android.so could have a set of armeabi-v7a   armnn(i just modify boost ,computer library),but i donot know protobuf how to compare,i just modify as below:
 mkdir arm32_build
 cd arm32_build
 CC=armv7a-linux-androideabi27-clang \
 CXX=armv7a-linux-androideabi27-clang++ \
 CFLAGS="-f

[2020-07-16 03:44] kratika5 commented on #425
Hi Mike,

Thanks for the reply. I am not really sure, how I can do this using TFLite Converter (Tf-Keras APIs). Thus, I have posted for help on tensorflow git. If you have any guidance in that direction. Please help.

[2020-07-16 09:26] james-conroy-arm commented on #394
Hi @krBarma ,

Many of the test applications in armnn/tests, including TfLiteYoloV3Big-Armnn, require the use of models that have been internally optimized by Arm and are not available publicly.

We are currently working on ways to provide a better solution to this situation.

Cheers,
James

[2020-07-16 09:26] james-conroy-arm commented on #403
Hi @vnn0804 ,

Many of the test applications in armnn/tests, including TfLiteYoloV3Big-Armnn, require the use of models that have been internally optimized by Arm and are not available publicly.

We are currently working on ways to provide a better solution to this situation.

Cheers,
James

[2020-07-16 09:28] james-conroy-arm commented on #395
Hi @krBarma ,

Many of the test applications in armnn/tests require the use of models that have been internally optimized by Arm and are not available publicly.

We are currently working on ways to provide a better solution to this situation.

Cheers,
James

[2020-07-16 09:29] james-conroy-arm commented on #416
Hi @ggardet ,

Many of the test applications in armnn/tests, including TfResNext-Armnn, require the use of models that have been internally optimized by Arm and are not available publicly.

We are currently working on ways to provide a better solution to this situation.

Cheers,
James

[2020-07-16 10:14] MatthewARM commented on #411
Sorry, those steps look good, and you should have "$HOME/armnn-devenv/google/arm32_pb_install".

@nikraj01 have we ever tried building for 32-bit android NDK?

[2020-07-16 10:16] MatthewARM commented on #411
Maybe just try `make install` again a few times to see if there's any other error messages?

[2020-07-16 13:38] nikraj01 commented on #411
@MatthewARM   No, we haven't.

[2020-07-16 13:47] MatthewARM commented on #424
Hi @jnulzl we're planning to do this by providing Debian and Ubuntu packages. The first version going through the Debian testing system can be seen here: https://piuparts.debian.org/sid/source/a/armnn.html

[2020-07-16 13:52] MatthewARM commented on #409
I'm surprised by this, the code needs C++14 which is fully supported from gcc 5 so I don't understand where the problem would be.

[2020-07-16 13:53] MatthewARM commented on #409
Which armnn revision was in use?

[2020-07-16 14:18] vinceab commented on #393
Hi Jan,

I have verified the patch and squeeznet is now running successfully.

Thank you
Vincent

[2020-07-16 14:18] #393 closed

[2020-07-16 14:20] vinceab commented on #392
Hi @MatthewARM, d0aa456  is effectively fixing the UnitTest issue.
UnitTest is  running without any issue now on the STM32MP1.

[2020-07-16 16:07] MatthewARM commented on #392
Awesome, thanks Vincent.

[2020-07-16 16:07] #392 closed

[2020-07-17 01:37] mathpopo commented on #411
@MatthewARM
HWMOA-M:/ $ uname -a
Linux localhost 4.14.141+ #1 SMP PREEMPT Fri May 22 02:51:18 CST 2020 armv8l

means running 32-bit OS on AArch64 compatible core (Cortex A53)

so i could need select armv7 mode , i will try my self,i will prepare for my whole process log

[2020-07-17 03:41] mathpopo commented on #411
@MatthewARM

neon=1 opencl=0 embed_kernels=0

libarmnn.so: undefined reference to `arm_compute::CLSpaceToBatchLayer::validate(arm_compute::ITensorInfo const*, int, int, arm_compute::Size2D const&, arm_compute::Size2D const&, arm_compute::ITensorInfo const*)'
libarmnn.so: undefined reference to `arm_compute::CLArgMinMaxLayer::validate(arm_compute::ITensorInfo const*, int, arm_compute::ITensorInfo c

[2020-07-17 07:03] mathpopo commented on #411
echo "using clang : arm : armv7a-linux-androideabi27-clang++ ;" > $HOME/armnn-devenv/boost/user-config.jam

mkdir arm32_build
 cd arm3_build
 CC=armv7a-linux-androideabi27-clang \
 CXX=armv7a-linux-androideabi27-clang++ \
 CFLAGS="-fPIE -fPIC" \
     LDFLAGS="-llog -lz -lc++_static" \
    ../configure --host=armv7a-linux-androideabi \
    --prefix=$HOME/armnn-devenv/google/arm32_pb_install \
    -

[2020-07-17 07:26] mathpopo commented on #411
adb push $NDK/sources/cxx-stl/llvm-libc++/libs/armeabi-v7a/libc++_shared.so /data/local/tmp/32-armnn

adb push $HOME/armnn-devenv/google/arm32_pb_install/lib/libprotobuf.so /data/local/tmp/32-armnn/libprotobuf.so.15.0.1

ln -s libprotobuf.so.15.0.1 libprotobuf.so.15

ln -s libprotobuf.so.15.0.1 libprotobuf.so

[2020-07-17 07:34] mathpopo commented on #411
127|HWMOA-M:/data/local/tmp/32-armnn $ ls
UnitTests                 libarmnnTfParser.so    libprotobuf.so        src
dynamic                   libarmnnUtils.a        libprotobuf.so.15
libarmnn.so               libc++_shared.so       libprotobuf.so.15.0.1
libarmnnBasePipeServer.so libgatordMockService.a libtimelineDecoder.so
xport LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/data/local/tmp/32-armnn

[2020-07-17 07:34] mathpopo commented on #411
@MatthewARM   finally ,HWMOA-M:/data/local/tmp/32-armnn $ ./UnitTests
Running 3695 test cases...    which can run
but Segmentation fault

[2020-07-17 07:43] mathpopo commented on #411
@MatthewARM   how can i check use opencl
or cpu?

[2020-07-17 09:04] mathpopo commented on #411
@MatthewARM
https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-onnx/build-the-compute-library

Compile the Compute Library using SCons. To do this, change your directory to the Compute Library git repository on your machine, and enter for Arm7-A:

$ scons extra_cxx_flags="-fPIC" benchmark_tests=0 validation_

[2020-07-17 21:44] carlosost opened #426 "Error with static linkage"
*Branch*: 19_11

I have compiled the branch 19_11 into a static library and now I am trying to use the library functionalities inside my application.

I have this class called `Detector` with a simple constructor:

    Detector::Detector() {}

And the class also have a `ICaffeParserPtr` as atributte.

    armnnCaffeParser::ICaffeParserPtr pParser;

When I compile the project, I get this error.

[2020-07-18 03:47] jnulzl commented on #424
Nice！Thanks！

[2020-07-18 14:14] mathpopo opened #427 "how to use flatc to use ARMNN_SERIALIZER"
cmake .. -DARMCOMPUTE_ROOT=$BASEDIR/ComputeLibrary -DARMCOMPUTE_BUILD_DIR=$BASEDIR/ComputeLibrary/build -DBOOST_ROOT=$BASEDIR/boost -DPROTOBUF_ROOT=$BASEDIR/protobuf-host -DBUILD_ONNX_PARSER=1 -DONNX_GENERATED_SOURCES=$BASEDIR/onnx -DARMNNREF=1 -DBUILD_ARMNN_SERIALIZER=YES -DBUILD_ARMNN_QUANTIZER=YES -DARMNNREF=1  -DFLATC=/home/chenxin/Downloads/armnn-onnx/flatbuffers -DFLATBUFFERS_INCLUDE_PATH=/h

[2020-07-20 09:51] mathpopo commented on #427
cmake .. -DARMCOMPUTE_ROOT=$BASEDIR/ComputeLibrary -DARMCOMPUTE_BUILD_DIR=$BASEDIR/ComputeLibrary/build -DBOOST_ROOT=$BASEDIR/boost -DPROTOBUF_ROOT=$BASEDIR/protobuf-host -DBUILD_ONNX_PARSER=1 -DONNX_GENERATED_SOURCES=$BASEDIR/onnx -DARMNNREF=1 -DBUILD_ARMNN_SERIALIZER=YES -DBUILD_ARMNN_QUANTIZER=YES -DARMNNREF=1 -DFLATC=/home/chenxin/Downloads/armnn-onnx/flatbuffers/flatc -DFLATBUFFERS_INCLUDE_PA

[2020-07-20 09:51] #427 closed

[2020-07-20 09:54] mathpopo commented on #427
$ scons arch=x86_64 extra_cxx_flags="-fPIC" benchmark_tests=0 validation_tests=0

[2020-07-20 10:43] carlosost commented on #426
[Solution at StackOverflow](https://stackoverflow.com/a/62989548/4961684)

[2020-07-20 10:43] #426 closed

[2020-07-20 13:35] #424 closed

[2020-07-21 02:17] mathpopo opened #428 "ArmnnConverter error"
(base) chenxin@Nitro-AN515:~/Downloads/armnn-onnx/armnn/build$ ls
ArmnnConverter                  libarmnnSerializer.so.21
ArmnnQuantizer                  libarmnnSerializer.so.21.0
CMakeCache.txt                  libarmnn.so
CMakeFiles                      libarmnn.so.21
cmake_install.cmake             libarmnn.so.21.0
GatordMock                      libarmnnUtils.a
libarmnnBasePipeServer.so

[2020-07-21 02:27] mathpopo commented on #428
sorry ,it is a git LFS HEAD

[2020-07-21 02:34] mathpopo commented on #428
(git-lfs) chenxin@Nitro-AN515:~/Downloads/models$ git lfs pull --include="*mobilenet*7*" --exclude=""

[2020-07-21 02:38] mathpopo commented on #428
(base) chenxin@Nitro-AN515:~/Downloads/models/vision/classification/mobilenet/model$ ll
total 28344
drwxr-xr-x 3 chenxin chenxin     4096 7月  21 10:35 ./
drwxr-xr-x 3 chenxin chenxin     4096 6月  29 23:12 ../
drwxr-xr-x 5 chenxin chenxin     4096 6月  30  2018 mobilenetv2-1.0/
-rw-r--r-- 1 chenxin chenxin 14246826 7月  21 10:33 mobilenetv2-7.onnx
-rw-r--r-- 1 chenxin chenxin 14758284 7月  21 10:33 mo

[2020-07-21 02:39] mathpopo commented on #428
![Screenshot from 2020-07-21 10-39-04](https://user-images.githubusercontent.com/21274466/88006543-759f3380-cb3e-11ea-87fb-337f207a171f.png)

[2020-07-21 02:41] mathpopo commented on #428
@MatthewARM  Is it the model have no output layer?

[2020-07-21 02:43] mathpopo commented on #428
@MatthewARM  IT has output layer
![Screenshot from 2020-07-21 10-41-59](https://user-images.githubusercontent.com/21274466/88006711-e2b2c900-cb3e-11ea-8356-99620c8397c5.png)

[2020-07-21 02:44] mathpopo commented on #428
(base) chenxin@Nitro-AN515:~/Downloads/armnn-onnx/armnn/build$ ./ArmnnConverter -f onnx-binary -m /home/chenxin/Downloads/models/vision/classification/mobilenet/model/mobilenetv2-1.0 -i mobilenetv2-1.0.onnx -s 1 3 224 224 -o mobilenetv2-1.0.armnn -p /home/chenxin/Downloads/models/vision/classification/mobilenet/model/mobilenetv2-1.0
Fatal: Failed to load model from file: The given model does not h

[2020-07-21 02:49] mathpopo commented on #428
void OnnxParser::SetupOutputLayers()
{
    if(m_Graph->output_size() == 0)
    {
        throw ParseException(boost::str(boost::format("The given model does not have any outputs %1%")
                                                      % CHECK_LOCATION().AsString()));
    }

[2020-07-21 07:54] mathpopo opened #429 "how to use DynamicSample"
(base) chenxin@Nitro-AN515:~/Downloads/armnn-onnx/armnn/build/samples$ ./SimpleSample
Please enter a number:
34
Your number was 34
(base) chenxin@Nitro-AN515:~/Downloads/armnn-onnx/armnn/build/samples$ ./DynamicSample
Error: Failed to optimise the input network.
(base) chenxin@Nitro-AN515:~/Downloads/armnn-onnx/armnn/build/samples$ ls
CMakeFiles  cmake_install.cmake  DynamicSample  Makefile  Simpl

[2020-07-21 10:48] MikeJKelly commented on #428
Hi @mathpopo

It looks like your inputs to the ArmnnConverter are incorrect. It's a very confusing error message though and is not at all helpful.
The -m parameter should be the path to the onnx file.
The -i parameter should contain the names of the input layer.
The -o parameter should contain the names of the output layer.

So the command line for this model should look something like this:

./Ar

[2020-07-21 11:38] mathpopo commented on #428
@m

very thank you ,it works

[2020-07-21 11:38] #428 closed

[2020-07-21 12:02] #429 closed

[2020-07-22 11:23] ivs-pychen opened #430 "Does Arm NN support tflite model converted from tensorflow1 or tensorflow2?"

[2020-07-22 14:30] janeil01 commented on #430
Hi @ivs-pychen,

ArmNN officially supports tensorflow1. Many models converted with tensorflow2 work as well. But the new tflite converter is causing issues in some special cases. We are working on a solution for that.
Until we added a proper fix you can simply try running your model with our ExecuteNetwork app. You can find it in armnn/tests/ExecuteNetwork.

If you need any further help don't hesi

[2020-07-22 14:46] james-conroy-arm commented on #403
Hi @vnn0804 ,

Since we have not heard back from you in a while and the issue appears to be resolved now, we are going to close this issue.

Please let us know if this is being closed in error, or feel free to open a new issue if another one should arise.

Cheers,
James

[2020-07-22 14:46] #403 closed

[2020-07-22 14:46] ivs-pychen commented on #430
Does the Mobilenet-ssd and tiny yolov2 work well?

[2020-07-22 14:47] james-conroy-arm commented on #395
Hi @krBarma ,

Since we have not heard back from you in a while and the issue appears to be resolved now, we are going to close this issue.

Please let us know if this is being closed in error, or feel free to open a new issue if another one should arise.

Cheers,
James

[2020-07-22 14:47] #395 closed

[2020-07-22 14:47] james-conroy-arm commented on #394
Hi @krBarma ,

Since we have not heard back from you in a while and the issue appears to be resolved now, we are going to close this issue.

Please let us know if this is being closed in error, or feel free to open a new issue if another one should arise.

Cheers,
James

[2020-07-22 14:47] #394 closed

[2020-07-22 14:47] james-conroy-arm commented on #416
Hi @ggardet ,

Since we have not heard back from you in a while and the issue appears to be resolved now, we are going to close this issue.

Please let us know if this is being closed in error, or feel free to open a new issue if another one should arise.

Cheers,
James

[2020-07-22 14:47] #416 closed

[2020-07-22 14:50] ggardet commented on #416
Nothing is resolved since  `resnext_TF_quantized_for_armnn_team.pb` is not available publicly.

[2020-07-22 15:33] ivs-pychen opened #431 "TFLite operations supported by Arm NN"
I want to know what TFLite operations are supported by Arm NN. Where can I find this information?

[2020-07-22 16:21] janeil01 commented on #430
Mobilnet-ssd should run fine. We have a test executing Mobilenet-ssd regularly.
We don't have a test for yolov2 tiny in place. But just from looking at the models operators it shouldn't cause problems.
However, if you want to be sure the best way is to try it out.

[2020-07-22 16:24] janeil01 commented on #431
Hey @ivs-pychen

you can find a list of supported TfLite operators [here](https://github.com/ARM-software/armnn/tree/branches/armnn_20_05/src/armnnTfLiteParser) in the TensorflowLiteSupport.md file.

Jan

[2020-07-22 16:26] #431 closed

[2020-07-22 16:48] MikeJKelly commented on #425
Hi @kratika5

I'm afraid I don't know how you might do this on the TFLite Converter, however the ComputeLibrary team have improved the support for QAsymmS8 in the following patch: https://review.mlplatform.org/c/ml/ComputeLibrary/+/3452

We are currently working on updating the supported version of ComputeLibrary in ArmNN and hope to have that patch supported in the next week or so.

If you want t

[2020-07-23 00:33] mathpopo opened #432 "UnitTests FAILED"
HWMHA:/data/local/tmp/dynamic/sample $ ls
libArm_SampleDynamic_backend.so
HWMHA:/data/local/tmp/dynamic/sample $ export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/data/local/tmp/dynamic/sample
HWMHA:/data/local/tmp/dynamic/sample $ cd ../../
HWMHA:/data/local/tmp $ ls
11c7-027f-5be7-681f 39fa-68f9-5cdf-edbb UnitTests           libarmnn.so               libarmnnUtils.a        libprotobuf.so        libtimeli

[2020-07-23 02:50] #430 closed

[2020-07-23 08:51] janeil01 commented on #432
Hey @mathpopo

Can I see your build commands? I think you haven't specified a path to DYNAMIC_BACKEND_PATHS.
We have added a [patch](https://review.mlplatform.org/c/ml/armnn/+/3296/3/src/backends/backendsCommon/test/DynamicBackendTests.hpp) on our current master that should make the usage much clearer. Also check the FAQ entry that was added in that patch.

If you need any further help let me know

[2020-07-23 11:42] mathpopo commented on #432
@janeil01

HWMHA:/data/local/tmp/dynamic/sample $ ls
libArm_SampleDynamic_backend.so------------------------i just compare in src/....../sample/build
HWMHA:/data/local/tmp/dynamic/sample $ export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/data/local/tmp/dynamic/sample

using :

CXX=aarch64-linux-android27-clang++
CC=aarch64-linux-android27-clang
CXX_FLAGS="-fPIE -fPIC"
cmake
-DCMAKE_SYSTEM_NAME=Android
-DC

[2020-07-23 11:43] mathpopo commented on #432
just do as

Build Standalone Sample Dynamic Backend

    The sample dynamic backend is located in armnn/src/dynamic/sample

    mkdir build
    cd build

    Use CMake to configure the build environment, update the following script and run it from the armnn/src/dynamic/sample/build directory to set up the armNN build:

    #!/bin/bash
    CXX=aarch64-linux-android<Android_API>-clang++ \
    CC=aar

[2020-07-23 11:44] mathpopo commented on #432
adb shell mkdir -p /data/local/tmp/dynamic/sample/
 adb push -p ${WORKING_DIR}/armnn/src/dynamic/sample/build/libArm_SampleDynamic_backend.so /data/local/tmp/dynamic/sample/

[2020-07-23 11:45] mathpopo commented on #432
@janeil01

-DSAMPLE_DYNAMIC_BACKEND=1 \
-DDYNAMIC_BACKEND_PATHS=$SAMPLE_DYNAMIC_BACKEND_PATH----- i always donot know hwo to set SAMPLE_DYNAMIC_BACKEND_PATH

[2020-07-23 12:11] mathpopo commented on #432
@janeil01 you mean ,i just do not use "Build Standalone Sample Dynamic Backend"

if i want to push libArm_SampleDynamic_backend.so to /data/local/tmp/dynamic/sample/
$SAMPLE_DYNAMIC_BACKEND_PATH is specified as /data/local/tmp/dynamic/sample/

[2020-07-23 12:25] mathpopo commented on #432
[100%] Linking CXX executable UnitTests
/home/chenxin/armnn-devenv/toolchains/android-ndk-r20b/toolchains/llvm/prebuilt/linux-x86_64/bin/../lib/gcc/aarch64-linux-

CXX=aarch64-linux-android27-clang++ \
CC=aarch64-linux-android27-clang \
CXX_FLAGS="-fPIE -fPIC" \
cmake .. \
    -DCMAKE_ANDROID_NDK=$NDK \
    -DCMAKE_SYSTEM_NAME=Android \
    -DCMAKE_SYSTEM_VERSION=27 \
    -DCMAKE_ANDROID_ARCH_ABI=

[2020-07-23 13:00] janeil01 commented on #432
From your comments I'm guessing you're using the [How to use the Android NDK to build ArmNN](https://github.com/ARM-software/armnn/blob/branches/armnn_20_05/BuildGuideAndroidNDK.md) guide. Am I right?

Have you changed to armnn master by now?

[2020-07-23 14:11] mathpopo commented on #432
@janeil01  I just add
-DSAMPLE_DYNAMIC_BACKEND=1
-DDYNAMIC_BACKEND_PATHS=$SAMPLE_DYNAMIC_BACKEND_PATH(/data/local/tmp/dynamic/sample/)

else do same as last

also same issue happen

[2020-07-23 14:28] janeil01 commented on #432
To change to the armnn master branch you can do this:
[code]
I could help you a lot better if you would tell me if you're trying to follow our Android NDK guide or not. Can you let me know?

[2020-07-23 14:59] nikraj01 commented on #432
Hi @mathpopo

$SAMPLE_DYNAMIC_BACKEND_PATH is the path where you have pushed libArm_SampleDynamic_backend.so. For example in the device if you have pushed libArm_SampleDynamic_backend.so to /data/local/tmp/dynamic/sample/
then your SAMPLE_DYNAMIC_BACKEND_PATH is /data/local/tmp/dynamic/sample/

Thanks

[2020-07-23 14:59] mathpopo commented on #432
HWMHA:/data/local/tmp $ ./UnitTests
Running 3697 test cases...
/home/chenxin/armnn-devenv/armnn/src/backends/backendsCommon/test/DynamicBackendTests.hpp(111): error: in "DynamicBackendTests/OpenCloseHandle": check exists(sharedObjectPath) has failed
/home/chenxin/armnn-devenv/armnn/src/backends/backendsCommon/test/DynamicBackendTests.hpp(155): error: in "DynamicBackendTests/OpenCloseHandle": check

[2020-07-23 14:59] mathpopo commented on #432
[ 30%] Building CXX object src/backends/reference/workloads/CMakeFiles/armnnRefBackendWorkloads.dir/RefPermuteWorkload.cpp.o
/home/chenxin/armnn-devenv/armnn/src/backends/cl/workloads/ClResizeWorkload.cpp:41:56: error: no member named 'ScaleKernelInfo' in namespace 'arm_compute'
                                          arm_compute::ScaleKernelInfo(aclInterpolationPolicy,
[code]

[2020-07-23 14:59] mathpopo commented on #432
[ 35%] Building CXX object src/backends/neon/workloads/CMakeFiles/armnnNeonBackendWorkloads.dir/NeonSpaceToBatchNdWorkload.cpp.o
/home/chenxin/armnn-devenv/armnn/src/backends/neon/workloads/NeonResizeWorkload.cpp:41:56: error: no member named 'ScaleKernelInfo' in namespace 'arm_compute'
                                          arm_compute::ScaleKernelInfo(aclInterpolationPolicy,
[code]

[2020-07-23 15:05] mathpopo commented on #432
yes  ,except last DYNAMIC_BACKEND cmakelist ,i modify two lines:
-DCMAKE_ANDROID_ARCH_ABI=arm64-v8a --------------------------add this
-DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz -lc++_shared" -----add this

[2020-07-23 15:06] mathpopo commented on #432
CXX=aarch64-linux-android27-clang++
CC=aarch64-linux-android27-clang
CXX_FLAGS="-fPIE -fPIC"
cmake ..
-DCMAKE_ANDROID_NDK=$NDK
-DCMAKE_SYSTEM_NAME=Android
-DCMAKE_SYSTEM_VERSION=27
-DCMAKE_ANDROID_ARCH_ABI=arm64-v8a
-DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz"
-DARMCOMPUTE_ROOT=$HOME/armnn-devenv/ComputeLibrary/
-DARMCOMPUTE_BUILD_DIR=$HOME/armnn-devenv/ComputeLibrary/build
-DBOOST_ROOT=$HOME/armnn-d

[2020-07-23 16:49] slahiruk opened #433 "Mobilenet-V3 "large" and "small" models not working when using TFLite frontend with Armnn"
To reproduce this error, [install CK](https://github.com/arm-software/armnn-mlperf#install-ck) and then run the following commands

[code]

The following error is seen:

[code]

This error is produced for the [MobileNet-V3 Imagenet Checkpoints](https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet#mobilenet-v3-imagenet-checkpoints) (without the minimalistic checkpoints).

[2020-07-24 09:38] ShailendraSSY opened #434 "CreateNetworkFromBinaryFile :Need to have api which takes FILE* as input and return raw ptr instead of std::unique_ptr"
Details :
ARMNN Version :19.05
ACL Version : 19.05
OS :TIZEN
Parser : TLITE Parser
We are developing a system where we are using ARMNN api's for Neural Network inferencing.
ON analyzing the api's we have found that  following api of TfLiteParser
virtual armnn::INetworkPtr CreateNetworkFromBinaryFile(const char* graphFile) override;
takes only const char*.
In mycase we only have FILE* available whe

[2020-07-28 13:17] janeil01 commented on #425
Hi @kratika5

the patch that Mike mentioned is now supported on our armnn master branch. Your network should be fully supported if you change to that branch. Also make sure that you checkout ComputeLibrary at the new pin before you give that a go.

Good luck and let me know if you have any other issues
Jan

[2020-07-28 14:50] janeil01 commented on #433
Hi @slahiruk

Thanks for reporting this. The reason for that error is that HardSwish is not supported in our TfLiteParser. I added a [patch](https://review.mlplatform.org/c/ml/armnn/+/3623) in our master branch to add the functionality. You can either wait until that patch gets submitted and update to master or apply the patch to your local branch.

Let me know if you've got any further questions

[2020-07-28 15:32] janeil01 commented on #432
You can stash your changes, checkout master and then reapply them:
[code]

Did you have any luck compiling armnn and running unit tests? Your build command looks good to me..

[2020-07-29 02:19] liyanan-kinght opened #435 "ArmnnConverter Usage error."
Hello
I am tring  converted tf model to armnn format model.
My compiler environment is ubuntu16.04.
My ARM device is Raspberry Pi 4 Model B.

./ArmnnConverter -f tflite-binary -m converted_model-cnn.tflite  -i input_x -s 1 150 40 1 -o labels_softmax -p test.armnn

Error: Failed to parse operator #0 within subgraph #0 error: Target 'shape' input is not a 1D tensor:  at function ParseReshape [/home/

[2020-07-29 06:28] avanilkumar commented on #417
Hi
Can you suggest for armnndeserializer how to achieve  input size  propagate to the intermediate layers.

[2020-07-29 08:50] psyhtest commented on #433
Thanks Jan! This works with the `dev` variation of [CK-ArmNN](http://github.com/ctuning/ck-armnn):
[code]

[2020-07-29 09:09] janeil01 commented on #435
Hey @liyanan-kinght

would you mind trying it again with our armnn master branch? We added a [patch](https://review.mlplatform.org/c/ml/armnn/+/3563) just 2 weeks ago that should solve your problem.

Let me know if it worked
Jan

[2020-07-29 10:29] liyanan-kinght commented on #435
OK!  I will tring it again.

[2020-07-29 10:42] janeil01 commented on #433
Great :) good to hear!
I'll close this ticket. Just reopen it if you've got any further questions

[2020-07-29 10:44] #433 closed

[2020-07-29 11:24] kratika5 commented on #425
Thank you for the replies.

I built the new release of Compute Library from https://review.mlplatform.org/admin/repos/ml%2FComputeLibrary;
and ArmNN from https://github.com/ARM-software/armnn/tree/master.

However I am facing the following issue while doing "make" for ArmNN. I am not sure if it because I am not using the correct branch for CL and ArmNN or something else. Thank you for your help in

[2020-07-29 12:01] MikeJKelly commented on #434
Hi @ShailendraSSY

There are two CreateNetworkFromBinaryFile functions one that takes the name of the file and another which takes a vector of uint8_t. That one looks more like what you need. You can read the contents of your file into a vector and pass it to the function:

`virtual armnn::INetworkPtr CreateNetworkFromBinary(const std::vector<uint8_t> & binaryContent) override;
`
If you want the r

[2020-07-29 13:57] janeil01 commented on #425
Sorry, I should have thought about this. You're on the right track. Looks like your acl version doesn't match with armnn. In your armnn directory there is a folder called scripts. In scripts there is a script (who would have guessed that) that is called get_compute_library.sh. If you open that up with an editor of your choice, I used nano,
[code]
you'll see on top of the file something like this:

[2020-07-30 03:40] mathpopo commented on #432
@janeil01
(base) chenxin@Nitro-AN515:~/armnn-devenv$ git clone --recursive https://github.com/ARM-software/armnn.git
Cloning into 'armnn'...
remote: Enumerating objects: 46330, done.
remote: Total 46330 (delta 0), reused 0 (delta 0), pack-reused 46330
Receiving objects: 100% (46330/46330), 47.20 MiB | 553.00 KiB/s, done.
Resolving deltas: 100% (39190/39190), done.
(base) chenxin@Nitro-AN515:~/armn

[2020-07-30 06:24] kratika5 commented on #425
Hi,

Thank you for the reply.

ArmNN: https://github.com/ARM-software/armnn/tree/master
ComputeLibrary: aba2f912a21487776e540724cf354a6cd8d89829 (From get_compute_library.sh)

After building these, it has alleviated the problem for CpuAcc, but the problem still persists for GpuAcc.
The following is the error:
Import graph...
Optimize graph and load the optimized graph onto a compute device...
Info

[2020-07-30 08:14] liyanan-kinght commented on #435
Hello

I use armnn master branch. build armnn error.

build armnn command;

cmake .. -DCMAKE_LINKER=arm-linux-gnueabihf-ld -DCMAKE_C_COMPILER=arm-linux-gnueabihf-gcc -DCMAKE_CXX_COMPILER=arm-linux-gnueabihf-g++ -DCMAKE_C_FLAGS=-fPIC -DCMAKE_CXX_FLAGS=-mfpu=neon -DARMCOMPUTE_ROOT=$BASEDIR/ComputeLibrary -DARMCOMPUTE_BUILD_DIR=$BASEDIR/ComputeLibrary/build -DBOOST_ROOT=$BASEDIR/boost -DTF_GENERATED_

[2020-07-30 09:28] liyanan-kinght opened #436 "Cross-compiling Arm NN for the Raspberry Pi and TensorFlowLite . Failed to load model."
Hello

My compiler environment is ubuntu16.04.
My ARM device is Raspberry Pi 4 Model B.

 libarmnnTfLiteParser.so ,Failed to load model.

my test code:

`#include`  `<iostream>`
#include  `<string>`
#include   `<cassert>`
#include   `<fstream>`
#include   `<vector>`
#include   `<array>`
#include   `<memory>`
#include   `<algorithm>`

#ifdef __cplusplus
extern "C"
{
#endif

#include <pthread.h>
#in

[2020-07-30 09:46] liyanan-kinght opened #437 "armnn/tests/TfLiteVGG16Quantized-Armnn/TfLiteVGG16Quantized-Armnn.cpp “ vgg_16_int8.tflite” Where can I download the model file"
I want to test whether the dynamic library I compiled can be used.

dynamic library : libarmnnTfLiteParser.so

Is there a model file for testing?

My arm device is  Raspberry Pi 4 Model B .
My cross-compiling enviornment is Ubuntu 16.04.

[2020-07-30 11:59] janeil01 commented on #432
Sorry, I should have thought about this. Looks like your acl version doesn't match with armnn. When we release armnn we ensure that the same acl (arm compute library) version works with our version. So armnn_20.05 works with acl_20.05. But when you work with our master branch you'll have to check out a specific commit in acl that works with your current armnn master version. Here is how you can id

[2020-07-30 12:27] janeil01 commented on #425
Can you show me your output for
[code]
and
[code]
I'd like to know what versions for armnn and acl you are working on right now.

[2020-07-30 12:35] janeil01 commented on #435
Sorry, I should have thought about this. Looks like your acl version doesn't match with armnn. When we release armnn we ensure that the same acl (arm compute library) version works with our version. So armnn_20.05 works with acl_20.05. But when you work with our master branch you'll have to check out a specific commit in acl that works with your current armnn master version. Here is how you can id

[2020-07-31 02:14] kratika5 commented on #425
Hi,

Thank you for the reply. Here it is:
**ArmNN**:
commit ea104f29baf384eb098215fd55fd0bdd680711c2 (HEAD -> master, tag: v20.05, origin/branches/armnn_20_05, origin/HEAD, branches/armnn_20_05, armnn_20_05)
Author: Colm Donelan <Colm.Donelan@arm.com>
Date:   Fri May 29 11:15:40 2020 +0100

    IVGCVSW-4801: Updating Doxygen project version for 20.05 release.

    Signed-off-by: Colm Donelan <Colm

[2020-07-31 10:36] janeil01 commented on #425
Alright, your armnn branch is not up to date. Do a git pull in armnn
[code]
Ensure that this commit is included
[code]
And then repeat the steps to get the correct acl version form `get_compute_library.sh`

Now it should wokr :crossed_fingers:

[2020-08-01 08:33] ivs-pychen opened #438 "got segmentation fault in CreateNetworkFromBinaryFile(programOptions.modelPath.c_str()"
I got segmentation fault when running the following code.

using IParser = armnnTfLiteParser::ITfLiteParser;
auto armnnparser(IParser::Create());
armnn::INetworkPtr network = armnnparser->CreateNetworkFromBinaryFile(programOptions.modelPath.c_str());

[2020-08-01 09:49] janeil01 commented on #436
Hi @liyanan-kinght

I tried to reproduce your error but it worked fine for me. What license is your model under? Is it possible for you to share or give me a link to it?

Jan

[2020-08-03 03:01] mathpopo commented on #432
# For pinning to a ref use this:
DEFAULT_CLFRAMEWORKREVISION="branches/arm_compute_20_05" # Release 20.05
#
# For pinning to a revision use this:
#DEFAULT_CLFRAMEWORKREVISION="aba2f912a21487776e540724cf354a6cd8d89829" #COMPMI$

(base) chenxin@Nitro-AN515:~/armnn-devenv/ComputeLibrary$ git checkout aba2f912a21487776e540724cf354a6cd8d89829
fatal: reference is not a tree: aba2f912a21487776e540724cf35

[2020-08-03 03:13] mathpopo commented on #432
(base) chenxin@Nitro-AN515:~/armnn-devenv/ComputeLibrary$ git log .
commit 6a7771e460abeac7d401d6d38a0fcf0a0d2c3cbe (HEAD -> master, tag: v20.05, origin/master, origin/HEAD)
Author: Jenkins <bsgcomp@arm.com>
Date:   Thu May 28 11:28:36 2020 +0100

    arm_compute v20.05

commit 575c81f38edecaa662f3ee45d04ad8efded4fa81 (tag: v20.02.1)
Author: Jenkins <bsgcomp@arm.com>
Date:   Thu Mar 5 16:07:35 202

[2020-08-03 03:23] ivs-pychen commented on #438
I use TFLite model converted from TF2. Is this the possible cause for the segmentation fault?

[2020-08-03 05:20] #437 closed

[2020-08-03 05:32] liyanan-kinght commented on #435
Hello  @janeil01

Thanks! I solved the problem. Thank you for your help. Many thanks!

[2020-08-03 05:36] pradeepkrnik opened #439 "build steps required for building ARMNN with ARM compiler."
Hi,
 Please provide the building steps to build the ARMNN with ARM compiler.
-thanks
Pradeep

[2020-08-03 05:40] #435 closed

[2020-08-03 05:49] liyanan-kinght commented on #436
Hello @janeil01

Thank you very much. I have solved the problem. Thank you for your help.  You helped me solve the problem in another ISSUE.

[2020-08-03 05:51] #436 closed

[2020-08-03 06:22] ivs-pychen opened #440 "Which version of tensorflow1 or tensorflow2 can completely supported by Arm NN?"

[2020-08-03 21:31] Mo-Abdelgawad opened #441 "Building a static armnn library (libarmnn.a) and a static armnn caffe parser library (armnnCaffeParser.a)"
By default, when building `armnn`, a shared armnn library `libarmnn.so` and a shared caffe parser library `armnnCaffeParser.so `are  built.

However, I need **static** versions of them!

What I tried:
--**For target `armnnCaffeParser`**:
In `CMakeLists.txt`, I changed the `SHARED` flag in line 97 to `STATIC`.
Line 97 before change: ` add_library_ex(armnnCaffeParser SHARED ${armnn_caffe_parser_sour

[2020-08-04 05:34] kratika5 commented on #425
Hi,

Unfortunately, it is still not working! Now the error is coming up for a different layer:
Warning: WARNING: Layer of type Mean is not supported on requested backend GpuAcc for input data type QAsymmS8 and output data type QAsymmS8 (reason: in validate_config src/runtime/CL/functions/CLReduceMean.cpp:86: Tensors have different quantization information), falling back to the next backend.
Warnin

[2020-08-04 09:28] janeil01 commented on #438
Hi @ivs-pychen

Tf2 is not fully tested yet. But we don't expect any problems with it.

What kind of model are you running? And could you post the full error message?
Also have you tried your code with a tf.1.15 model or with a different tf2 model?

Jan

[2020-08-04 09:50] janeil01 commented on #440
Hey @ivs-pychen

Armnn20.05 supports tensorflow 1.15. In the context of your previous question I'm guessing you're asking about the TfLite parser. The TfLite parser in the current master branch should (not fully tested yet) also support tensorflow 2.1 models.

Jan

[2020-08-04 09:55] ivs-pychen commented on #438
I run the Mobilenetv2 ssd. And I just got the Segmentation fault, no other error messages.
I tried other model from [tensorflow lite hosted models](https://www.tensorflow.org/lite/guide/hosted_models) and [tensorflow lite object detection](https://www.tensorflow.org/lite/models/object_detection/overview). And both of them can import the model.

Does the tf1.15 can be fully supported by Arm NN?

[2020-08-04 10:00] ivs-pychen commented on #440
How do I know the Armnn version I installed?

[2020-08-04 12:16] janeil01 commented on #425
Hey,

that's a known issue. Acl doesn't support different quantizations for input and output in reduce mean. There is an internal ticket created already and they'll start working on it shortly.

Sorry, I don't have a quick fix for that one. I'll let you know when acl has added support for it.

Jan

[2020-08-04 12:30] janeil01 commented on #439
Hi @pradeepkrnik

could you give me some insights on what you're trying to do? Do you just want to compile armnn for an arm architecture?

We've got a guide about [crosscompiling armnn](https://github.com/ARM-software/armnn/blob/branches/armnn_20_05/BuildGuideCrossCompilation.md). Have you already tried following that while passing your preferred compiler to the build commands?

There are also mor

[2020-08-04 12:40] janeil01 commented on #432
You might have to get all the commits from github before you can checkout the sha mentioned in `get_compute_library.sh`:
[code]

Let me know it that worked :)

[2020-08-04 13:27] pradeepkrnik commented on #439
HI Jan,
 Thanks for coming back.
  Yes the goal is to mesaure the performance of ARMNN on ARM COMPILER vs GCC.

 Yes I had looked into  crosscompiling armnn, is it something like every build listed in the cross compiling armnn we need to build with ARM COMPILER ?
 boost lib,
 protobuf lib,
 I could find the gcc compiler but for
compute lib its with scons - i dont know how to mention the arm compil

[2020-08-04 14:09] janeil01 commented on #440
Go to the directory where you have downloaded armnn and do a git log
[code]
Our default branch is armnn_20_05 right now. If you haven't changed anything your output should look something like this:
[code]
You can build different versions of armnn by checking out different branches. You'll have to make sure though to have the correct version of compute library as well.
When we release armnn we ensu

[2020-08-04 14:38] janeil01 commented on #439
`CC= CXX= scons` should work

[2020-08-04 15:28] janeil01 commented on #438
Alright, I think I know what is going on. You have build acl in release. To make the code more efficient a lot of IsSupported tests are skipped in the release build. If you rebuild acl in debug mode you'll get more informative error messages.

In mobilenet there is a hard_swish operator that is not supported by armnn_20.05. There is a similar ticket [here](https://github.com/ARM-software/armnn/iss

[2020-08-05 01:22] mathpopo commented on #432
@janeil01
(base) chenxin@Nitro-AN515:~/armnn-devenv/ComputeLibrary$ git checkout master
Already on 'master'
Your branch is up to date with 'origin/master'.
(base) chenxin@Nitro-AN515:~/armnn-devenv/ComputeLibrary$ git pull
Already up to date.
(base) chenxin@Nitro-AN515:~/armnn-devenv/ComputeLibrary$ git checkout aba2f912a21487776e540724cf354a6cd8d89829
fatal: reference is not a tree: aba2f912a2148

[2020-08-05 01:22] mathpopo commented on #432
# For pinning to a ref use this:
DEFAULT_CLFRAMEWORKREVISION="branches/arm_compute_20_05" # Release 20.05
#
# For pinning to a revision use this:
#DEFAULT_CLFRAMEWORKREVISION="aba2f912a21487776e540724cf354a6cd8d89829" #COMPMID-3289: Test improvement CLGEMMMatrixMultiplyReshapedKernel.

[2020-08-05 01:30] mathpopo commented on #432
![Screenshot from 2020-08-05 09-29-15](https://user-images.githubusercontent.com/21274466/89361599-440d9700-d6fe-11ea-8c8d-fe438ff1d789.png)

[2020-08-05 01:38] mathpopo commented on #432
![Screenshot from 2020-08-05 09-29-15](https://user-images.githubusercontent.com/21274466/89362025-5dfba980-d6ff-11ea-9d4d-e7f9d58fc6c5.png)

[2020-08-05 08:02] liyanan-kinght opened #442 "Error loading TENSORFLOW model file"
Hello

1.compile enviroment : Ubuntu 16.04
2.arm device : raspberry pi 4B
3.cross compile tools: gcc-arm-8.3-2019.03-x86_64-arm-linux-gnueabihf

My code:

`
#include <iostream>
#include <string>
#include <cassert>
#include <fstream>
#include <vector>
#include <array>
#include <memory>
#include <algorithm>

#ifdef __cplusplus
extern "C"
{
#endif

#include <pthread.h>
#include <stdio.h>
#include <ti

[2020-08-05 08:41] janeil01 commented on #432
you're on armnn_20_05 branch. You have to change to master to get the right sha
![image](https://user-images.githubusercontent.com/49715517/89391089-9a2f0a00-d6ff-11ea-8402-146e1259d533.png)

[2020-08-05 08:51] janeil01 commented on #442
Hi @liyanan-kinght

From your file ending (.pb) I guess that you don't have your model saved as text file (json). If your model is saved as protobuf binary do the following:
Instead of
[code]
use
[code]

Hope that helps
Jan

[2020-08-05 09:06] liyanan-kinght commented on #442
Hello @janeil01

I changed the code.
Run program error.

error info:
terminate called after throwing an instance of 'armnn::ParseException'
  what():  Unexpected number of inputs for node ExpandDims. Expected 1, found 2  at function GetInputParsedTfOperationsChecked [/home/liyanan/tmp_git_armnn_private_project/armnn_tensorflow_TEST/armnn/src/armnnTfParser/TfParser.cpp:610]
Aborted (core dumped)

i

[2020-08-05 09:13] liyanan-kinght commented on #442
Hello @janeil01

I build the ARMNN item version information

armnn :
branch : master
version number : f2225ca02f10db41db6a5dc91db57be0ad5dc190

computelibary:
branch : master
version number : 3b64e3e78c166773fea680afb4829d886e90552d

protobuf:
branch: v3.5.0

flatbuffers:
branch : master
version number : c30a87de6fc741d7dfcf1f721a69d89ca27a0866

boost:
version : 1.64.0

tensorflow:
version number

[2020-08-05 09:27] janeil01 commented on #442
What license is your model under? Can you upload it? Or is there a link to a network with a similar structure like yours?

Would like to find out if there are actually two inputs to the ExpandDims operation.

[2020-08-05 09:28] mathpopo commented on #432
![Screenshot from 2020-08-05 17-24-44](https://user-images.githubusercontent.com/21274466/89396131-c323bf00-d740-11ea-9234-b0dd165c26e8.png)

[2020-08-05 09:58] MatthewARM commented on #432
Maybe the Compute Library repo was cloned from Github? If so, it won't have the latest master. The ComputeLibrary team keep their latest master on gerrit only: https://review.mlplatform.org/admin/repos/ml/ComputeLibrary

[2020-08-05 10:22] liyanan-kinght commented on #442
[frozen_graph_10cnn_v1.13.zip](https://github.com/ARM-software/armnn/files/5027713/frozen_graph_10cnn_v1.13.zip)

Hello@janeil01

[2020-08-05 10:23] liyanan-kinght commented on #442
Hello @janeil01
The model file is in the previous reply.

Thanks!

[2020-08-05 13:46] janeil01 commented on #442
Thanks @liyanan-kinght,
Which version of tensorfow did you use to create the model?

[2020-08-05 15:00] liyanan-kinght commented on #442
Hello @janeil01
armnn :
branch : master
version number : f2225ca

computelibary:
branch : master
version number : 3b64e3e78c166773fea680afb4829d886e90552d

protobuf:
branch: v3.5.0

flatbuffers:
branch : master
version number : c30a87de6fc741d7dfcf1f721a69d89ca27a0866

boost:
version : 1.64.0

tensorflow:  version number : 590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b

[2020-08-05 15:54] janeil01 commented on #442
Sorry, I missed that you've posted the tf version already.

Looks like this is a bug. We expect a single input and dim/axis as the operators attribute but your network passes dim/axis as a second input. I created an internal ticket to solve this issue.

I can only point you to our TfLiteParser as a quick alternative.

[2020-08-06 01:47] mathpopo commented on #432
@janeil01  git clone "https://review.mlplatform.org/ml/ComputeLibrary"  to get ComputeLibrary,
 2007  git checkout ac4c03042d7a3020f87cea641e69aa38a684ddd7
 2008  scons arch=arm64-v8a neon=1 opencl=1 embed_kernels=1 extra_cxx_flags="-fPIC"   benchmark_tests=0 validation_tests=0 os=android -j16
is ok,thank you @MatthewARM

2021  CXX=aarch64-linux-android27-clang++ CC=aarch64-linux-android27-clang C

[2020-08-06 01:58] mathpopo commented on #432
![Screenshot from 2020-08-06 09-55-17](https://user-images.githubusercontent.com/21274466/89481792-14789080-d7cb-11ea-8974-bcd24937716b.png)

[2020-08-06 02:15] liyanan-kinght commented on #442
Hello @janeil01

Ok, I see. Thank you very much for your help.
I would use TensorFlowlite as an alternative.

Thanks!

[2020-08-06 11:32] janeil01 commented on #432
Thanks for reporting this. I added a [patch](https://review.mlplatform.org/c/ml/armnn/+/3685) to our master branch to fix it.

If you don't want to wait until it got submitted then you can apply the patch manually.

[2020-08-06 13:29] mathpopo commented on #432
rk3399_all:/data/local/tmp # ./UnitTests
WARNING: linker: Warning: unable to normalize ""
Running 3982 test cases...
/home/chenxin/armnn-devenv/armnn/src/backends/backendsCommon/test/DynamicBackendTests.hpp(152): fatal error: in "DynamicBackendTests/OpenCloseHandle": Base path for shared objects does not exist: /home/chenxin/armnn-devenv/armnn/build/src/backends/backendsCommon/test/
To specify the

[2020-08-06 13:29] mathpopo commented on #432
CXX=aarch64-linux-android27-clang++ \
CC=aarch64-linux-android27-clang \
CXX_FLAGS="-fPIE -fPIC" \
cmake .. \
    -DCMAKE_ANDROID_NDK=$NDK \
    -DCMAKE_SYSTEM_NAME=Android \
    -DCMAKE_SYSTEM_VERSION=27 \
    -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a \
    -DCMAKE_EXE_LINKER_FLAGS="-pie -llog -lz" \
    -DARMCOMPUTE_ROOT=$HOME/armnn-devenv/ComputeLibrary/ \
    -DARMCOMPUTE_BUILD_DIR=$HOME/armnn-devenv

[2020-08-07 01:32] mathpopo commented on #432
@janeil01  first thank you for your guide,

rk3399_all:/data/local/tmp # ./UnitTests
WARNING: linker: Warning: unable to normalize ""
Running 3982 test cases...
/home/chenxin/armnn-devenv/armnn/src/backends/backendsCommon/test/DynamicBackendTests.hpp(631): error: in "DynamicBackendTests/GetBackendPaths": check DynamicBackendPaths2.size() == 1 has failed [0 != 1]
Segmentation fault

(base) chenxin@

[2020-08-07 02:04] liyanan-kinght commented on #442
Hello@ @janeil01

I used to remove the DROPOUT layer's PB files. Still get an error.

Error Info:
[libprotobuf ERROR google/protobuf/text_format.cc:288] Error parsing text-format tensorflow.GraphDef: 2:1: Expected identifier, got: 9
terminate called after throwing an instance of 'armnn::ParseException'
  what():  Failed to parse graph file  at function CreateNetworkFromTextFile [/home/liyanan/armn

[2020-08-07 08:33] janeil01 commented on #442
I see two things that might be wrong.

If you're using the TfLiteParser you'll have to convert your network to TfLite first. The .pb suffing of your model file indicates that you are using a tensorflow model.

Also you seem to use `CreateNetworkFromTextFile` instead of `CreateNetworkFromBinaryFile`.

[2020-08-07 08:49] liyanan-kinght commented on #442
Hello@janeil01

I changed the code.  I use CreateNetworkFromTextFile instead of CreateNetworkFromBinaryFile.

I used to remove the DROPOUT layer's PB files. Still get an [error.](https://github.com/ARM-software/armnn/issues/442#issuecomment-669274624)

my tf model file:
[frozen_graph_10cnn_v1point20_nodropout.zip](https://github.com/ARM-software/armnn/files/5040274/frozen_graph_10cnn_v1point20_nod

[2020-08-07 10:36] janeil01 commented on #442
Right now you are still using the TfParser. The problem with that is that ArmNNs ExpandDims operation doesn't support 2 inputs. That's the bug we encountered earlier. Your model without dropout still has an ExpandDims operation with 2 inputs in it. That's why the error persists.
![image](https://user-images.githubusercontent.com/49715517/89636574-c0d87680-d8a0-11ea-9b7e-8c8a30eb0a45.png)

We are w

[2020-08-07 15:24] Mo-Abdelgawad commented on #441
I got it working:

In addition to my changes above:
1- In `CmakeLists.txt`, I added `set (POSITION_INDEPENDENT_CODE OFF) `for both `armnn` and `armnnCaffeParser` libraries. I read that it's by default set to `OFF` for static library targets, however when I saw the `flag.make` in both targets  directories, I found the `-fPIC` there!

2- For statically linking against them: I followed the undefined

[2020-08-07 15:24] #441 closed

[2020-08-08 00:16] liyanan-kinght commented on #442
Hello@janeil01
Sorry,I mistakenly thought the model file had been changed to match the current TfParser.This model file was given to me by a colleague.
I will try to test with a  model file that matches the current TfParser. Thank you very much for you help.

[2020-08-08 20:07] Mo-Abdelgawad commented on #320
I have just encountered the same problem. @phiae  Did you manage to solve it ?
The only difference from your error message is the preferred backend. I have `CpuRef` instead of `CpuAcc` as follows: "`ERROR: None of the preferred backends [CpuAcc ] are supported. Current platform provides []`"

@james-conroy-arm @MatthewARM, I'm running the executable on gem5 simulator so not sure what type of `--de

[2020-08-09 03:08] Mo-Abdelgawad commented on #361
Hello,
@korabelnikov I have encountered a problem somehow like that. Could you please let me know how you solved it? what change did you make to which source file?
Thanks.

[2020-08-10 09:55] #440 closed

[2020-08-10 09:55] #434 closed

[2020-08-10 13:46] FrancisMurtagh-arm commented on #361
Hi @Mo-Abdelgawad,

Looking at the code it looks like the backend has been hardcoded to CpuRef:
armnn/samples/SimpleSample.cpp

Line 57:
armnn::IOptimizedNetworkPtr optNet = Optimize(*myNetwork, {Compute::CpuRef}, run->GetDeviceSpec());

You could change that to whichever backend you prefer.

Regards,
Francis.

[2020-08-12 09:46] ivs-pychen opened #443 "Model deployment with Arm NN"
If I want to deploy my model on Arm CPU, Arm NPU, and our deep learning accelerator. How can I assign specific layer to specific processor. For example, I want to assign layer1 to Arm CPU, layer2 to Arm NPU, and layer3 to our deep learning accelerator.

[2020-08-12 12:58] Mo-Abdelgawad commented on #361
Thank you @FrancisMurtagh-arm!

[2020-08-14 09:27] mathpopo commented on #432
@@janeil01 could you help me?
trident:/data/local/tmp $ ./UnitTests
Running 3982 test cases...
/home/chenxin/armnn-devenv/armnn/src/backends/backendsCommon/test/DynamicBackendTests.hpp(631): error: in "DynamicBackendTests/GetBackendPaths": check DynamicBackendPaths2.size() == 1 has failed [0 != 1]
Segmentation fault
139|trident:/data/local/tmp $

[2020-08-17 11:24] avanilkumar opened #444 "intermideate output in armnn"
I have an armnn file. It has layers say a1,a2.......an.......a100.
Based on situation i don't want to run till a100  but to any layer in between say an.
Need suggestion on how to achieve it. Also I dont want to maintain multiple armnn files with layers a1...an    & one with layers a1 to a100.

[2020-08-19 17:49] sahibdhanjal opened #445 "ONNX Parser support for SqueezeNet ?"
Hi,

I'm trying to make armnn's ONNX Parser work with an open source version of [squeezenet](https://github.com/onnx/models/tree/master/vision/classification/squeezenet), however, the parser is failing to load the model throwing the following error:
[code]
From the documentation on supported layers, I'm able to see that the **concat** layer is not supported for the time-being, so I was wondering i

[2020-08-20 10:29] #411 closed

[2020-08-20 11:41] MikeJKelly commented on #443
Hi @ivs-pychen

you can set the preferred backend through the BackendSelectionHint(BackendId id) function.

[code]

That should work.

Best regards,
Mike

[2020-08-20 11:57] MikeJKelly commented on #444
Hi,

there is currently no way to do this and it's not on our roadmap. Once you begin running a graph it will always attempt to run to completion and at the moment you will not be able to know the internal state.

If you wanted to check the output of a layer of the graph to determine if you want to continue executing it then the only way to currently do this is to break the graph into subgraphs.

[2020-08-20 12:21] MatthewARM commented on #443
Or set your preference order of backends, and let the optimiser choose.

[2020-08-20 12:35] MikeJKelly commented on #445
Hi @sahibdhanjal

Onnx parser support for Concat is on the roadmap for an upcoming release but there is no ETA at the moment.

If you wish to add support for a layer to the Onnx parser then the Concat operator is described at https://github.com/onnx/onnx/blob/master/docs/Operators.md#Concat and a good example of the way that an Onnx operator is added would be: https://review.mlplatform.org/c/ml/ar

[2020-08-20 17:07] janeil01 commented on #432
Hey mathpopo,

sorry, I couldn't come back to you earlier. What's your status right now?

Regards
Jan

[2020-08-20 17:11] psyhtest commented on #409
This was dev (master) two weeks after 20.05.

[2020-08-20 17:12] janeil01 commented on #442
Hey @liyanan-kinght

do you have any further questions? Can this issue be closed?

[2020-08-21 06:30] smartadpole opened #446 "Can we support the Mali450 GPU inference"
[Mali 450](https://developer.arm.com/ip-products/graphics-and-multimedia/mali-gpus/mali-450-gpu) do not support OpenCL,  and only support OpenGL ES 1.1/2.0. I want to inference model with the GPU. Did `ArmNN` support it?

[2020-08-21 07:18] #444 closed

[2020-08-21 07:18] #422 closed

[2020-08-21 07:41] mathpopo commented on #432
@janeil01 i just try some chips(rk3399,Qualcomm845)，all have this log issuem,but i try to grep it in code,do not have same

[2020-08-24 05:30] #443 closed

[2020-08-24 05:56] ivs-pychen opened #447 "Arm NN Inference type"
What is the inference type of the TFLite model deployed through the Arm NN?  Is it the same as the TFLite model converted from the TF? For example, the TFLite model converted from TF is float-point32, and the TFLite model deployed through the Arm NN is also float-point32.

[2020-08-24 07:34] #442 closed

[2020-08-24 08:27] MatthewARM commented on #411
Hi @mathpopo sorry I missed this question, I just found it again while looking for something else:

```scons extra_cxx_flags="-fPIC" benchmark_tests=0 validation_tests=0``` ------this just Arm7-A?not need arch=???????? is ir in intel PC Ubuntu?Raspberry Pi？

The default is Arm v7-A, so you don't need an extra `arch`. You should be able to build it wherever you have the right compiler installed - a

[2020-08-24 09:09] janeil01 commented on #432
Ah okay, thanks, that's very appreciated :)

Can you post the error message again and the commit ID of ArmNN that you are using?

[2020-08-24 09:33] janeil01 commented on #447
Hey @ivs-pychen

yes, that's right :+1:  An fp32 model in TfLite is deployed as fp32 model in ArmNN

[2020-08-24 11:16] #447 closed

[2020-08-24 23:59] sahibdhanjal commented on #445
I see. Thanks for the quick response! If I'm able to make it work on my side I'll create a PR for the same. Closing this ticket for now

[2020-08-24 23:59] #445 closed

[2020-08-25 02:26] mathpopo commented on #432
@janeil01
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn$ git branch
  branches/armnn_20_05
* master
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn$ git log
commit b648e29c4afc1db91d07a20f21654d63782744cc (HEAD -> master, origin/master)
Author: Teresa Charlin <teresa.charlinreyes@arm.com>
Date:   Wed Aug 5 16:00:38 2020 +0100

    Updated ACL pin to 0499dff9293a86d3d53f72fed0a38b2823563674

[2020-08-25 02:27] mathpopo commented on #432
(base) chenxin@Nitro-AN515:~/armnn-devenv/armnn$ git log ./src/backends/backendsCommon/test/DynamicBackendTests.hpp
commit aa93d98092e9689f945cc84d368f64e46d1455af
Author: Colm Donelan <Colm.Donelan@arm.com>
Date:   Sun Jun 28 08:16:46 2020 +0100

    IVGCVSW-4487 Remove boot/dll.hpp from dynamic backends test.

    * Replace the call to boost::dll::program_location() with a cmake
      variable s

[2020-08-25 20:46] sahibdhanjal opened #448 "Segmentation Fault OnnxParser::ParseActivation"
Hello,

I was trying to use the ONNX parser for a personal project, and was running into the issue where it leads to a segmentation fault. I was able to make an open source  [mobilenet onnx model](https://github.com/onnx/models/blob/master/vision/classification/mobilenet/model/mobilenetv2-7.onnx) work perfectly. However, when I remove the classification head from the original architecture, and add

[2020-08-26 04:50] wangg commented on #389
I just submitted a change on Gerrit (https://review.mlplatform.org/c/ml/armnn/+/3841), but it looks like armnn32-ci-build failed because the master branch of ArmNN depends on a different version of ComputeLibrary than the building script is using. Should I do something to the change I submitted, or should I just wait for further review by others?

My apologies if I am asking in a wrong place.

[2020-08-26 09:11] MikeJKelly commented on #448
Hi @sahibdhanjal

I'll take a look and try to see what the problem is.

Best regards,
Mike

[2020-08-26 09:39] waynexhsieh commented on #344
Hi @uu-praveeng

How do you generate the raw file ?

I download the mobilenet v1 1.0 224 fp32 tflite model from Google official release, and use ArmnnConverter convert to "mobilenet.armnn"

`./ImageTensorGenerator -i xxx.jpg -f tflite -o xxx.raw --new-width 224 --new-height 224 -l "NCHW"`
`./ImageCSVFileGenerator -i . -o img.csv `
`./ArmnnQuantizer -f mobilenet.armnn -c ./img.csv -p -d . -o quanti

[2020-08-26 09:50] uu-praveeng commented on #344
Hi @waynexhsieh

I have used the attahced .cpp file to generate the raw file ,csv file . Let me know if this helps.
You need to pass the image in .txt format with UINT8 datatype.

Thanks,
Praveen.
[CSVTensorGeneratorArg.zip](https://github.com/ARM-software/armnn/files/5129000/CSVTensorGeneratorArg.zip)

[2020-08-26 10:24] Colm-in-Arm commented on #389
That's very strange. It looks like the Linaro CI is building a combination of ArmNN master + patch and CL 20.05. ScaleKernelInfo has been added since that release, hence the build error. I'm not familiar with the Linaro CI setup. I'll fire off a question.

We'll hold off on your patch anyway as the ArmNN 20.08 release is due any day now. There might be some rework required to keep up to date with

[2020-08-27 07:17] waynexhsieh commented on #344
Hi @uu-praveeng ,

The attachced.cpp file can't solve it.
I found that the "layerBindingId" of my generated model is not 0, but is 44288. (I don't know why is 44288)
And I change the number in csv file, and quantize the model success.

Thanks,
Wayne

[2020-08-27 08:46] FrancisMurtagh-arm commented on #344
Hi @waynexhsieh,

The ImageCSVFileGenerator was given the optional "Input layer binding Id" argument to workaround this issue: https://review.mlplatform.org/c/ml/armnn/+/1764/

Regards,
Francis.

[2020-08-27 10:22] Colm-in-Arm commented on #389
I got some feedback from the Linaro CI people. They've temporarily disabled the armnn32-ci-build until this problem is solved.

Can you re-trigger by maybe updating the commit message and pushing again. We'll see what happens.

Colm.

[2020-08-27 11:18] K1504296 commented on #389
Hey Colm and wangg,

I'm responsible for the ArmNN Linaro CI. Sorry for the issues with the 32 bit armnn ,I'm currently looking into it. In the meantime a patch has just gone live which will disable reporting from the 32 bit armnn build to review.mlplatfrom.org

Theo

[2020-08-27 16:47] MikeJKelly commented on #448
Hi @sahibdhanjal

The segfault I see occurs when we parse Clip. According to the docs for Clip https://github.com/onnx/onnx/blob/master/docs/Operators.md#Clip Clip can have two optional inputs for Min and Max. However, in your file your Min and Max are Attributes rather than Inputs.

The parser shouldn't segfault at this stage as the inputs are optional so I'll put together a patch to fix that but

[2020-08-27 17:02] sahibdhanjal commented on #448
Hi @MikeJKelly ,

Thanks for the quick turn around! I'll try setting the Min/Max to inputs and see if it works. Will let you know how it goes

Best Regards,
Sahib

[2020-08-29 08:10] sahibdhanjal commented on #448
Hi @MikeJKelly ,

I tried moving the same from attributes to inputs but it didn't work out. The conversion is handled directly by PyTorch's `torch.onnx.export` hence I'm not able to meddle around with the individual layer. I also noticed that even in the open source mobilenet, the min/max are treated as attributes itself in the clip layers it has, so I can't figure out why there's an issue with th

[2020-08-30 19:25] the-promised-LAN opened #449 "Caffe fully connected (InnerProduct) layers cause ParseException"
Hello!

**TLDR:**
armnnCaffeParser throws _armnn::ParseException: Failed to parse layer [fc9]_ while parsing a Fully Connected layer of a Caffe model

**Details:**
Following one of the [ArmNN tutorials](https://community.arm.com/developer/tools-software/graphics/b/blog/posts/creating-ar-ml-demo-on-mobile-devices), I'm trying to get a trained YOLOv1 Caffe model working with ArmNN. The model is pars

[2020-08-31 09:53] #439 closed

[2020-08-31 13:52] paragikjain opened #450 "Getting Error while ArmNN Cross Compilation"
Hi Team,

I am getting Below error in Cmake of armNN  cross compilation for yocto

CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
CXXOPTS_INCLUDE

@MatthewARM

Thanks for Help in Advance

[2020-08-31 16:53] FinnWilliamsArm commented on #450
Hi paragikjain,

That's a third party library we use to replace boost program options.
Could you please check that cxxopts.hpp exits in third-party/cxxopts?

Another possibility is that you are building with BUILD_PIPE_ONLY enabled, in which case the path would not be set.

Thanks

Finn

[2020-09-01 03:59] paragikjain commented on #450
HI Finn
Thanks for the help

That header file is present in my case and the path is also added to cmake file and I am not using BUILD_PIPE_ONLY mode.
Still getting the same error

[2020-09-01 04:06] paragikjain commented on #450
Hi Finn I have checked out older version of git and now that error has gone previously i was using 20 now i have checkout 18

[2020-09-01 05:08] paragikjain opened #451 "During Armnn Cross Compilation Getting Error"
Hi Team
I am getting below error while cross compliling armnn for yocto.
/opt/fsl-imx-xwayland/4.14-sumo/sysroots/aarch64-poky-linux/usr/include/c++/7.3.0/cstdlib:75:15: fatal error: stdlib.h: No such file or directory
 #include_next <stdlib.h>

This file is present in my compiler can you please help me how to resolve this.

Thanks for help in advance
Parag Jain

[2020-09-01 05:10] #450 closed

[2020-09-01 11:04] FinnWilliamsArm commented on #449
Hi the-prmoised_LAN

What Arm NN version are you using?

[2020-09-01 13:24] FinnWilliamsArm commented on #451
Hi paragikjain

This could be a result of mixing up compiler and system includes.
In gcc you can check the include path for your compiler with:
gcc -xc -E -v -
gcc -xc++ -E -v -

Then check if stdlib.h is in the include path that is listed by that command.

[2020-09-02 08:44] janeil01 commented on #432
Hey @mathpopo

could you show me the contents of the following directory?
```"your_build_dir"/armnn/src/backends/backendsCommon/test/backendsTestPath1```
Cmake creates some test files in there to test the functionality of the dynamic backend. It looks like some of these contents weren't copied over to you android board.

[2020-09-02 14:34] vinceab commented on #450
Hi @Finn,

Is it planned to replace boost options by cxxopts?
Because it creates for Yocto project build system an unmet dependency to cxxopts.
Most of the armnn test are using boost options.
Why only ./TfLiteYoloV3Big-Armnn/TfLiteYoloV3Big-Armnn.cpp is using cxxopts?
Why can't we simply keep boost options which is already supported by the yocto build system?

Solution of @paragikjain is to checko

[2020-09-03 08:48] ggardet commented on #419
I got it built with:
[code]

**BUT**, it fails in UnitTest:
[code]

[2020-09-03 09:02] janeil01 commented on #432
Is that how the directory looks like on your board?

[2020-09-03 10:47] ivs-pychen opened #452 "How much computing resource is used by Arm NN?"
How do I know how many cpus or gpus are used by Arm NN?

[2020-09-03 13:31] ggardet commented on #419
Just tried version 20.08 and it is the same.

[2020-09-03 13:47] FinnWilliamsArm commented on #452
Hi @ivs-pychen

There are two previous issues that might have the answer your looking for: #92 #75

Internally I don't believe we have any tools to measure how many CPUs/GPUs Arm NN is using.
But you can use linux commands to inspect this, e.g. "top -H -p <pid of armnn process>"

[2020-09-03 14:31] the-promised-LAN commented on #449
Thanks for the reply, FinnWilliamsArm!

I'm using v.20.05 for both ArmNN and Arm Compute Library. The full stack is as follows:

Android NDK: _r17b + Android 26 API libc++ standalone toolchain_
Boost: _v.1.64_
Protobuf: _v.2.6.1 (x86 for arm version)_
Caffe: _v1.0_

[2020-09-03 15:39] nikraj01 commented on #419
Hi @ggardet , Thanks for trying it. I am aware of the build issue with ONNX 1.7. We have never tested using 1.7 version. But as far as I know 1.6 should work fine with ArmNN. Could you please try it and let me know how it goes.

Thanks

[2020-09-03 15:47] ggardet commented on #419
It was working fine with 1.6.0, but the distro bumped to 1.7.0.

[2020-09-04 14:25] yartaran opened #453 "ML-examples in order to run it on ARM HW"
I would like to build and run ML-EXAMPLES on HW arm64:
https://github.com/ARM-software/ML-examples

I built the armnn for arm64 hardware according to the following document:

https://github.com/ARM-software/armnn/blob/branches/armnn_20_08/BuildGuideCrossCompilation.md

How to build ML-examples in order to run it on ARM HW ?

Thank you,
Slava

[2020-09-04 16:06] ggardet commented on #415
With armnn 20.08 I get an error on the link:
[code]

[2020-09-07 10:57] nikraj01 commented on #423
Hi @HKLee2040 ,

This should be fixed in our latest master and 20.08 release branch. Could you please confirm and let us know if you are happy to close the issue.

Thanks,
Nikhil.

[2020-09-07 14:53] nikraj01 commented on #366
Hi @ggardet ,

Were you able to build ArmNN using protobuf 3.11.4?

Thanks

[2020-09-07 15:08] ggardet commented on #366
I built with 3.12.3, but using  `-Wno-error=deprecated-copy` `-Wno-error=deprecated-declarations` flags

[2020-09-08 10:10] FinnWilliamsArm commented on #449
Hi again @the-promised-LAN

I tried your model, I believe your Protobuf might be a bit out of date. Could you update it to v3.5.0 and give it another go?

[2020-09-08 10:50] FinnWilliamsArm commented on #450
Hi @vinceab

Apologies missed this due to the issue being closed.

Yes Arm NN is going to remove all boost dependencies, we are currently in the process of phasing it out.
We are doing this due to a requirement from some of our partners.
If you have any issues with this please contact me and I will forward them on.

Thanks

Finn

[2020-09-08 10:53] vinceab commented on #450
Hi @FinnWilliamsArm ,

I have pushed a gerrit patch that fixe the issue for YOCTO build:
https://review.mlplatform.org/c/ml/armnn/+/3906

Vincent

[2020-09-08 12:59] FinnWilliamsArm commented on #450
Hey @vinceab

Oh that's great, thank you very much!

Finn

[2020-09-08 14:33] FinnWilliamsArm commented on #453
Hi @yartaran

Those guides should work with cross compilation as far as I can tell.
Is there a specific issue you have when trying them?

Thanks Finn

[2020-09-08 16:08] yartaran commented on #453
In Makefile of the examples, there is g++ compiler.
Should I replace compiler to arm64 aarch?
I have arm64-8VA aarch on my Xilinx board.

Thx
Slava

Sent from my iPhone

[2020-09-08 19:48] bhomik77luthra opened #454 "Model output sometimes gives "Nan" as output. What could be the problem behind it ?"
I have trained a model in tensorflow and when inference code is run in tensorflow, it does not give any Nan output.  Tensorflow version is 1.12.0 . However, when the same model is ported to tflite and run in c++ on ARM board, it gives Nan sometimes.

I am passing a feature file of shape 289x30x5 and output is of shape 289x1.

From index 102 to index 142, it outputs "Nan".

![nan](https://user-imag

[2020-09-10 09:44] FinnWilliamsArm commented on #453
Hi @yartaran

It depends if you are training the model, say using Tensorflow, you can do that entirely with x-86 if you want to.
Then that model can be used by the ArmNN on your board to run inferences.

If you need to link the arm64 Arm NN libraries to an executable or library then that executable/library needs to be compiling for arm64 as well. So you would have to use the cross compiler.

Hope

[2020-09-10 10:25] FinnWilliamsArm commented on #454
Hi @bhomik77luthra,

Are you able to share the model you are using?

Thanks Finn

[2020-09-10 18:34] yartaran commented on #453
Hi Finn,
I compiled and build for ARM64 my program:
aarch64-linux-gnu-g++ -O3 -g -std=c++14 -I$(ARMNN_INC) tiny_magnet.cpp -o onnx -L$(OPEN_CV) -L$(ARMNN_LIB) -larmnn -larmnnOnnxParser -lpthread

The problem is that it runs very slow on ARM. It takes 80 seconds for one image.
When I built the Compute library, I selected option NEON=1:
 scons arch=arm64-v8a neon=1 opencl=0 embed_kernels=0 extra_cxx

[2020-09-11 08:23] MatthewARM commented on #453
Are you able to show the code where it sets up the Arm NN runtime? Maybe it's running on the Arm NN debug/reference backend or something?

There's also way to turn on profiling in Arm NN so you can see that exact amount of time each layer takes - if that sounds useful then @FinnWilliamsArm or I can point you to the right documentation.

[2020-09-12 20:44] yartaran commented on #453
Yes, thank you,
Please show me how to turn on the profiling.
And I need all the documentation.

Thank you,
Yaroslav

On Fri, Sep 11, 2020 at 4:23 AM Matthew Bentham <notifications@github.com>
wrote:

[2020-09-14 03:01] the-promised-LAN commented on #449
Hi @FinnWilliamsArm ,

Many thanks for the help, updating to the latest stack fixed it! Hit me soon after I posted my stack that protobuf might be the issue.

There is now a separate issue with armnn:IRuntime->EnqueueWorkload that causes app crash, but that will be a separate ticket. Thanks again!

[2020-09-14 03:01] #449 closed

[2020-09-14 05:52] myth01 commented on #320
@james-conroy-arm  @MatthewARM I am running into the same problem, and I see that BackendRegistry::Register() is NOT being called. Please recommend possible directions to debug further...

[2020-09-14 09:32] myth01 commented on #320
@james-conroy-arm @MatthewARM By the way, I have also tried to leverage
$ ndk-build
Android NDK: Could not find application project directory !
Android NDK: Please define the NDK_PROJECT_PATH variable to point to it.
/home/myth/armnn-devenv/toolchains/android-ndk-r17b/build/core/build-local.mk:151: *** Android NDK: Aborting    .  Stop.`

[2020-09-14 15:59] r-czarnecki opened #455 "Wrong output shape inferred for SpaceToBatchNd"
Hi, I'm trying to run a tflite model that consists of SpaceToBatchNd operation. For now, the code I'm running is:
[code]

Unfortunately Optimize function gives me this exception:
[code]
What is strange, the last dimension of the inferred shape is always different every time I rerun the program.

I was able to reproduce the issue with tflite model consisting of only two operations: ReLU -> SpaceToB

[2020-09-14 19:52] the-promised-LAN opened #456 "armnn::IRuntime->EnqueueWorkload() causes app crash"
Hello!

**TLDR:**
armnn::IRuntime->EnqueueWorkload() crashes the Android Unity app without any explicit error messages

**Details:**
Following one of the [ArmNN tutorials](https://community.arm.com/developer/tools-software/graphics/b/blog/posts/creating-ar-ml-demo-on-mobile-devices), I'm trying to get a trained [YOLOv1 Caffe model](https://drive.google.com/file/d/0Bx7QZuu7oVBbcWRpVG9NNl9EanM/view)

[2020-09-15 11:30] FinnWilliamsArm commented on #453
Hi yartaran

You have probably found it already but the guide for profiling is [here](https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/cross-compiling-arm-nn-for-the-raspberry-pi-and-tensorflow)

Once it is working you should see something like [this](https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/running-and

[2020-09-15 13:46] MikeJKelly commented on #455
Hi @r-czarnecki

I think there are two possible issues that could cause this.

First, the fact that the last dimension is different every time may might indicate that one of the other variables in your model is being left uninitialised. If that's the case then we could get random values when inferring the output shape. The output shape height and width dimensions are calculated using the input sha

[2020-09-15 16:26] yartaran commented on #453
It is very unclear...
1. Where do I add option -a ? when I build ARM NN ? In cmake ... ??
2. I have this command in many files:
   IRuntime::CreationOptions options;
IRuntimePtr runtime(IRuntime::Create(options));

Where do I add it ?
How to add it ?

I need more details.
I just used an ML example for mobilnet to work with my network.
See attached file.
Please help me to activate the profiling, ch

[2020-09-15 17:41] FinnWilliamsArm commented on #453
So to clarify if you are writing an application using the Arm NN SDK, at some point that application will create it's own Runtime.

That is the Runtime you need to change.

If you are using the mobilenet [example](https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/deploying-a-quantized-tensorflow-lite-mobilenet-v1-model-using-the-arm-nn-sdk/write-your-appl

[2020-09-15 18:29] yartaran commented on #453
Thank you,

I don’t use ARM NN SDK, just build and run from command line.
Is there any other way to run profiler ?
If not, can I add profile activation building via command line?

If it’s still an issue, how to load my project to armnn SDK and to activate profile? And how to run it on Xilinx board?

Thanks,
Yaroslav Taran

Sent from my iPhone

[2020-09-15 19:53] yartaran commented on #453
Is the example that I attached in previous message works with NEON?
Actually, I rebuild ARMNN and set ARMNNREF=0, ARMNNNEON=1.
Now, I get a segmentation fault on this function:
runtime->LoadNetwork(networkIdentifier, std::move(optNet));

With ARMNNREF=1 I didn't get that fault.
I also saw that Execute() function was called from the REF library and not
from the NEON library.
Could you please send m

[2020-09-16 04:20] paragikjain opened #457 "How to Build Armnn Converter"
Hi
I want to build armnn converter so i can convert tenserflow model to armnn.
So is there any flag which need to be enable during building armnn . What is way to build armnn converter. Can you please tell me in brief.

@MatteoArm
@MatthewARM

Thanks in Advance

[2020-09-16 08:35] FinnWilliamsArm commented on #457
Hi @paragikjain

The flag you are looking for is -DBUILD_ARMNN_SERIALIZER, but you will also need to build and link flatbuffers.
If you haven't done that before there is some info on how to [here](https://developer.arm.com/solutions/machine-learning-on-arm/developer-material/how-to-guides/configuring-the-arm-nn-sdk-build-environment-for-tensorflow-lite/build-the-google-flatbuffers-library).

Hope

[2020-09-16 10:16] MikeJKelly commented on #456
Hi @the-promised-LAN

What kind of device are you running this on? I don't have Unity but I managed to get a slightly modified version of your code compiling using just ArmNN and it worked fine (I used CpuRef instead of CpuAcc as I'm developing on an x86 device).

Best regards,
Mike

[2020-09-16 14:04] MikeJKelly commented on #456
I was wondering what value of ```s_NetworkIdentifier``` are you're calling
```armnn::Status ret = s_Runtime->EnqueueWorkload(s_NetworkIdentifier, inTensor, outTensor);``` with?

NetworkId is an int so it should be easy to determine. If the network with that id isn't properly loaded then unordered_map will try to throw an out of range exception. In the stacktrace I see ```libc++_shared.__cxa_get_ex