[2022-07-19 03:14] Shelton-N commented on #671
@Chernobyl81 Can you show log more details?

[2022-07-19 05:18] Chernobyl81 commented on #671
Hi, @Shelton-N, I wrote this program just for test onnx model loading.
[code]
And get an error:
![企业微信截图_16582070351729](https://user-images.githubusercontent.com/1080172/179668968-f7c02fe7-5f4f-4afd-8292-cf652831d8ba.png)

[2022-07-19 05:48] Shelton-N commented on #671
@Chernobyl81
form log， erro happend when parser onnx model；
parser onnx model op tensorshape

[code]

from rvm_mobilenetv3_fp32.onnx INPUT ，it seems that is dynamic shape model。
And now ArmNN22.05 may not support  dynamic shape for ONNX.

Notes: your log show that you maybe  use not a 22.05 version.

@catcor01 Right?

[2022-07-19 06:29] Chernobyl81 commented on #671
@Shelton-N @catcor01 thank you a lot!

[2022-07-19 06:29] #671 closed

[2022-07-19 08:39] catcor01 commented on #667
Hi @liamsun2019,

I am getting 2 warnings for GATHER and TRANSPOSE running your models with CpuAcc seen in your issue #666. I just want to confirm these are still present for you so I can comment correctly on the results?

Running the models on CpuAcc with the following commands I can confirm the same regression (~245ms vs ~263ms):
[code]

[Uploading f32.txt…](fp32 profiling)
and
[Uploading u8.txt

[2022-07-19 09:57] catcor01 commented on #670
Hi @patersonc,

We intend on upgrading TensorFlow version to at least version 2.8 (if not latest version) in the 22.11 release.

Kind Regards, Cathal.

[2022-07-19 10:33] catcor01 commented on #667
One thing I have noticed: average pooling (only used once in your model) is not supported in CpuAcc for uint8 and therefore the operation falls back to CpuRef.

Time Cost: ~1200ms (CpuRef for uint8) vs ~117ms = ~1100ms.
There is a time cost to fall back to CpuRef due to a memory copy before and after the operation but it is negligible compared to above: ~9ms and ~5ms = max 15ms.

@morgolock you mi

[2022-07-19 13:10] patersonc commented on #670
Good to know. Thank you!

[2022-07-19 13:17] catcor01 commented on #667
Along with the above the following is what I have discovered:
- The uint8 model performs quantize and de-quantize operations (NeonQuantizeWorkload_Execute_#227 being the biggest time cost) which is adding up to approx 3.5-4 ms.
- Neon pooling 2d is slower for uint8. Can be up to 1 ms slower.
- Neon concat is slower for uint8. Can be up between 1-2 ms slower.
- Ref gather operation can be twice as

[2022-07-19 13:43] catcor01 commented on #629
Hello @Shelton-N,

I'm closing this due to inactivity. If you still need help with this then please create a new ticket.

Kind Regards,  Cathal.

[2022-07-19 13:46] catcor01 commented on #638
Hello @junyuancat1,

I'm closing this due to inactivity. If you still need help with this then please create a new ticket.

Kind Regards,  Cathal.

[2022-07-19 13:46] #638 closed

[2022-07-19 13:46] catcor01 commented on #652
Hello @chayliu1991,

I'm closing this due to inactivity. If you still need help with this then please create a new ticket.

Kind Regards, Cathal.

[2022-07-19 13:46] #652 closed

[2022-07-19 13:47] catcor01 commented on #623
Hello @ggardet,

I'm closing this due to inactivity. If you still need help with this then please create a new ticket.

Kind Regards, Cathal.

[2022-07-19 13:47] #623 closed

[2022-07-19 15:08] catcor01 commented on #667
Hello @liamsun2019,

Falling back to CpuRef is very much degrading your performance. Unfortunately, because many of the transpose and gather operations are not supported for CpuAcc, fallback is inevitable. We do not guarantee uint8 performance in CpuRef to be better than fp32 (it will actually more than likely be slower because of how it is implemented in ArmNN) which is why you are seeing worse u

[2022-07-19 15:16] catcor01 commented on #666
Hello @liamsun2019,

If you are using ExecuteNetwork, multi-threading can be done like so:
`./ExecuteNetwork -m u8l.tflite -f tflite-binary --tflite-executor delegate -c CpuAcc -i X.1 -o 2180 --number-of-threads 1 --iterations 10`

Also see #636.

Kind Regards, Cathal.

[2022-07-19 15:38] catcor01 commented on #667
I have tried to run your model with the delegate and it fails due to the following error:
[code]
@SadikARM provided me with the following information of what is happening:
[code]
I will look into this and make a patch.

[2022-07-20 02:12] liamsun2019 commented on #667
Hi @catcor01,

Many thanks for your time and so detailed analysis. Instead, I ran these 2 models basing on the sample codes. I made some modifications while building them, e.g, -DUSE_ARMNN_DELEGATE=0/1, to apply delegate or parser to the sample codes. I also noticed that there are many tranpose/gather operations in the model and I think that contributes some overhead to inference time. For delegat

[2022-07-21 11:38] Shelton-N opened #672 "Failed UnitTest for ArmComputeCl on Android"
version：armnn22.02
**unitTest for gpu has 20 failed**

I build arm compute library and armnn from Guide.
**why appear 20 faileld for test Compute_ArmComputeCl?**

Please give some advices,
more deatils:

[code]

[2022-07-22 15:45] catcor01 commented on #633
Hello @JavaBatista,

I'm closing this due to inactivity and I think your problem has been solved. If you still need help with this then please create a new ticket.

Kind Regards, Cathal.

[2022-07-22 15:45] #633 closed

[2022-07-26 05:02] abhajaswal commented on #669
I use
armnn::IRuntime *InferenceARMNN::sRuntime(nullptr);

sRuntime = armnn::IRuntime::CreateRaw(creation_options);

Could this be issue?

[2022-07-26 05:18] abhajaswal commented on #669
I had put few logs and code flow looked like this :

ClBackendContext called 0
/home/abuild/rpmbuild/BUILD/armnn-21.02/include/armnn/BackendOptions.hpp ParseOptions 292 FastMathEnabled
/home/abuild/rpmbuild/BUILD/armnn-21.02/include/armnn/BackendOptions.hpp ParseOptions 292 SaveCachedNetwork
/home/abuild/rpmbuild/BUILD/armnn-21.02/include/armnn/BackendOptions.hpp ParseOptions 292 CachedNetworkFile

[2022-07-26 05:19] abhajaswal commented on #669
I had put few logs and code flow looked like this :

ClBackendContext called 0
/home/abuild/rpmbuild/BUILD/armnn-21.02/include/armnn/BackendOptions.hpp ParseOptions 292 FastMathEnabled
/home/abuild/rpmbuild/BUILD/armnn-21.02/include/armnn/BackendOptions.hpp ParseOptions 292 SaveCachedNetwork
/home/abuild/rpmbuild/BUILD/armnn-21.02/include/armnn/BackendOptions.hpp ParseOptions 292 CachedNetworkFile

[2022-07-27 06:57] Shelton-N opened #673 "Question:softmax impl to support quantized data type"
armnn22.02
[operator list softmax](https://arm-software.github.io/armnn/22.02/operator_list.xhtml#S5_1_operator_list)
for CpuRef and Cpu Acc, softmax can support QASYMMS8\QASYMMU8 data types.

**the follow softmax impl, use float to compute output, how to deal with QASYMMU8  data types?**

[code]

[2022-07-27 10:21] abhajaswal commented on #669
I confirm by using optimizer options i am able to save and load the CL files

[code]

If this is the way the options need to be set , then what is use of create_options then??

[2022-07-28 08:56] abhajaswal commented on #669
Apart from this can you help with the difference between CLtuner file and files saved via SaveCachedNetwork ?

[2022-07-28 08:57] Rahn80643 opened #674 "Error message while executing inference with NPU"
Hi,

We adopted two methods to compile our ArmNN inference code, the first method is compiling via Makefile and the other one is via CMakeLists. We logged the execution time from these compiling approaches and compared the results based on the same inference code, test image, and test model, and the logs are shown in the attachment.
[logs.zip](https://github.com/ARM-software/armnn/files/9207442/lo

[2022-07-28 09:26] catcor01 commented on #650
Hello @StuartIanNaylor,

I have updated the [Delegate Quick Start Guide](https://github.com/ARM-software/armnn/blob/master/delegate/DelegateQuickStartGuide.md) with your suggestions.

[2022-07-29 02:04] Shelton-N commented on #674
@Rahn80643
you mean erro happend due to different builds, can show the Makefile which generated from CMake.

[2022-07-29 12:58] catcor01 commented on #667
Hello @liamsun2019,

A [patch has been submitted to master](https://review.mlplatform.org/c/ml/armnn/+/7982) (soon to be changed to main) fixing the above failure for CpuAcc. Your model should now be able to fully run using CpuAcc without the above error being thrown.

Kind Regards, Cathal.

[2022-07-29 17:34] avirn opened #675 "Linker errors when compiling code"
I have been trying to test out my build of the Arm NN library by loading in a sample tensorflow model and creating the delegate and interpreter. I have not included a lot of code because I am simply trying to get the basics working first.

I keep getting linker errors when I compile and am very lost on how to resolve them.

Below is my code

`
#include <iostream>
#include <vector>

#include "armnn

[2022-07-30 22:13] StuartIanNaylor commented on #650
Thnx, I will give it another go myself :)

[2022-07-30 22:13] #650 closed

[2022-07-31 12:35] slntopp commented on #651
Hi, sorry for the big delay.

I checked what you suggested, i had the same picture you sent

Before setting `LD_LIBRARY_PATH`:

[code]

After:

[code]

But that didn't fix the issue, still getting

[code]

I tried with version 21.11 again.

[2022-07-31 12:45] slntopp opened #676 "Error Building PyARMNN on 22.05.01"
I used pre-built binaries from `22.05.01` release and as usual followed [this manual](https://github.com/ARM-software/armnn/tree/v22.05.01/python/pyarmnn)

At the `python setup.py build_ext --inplace` step, `building 'pyarmnn._generated._pyarmnn' extension` fails. Here is the full log:

[code]

**Python Version**: `3.10.5`
**GCC Version**: `12.1.0`

[2022-08-02 09:17] luchangli03 opened #677 "ERROR: Operator SQUARED_DIFFERENCE is not supported by armnn_delegate."
ERROR: Operator SQUARED_DIFFERENCE is not supported by armnn_delegate.

[2022-08-02 09:19] luchangli03 opened #678 "ERROR: Operator FULLY_CONNECTED is not supported by armnn_delegate."
ERROR: Operator FULLY_CONNECTED is not supported by armnn_delegate.

[2022-08-02 09:19] luchangli03 opened #679 "GATHER: not supported by armnn: in validate_arguments src/core/CL/kernels/CLGatherKernel.cpp:41: indices->num_dimensions() > 1"
GATHER: not supported by armnn: in validate_arguments src/core/CL/kernels/CLGatherKernel.cpp:41: indices->num_dimensions() > 1

[2022-08-02 14:40] MikeJKelly commented on #674
Hi @Rahn80643

I haven't seen that error message before, from looking at the EthosN code it occurs when the NPU returns a WaitErrorCode::Timeout but I do not know the situations why that might occur. I think you would be better off asking that question on the NPU GitHub:

https://github.com/ARM-software/ethos-n-driver-stack

The engineers there would be better able to answer this one.

Best regard

[2022-08-02 14:53] MikeJKelly commented on #673
Hi @Shelton-N

That's the code for the Reference Implementation which performs all its calculations in float space. The implementation here uses a Decoder<float> for the input and an Encoder<float> for the output. The Decoder<float> will convert any DataType to float and the Encoder<float> will covert from a float to any other DataType. The performance isn't great but the reference is not intended

[2022-08-03 08:50] Rahn80643 commented on #674
@Shelton-N,

the attachment is the Makefile generated from CMake

Best Regards,
Rahn
[Makefile_from_CMakeLists.txt](https://github.com/ARM-software/armnn/files/9249603/Makefile_from_CMakeLists.txt)

[2022-08-04 02:47] liamsun2019 commented on #667
Hi @catcor01，

Sorry for the late reply. I have been focusing on some other work recently. I will try this patch ASAP. Thanks for your kindly help.

[2022-08-08 01:26] Shelton-N commented on #671
@catcor01 Is there plan to support dynamic shape for ONNX parser in the futrue?

[2022-08-08 02:50] Shelton-N commented on #550
@Rahn80643 has known which leading to the differnet result? thanks a lot.

[2022-08-08 05:44] Shelton-N opened #680 "ONNX Parser: Not support softmax"
**Sys Info:**
armnn22.02
ubuntu18.04
platform:Arm cortex-A76 + A55

deploy ONNX model with armnn22.02,but ONNX Parser cannot support softmax.
How to deal with the problems?

[2022-08-09 01:35] Shelton-N commented on #673
@MikeJKelly ,thanks,I will check CpuAcc for softmaxworkload impl.

[2022-08-09 01:35] #673 closed

[2022-08-09 09:03] Shelton-N opened #681 "Test Failed for CaffeAlexNet-Armnn"
system info:
armnn 21.02
ubuntu18.04
platform:android
aarch:arm corterA76+A55

when CaffeAlexNet-Armnn test  for armnn, erro happend.

`CaffeAlexNet-Armnn -i 1 -d ../data/ -m ../model  -c CpuRef -l ../labels/imagenet_labels.txt --inference-times-file ./out -e 1 -v 1 --fp16-turbo-mode 1 --validation-file-out ./out`

`armnn   : Fatal: Armnn Error: Couldn't find requested output layer '**prob**' in g

[2022-08-09 16:08] ArmRyan commented on #681
Hi @Shelton-N,

We dropped support for Caffe in 21.05 and as such no longer have information on where the AlexNet model came from.
I'm sorry that I can't help more!

Best of luck,
Ryan

[2022-08-09 16:24] ArmRyan commented on #679
Hi @luchangli03

Can you provide any more details on the issue?
Such as:
ArmNN Version,
ACL version,
TfLite version,
System OS,
what device is being used,
Model information ( can you link the model? )
How are you running the delegate?

Regards,
Ryan

[2022-08-10 06:16] luchangli03 commented on #679
ArmNN Version：armnn-22.05.01
TfLite version: 2.15
System OS: android
Model information：I can not directly provide the model, but many transformer based NLP models contain gather op.

[2022-08-10 09:57] ArmRyan commented on #678
Hi @luchangli03

Can you provide any more details on the issue?
Such as:
ArmNN Version,
ACL version,
TfLite version,
System OS,
what device is being used,
Model information ( can you link the model? )
How are you running the delegate?

Regards,
Ryan

[2022-08-10 09:57] ArmRyan commented on #677
Hi @luchangli03

Can you provide any more details on the issue?
Such as:
ArmNN Version,
ACL version,
TfLite version,
System OS,
what device is being used,
Model information ( can you link the model? )
How are you running the delegate?

Regards,
Ryan

[2022-08-10 10:04] ArmRyan commented on #675
Hi @avirn ,

Can you provide more info on the issue?
What ArmNN version and what TfLite version are you using?
Can you share the cmake command used to build?
What device and os are you using?

Regards,
Ryan

[2022-08-10 11:51] Shelton-N commented on #681
![image](https://user-images.githubusercontent.com/44741734/183894313-4460b139-d763-4ad2-856d-85ae53592f82.png)

[2022-08-10 11:51] Shelton-N commented on #681
@ArmRyan ,
I know that, but, some app still use as armnn21.02,please give me some advices.
I from http://dl.caffe.berkeleyvision.org/bvlc_alexnet.caffemodel  to convert bath size = 1 ,bvlc_alexnet_1.caffemodel,
I try again:
`./CaffeAlexNet-Armnn -d ../data/ -m ../model/ -i 1 -e 1 -c CpuRef -l ../labels/imagenet_labels.txt  -v 1`

failed erro:

08-02 21:48:39.848 31795 31795 D armnn   : Info: ArmNN

[2022-08-10 13:21] ArmRyan commented on #679
How many dimensions are trying to get passed in to the indices?

[2022-08-10 14:20] ArmRyan commented on #681
The latest version is v22.05.1, We don't provide support for deprecated features.
From what you have sent, It seems like it is not finding the data being provided, I would check that the data file is being passed in correctly and that the file is not empty.

I'm sorry I can't help anymore!
Ryan

[2022-08-10 14:41] ArmRyan commented on #680
Hi @Shelton-N

This is an unsupported operator with the ONNX Parser. I have created an internal ticket to add support but I can not give any estimated time on when the ticket will be completed.

We are an open source project so if you would like to, you are welcome to get involved! Here is a link to our contibutor guide: https://www.mlplatform.org/contributing

There is also some information avail

[2022-08-10 20:32] avirn commented on #675
Using ArmNN v22.05.01, Tensorflow v2.5.0.

I used

`cmake .. -DARMCOMPUTE_ROOT=$BASEDIR/ComputeLibrary -DARMCOMPUTENEON=0 -DBUILD_UNIT_TESTS=1`

to build ArmNN

os: Ubuntu 20.04.4 LTS

x86_64 architecture (is that what you mean by device?)

[2022-08-12 08:35] Shelton-N commented on #681
OK，thanks

[2022-08-12 08:35] #681 closed

[2022-08-15 00:14] kamalasubha commented on #650
Hello @catcor01
I am still facing the same OS path error though LD_LIBRARY_PATH and tflite 2.5.0 version is installed. My python version in venv is, Python 3.7.5 and ubuntu version is 18.04. What could be the reason for failing here?

[2022-08-16 10:23] kamalasubha opened #682 "Tutorial link - Testing SSD model using TFLite delegate"
Hi,
Any tutorial available for testing [ssd model object detection](https://github.com/ARM-software/ML-zoo/tree/master/models/object_detection/ssd_mobilenet_v1/tflite_fp32) (tflite model) using tflite Delegate?

[2022-08-17 09:35] ArmRyan commented on #682
Hi @kamalasubha ,

We have this [quick start guide](https://github.com/ARM-software/armnn/blob/branches/armnn_22_05/delegate/DelegateQuickStartGuide.md) or a slightly [more in depth guide](https://developer.arm.com/documentation/102561/2111/Overview-of-running-the-application/Run-the-application). They are both using the python tflite api. Neither of them are specifically for the ssd mobilenet mod

[2022-08-17 21:31] kylesayrs commented on #676
These headers are found in https://github.com/ARM-software/armnn/tree/branches/armnn_22_05/profiling/client/include

[2022-08-18 06:17] Shelton-N opened #684 "UnitTest Failed：TensorflowLiteParser"
sysinfo:
platform:anrdoid13
Arm cortex-A76+A55
armnn:22.02

**TensorflowLiteParser DepthwiseConvolution2D. test failed and MaxPool2D Segmentation violation signal.**

`Orid:/data/local/tmp/ut # ./UnitTests --test-suite=TensorflowLiteParser_`

[2022-08-19 12:26] ArmRyan commented on #676
I think adding the profiling base directory into the include will work better, since its searching for <client/include/ILocalPacketHandler.hpp>

As far as i'm aware all references to profiling includes should be resolved from profiling base directory. I think that guide might need an update.

[2022-08-19 15:15] ArmRyan commented on #675
Hi @avirn ,

I built the delegate and armnn v22.05.1 using the cmake commands above, and I was able to compile this:

[code]

with tflite 2.5 on ubuntu 20.04 x86 using the following command:

`gcc -g -o tflite_detect tflite_detect.cpp -L$HOME/dev/devenv/ArmNNLibs/ -L/$HOME/dev/devenv/DelegateLibs/ -L$HOME/dev/devenv/TfLiteBuild/x86_64/ -L$HOME/dev/devenv/TfLiteBuild/x86_64/_deps/ruy-build/ -L$HOME

[2022-08-19 16:08] ArmRyan commented on #684
Hello @Shelton-N ,

We don't officially support Android 13 yet. The first release that will likely support Android 13 will probably be 22.11.

Can I ask what NDK you are building with?

Thanks,
Ryan

[2022-08-20 20:54] maciejandrzejewski-digica opened #685 "armNN fail to cross-compile"
Build env: Ubuntu 22, x86-64
Host: armv8-a (64bit)

Following this instruction two times with same result:
https://github.com/ARM-software/armnn/blob/branches/armnn_22_05/BuildGuideCrossCompilation.md

Failed on 'make' step of "Build Arm NN" chapter.
Build with 'Arm NN TF Lite Delegate' and without 'Dynamic Backend'.

Short error log:
[code]

Looks like linking to code built for different architec

[2022-08-21 08:55] maciejandrzejewski-digica commented on #685
From instruction: "You will need to download gcc-arm-8.3-2019.03 toolchain and continue building TF Lite"

Why we are using other custom cross compiler only for TF Lite step?

[2022-08-21 08:56] maciejandrzejewski-digica commented on #685
Closed the issue was an error.

[2022-08-22 02:15] Shelton-N commented on #684
@ArmRyan ,
I compiled armnn22.02 with ndk-r20, Just test in Android13.

[2022-08-22 07:44] maciejandrzejewski-digica commented on #685
Problem with missing shema_generated.h was in instruction in line:
`-DTF_LITE_SCHEMA_INCLUDE_PATH=$WORKING_DIR/tflite \`
should be changed to:
`-DTF_LITE_SCHEMA_INCLUDE_PATH=$HOME/armnn-devenv/tflite \`

[2022-08-22 07:59] maciejandrzejewski-digica commented on #685
Another error in instruction in step 'Build TfLite'.
Add ';' after each env var declaration. Without that those variables will not expand and that is why TfLite was build with wrong compiler.
Replace:
[code]
with:

[code]

[2022-08-22 09:49] #685 closed

[2022-08-22 18:05] kylesayrs commented on #678
I also encountered this message and failed to run my transformers model with tflite

ArmNN version: `22.05.01`, prebuilt binaries for x86
ACL version: Not downloaded
TfLite version: `tensorflow == 2.10.0rc0`
System OS: Linux
Device: Graviton gen 1 (ec2 a1)
Model download: [BERT QA](https://tfhub.dev/tensorflow/lite-model/mobilebert/1/metadata/1?lite-format=tflite). Also found here: https://www.ten

[2022-08-22 19:09] kylesayrs opened #686 "Fail to modify graph of transformers models"
Hi, any tips on debugging or working around this issue would be appreciated.

Issue: ArmNN fails to modify tflite graph of transformer models. This issue occurs with many transformer models, but this is best reproduced with the GPT2 model.

ArmNN version: `ArmNN v29.0.0`, release v22.05.01, prebuilt binaries for x86
ACL version: Not downloaded
TfLite version: `tensorflow == 2.10.0rc0`
System OS: L

[2022-08-22 19:27] kylesayrs commented on #686
I recently found that [ArmNN does not support layer norm](https://github.com/ARM-software/armnn/issues/461). If this is the issue, it'd be nice if the error reflected that

[2022-08-23 05:37] Shelton-N commented on #686
@kylesayrs
 from output, it seem thats can not find libarmnn.so ,can you check  that libarmnn.so is exit on the path "/build/armnn-YyCEBh/armnn-22.05.01"

just like [BuildGuideNative.md](https://github.com/ARM-software/armnn/blob/branches%2Farmnn_22_05/delegate/BuildGuideNative.md)
`cd $BASEDIR/armnn/delegate/build
./DelegateUnitTests --test-suite=*CpuAcc* `
or
`LD_LIBRARY_PATH=../armnn/build ./be

[2022-08-23 07:51] ArmRyan commented on #686
Hi @kylesayrs ,
It looks like a tflite runtime error rather than an armnn layer error, So I doubt it has anything to do with layer norm (yet?).
As Shelton said, it seems like an LD_LIBRARY_PATH issue. Can you point it to the directory that contains the pre-built binaries?

[2022-08-23 09:05] ArmRyan commented on #676
This worked for me,
export ARMNN_INCLUDE=$HOME/dev/devenv/armnn/include/:$HOME/dev/devenv/armnn/profiling:$HOME/dev/devenv/armnn/profiling/common/include/
I will update the guide and try to fix the inconsistent includes.

regards,
Ryan

[2022-08-24 07:30] morgolock commented on #627
Hi @GW-Renesas

The following patch fixes the problem: https://review.mlplatform.org/c/ml/ComputeLibrary/+/8093

Hope this helps.

[2022-08-24 07:40] GW-Renesas commented on #627
Hi @morgolock

That is great news, I will test on my platform shortly.

thanks

[2022-08-24 10:04] slntopp commented on #676
Great, i'll take a look. You tried with the latest version i suppose?

[2022-08-24 10:06] ArmRyan commented on #678
Hi @kylesayrs ,
CpuAcc requires ACL library to work. Is it possible to include ACL 22.05 in your build?

[2022-08-24 14:19] ArmRyan commented on #676
I used v22.05.1 for the build. The latest binaries that are available

[2022-08-24 23:01] avi-rn commented on #675
Thank you I was able to compile and run as well.

I have one last question if I was to use the test utils what else do I need to include? I included the doctest but still getting linker errors related to doctest.

[2022-08-25 13:31] ArmRyan commented on #675
That's great!

As far as I'm aware, adding this "-larmnnTestUtils" to your compilation should suffice. It was just missing the compiled symbols I think.

[2022-08-25 20:41] kylesayrs commented on #686
Thanks for the responses. I doubt this directly the issue, since I've seen this "backend missing" warning before with resnets with no issues running.

I've downloaded the prebuilt binaries, is there any documentation on what needs to be done to use them? I'd rather not build the delegate if I can avoid it, but I agree that it seems like libarmnn.so is not being found.

Could its path be specified

[2022-08-30 09:36] ArmRyan commented on #686
We have this [quick start guide](https://github.com/ARM-software/armnn/blob/branches/armnn_22_05/delegate/DelegateQuickStartGuide.md) or this [slightly more in-depth guide](https://developer.arm.com/documentation/102561/2111/Overview-of-running-the-application/Run-the-application) that might be able to help you.

[Options can be found here](https://github.com/ARM-software/armnn/blob/branches/armnn

[2022-08-30 18:48] kylesayrs commented on #686
Thanks @ArmRyan, those resources are very helpful.

I've added the libraries to my LD_LIBRARY_PATH and no longer get the warning, but outside of that nothing has changed

[code]

[2022-08-30 19:10] kylesayrs opened #687 "Fully connected bad shape inference, transformers"
Hi there. I'm trying to run inference with a BERT model whose batch size is `1` and I run into a shape inference error. I have no problem running the model with XNNPACK

This error does not occur when the model is generated with a batch size of `None`, but that leads to another error mentioned [here](https://github.com/ARM-software/armnn/issues/686).

I know that [this issue](https://github.com/AR

[2022-08-31 07:02] ggardet opened #688 "ArmNN 22.08 fails to build with TF-lite 2.9.1 and flatbuffers 2.0.6"
Log:
[code]
And more of this kind of errors.

It seems to be similar to https://github.com/ARM-software/armnn/issues/644

[2022-08-31 11:55] james-conroy-arm opened #689 "Requesting feedback from open source developers on Arm NN Build Tool"
To all "ML on Arm" open source developers,

The Arm NN team recently published the [Arm NN Build Tool](https://github.com/ARM-software/armnn/tree/d625f5e21b056b18d6b4fd49056f45a064af6d9b/build-tool) - a collection of parameterized bash scripts accompanied by a Dockerfile for building Arm NN and its dependencies, including Arm Compute Library (ACL).

The tool can be used with or without Docker, and

[2022-09-02 16:10] kylesayrs commented on #686
On Raspberry Pi I got the error `Warning: GetConnectedConstantAsInputTensors() called on Layer with no connected Constants as Input Tensors.`

[2022-09-03 04:30] matheusfalcaopinto commented on #688
Hi! I have the same problem. I was not able to use the flatbuffers 1.12.0, it just doesn't work here and now I manage to compile the 2.0.6 version but now the armnn give me the same errors.

[2022-09-05 12:28] matheusfalcaopinto opened #690 "CMake Could NOT find PythonLibs (missing: PYTHON_LIBRARIES PYTHON_INCLUDE_DIRS)"
Hi! I'm building ArmNN and pyArmNN with the build-tool scripts. When I run ./build-armnn.sh --target-arch=aarch64 --all --neon-backend --cl-backend --armnn-cmake-args='-DBUILD_PYTHON_SRC=1 -DBUILD_PYTHON_WHL=1' everything works but when it starts Building Arm NN for aarch64 it throws me this error:

`CMake Error at /usr/local/share/cmake-3.16/Modules/FindPackageHandleStandardArgs.cmake:146 (messag

[2022-09-05 14:03] james-conroy-arm commented on #690
Hi @matheusfalcaopinto ,

Many thanks for raising this issue. The Arm NN Build Tool was released without PyArmNN support and we recommend Python developers to use the TF Lite Delegate Python API to ensure the widest support of ML operators in Arm NN. There is a Python-based TF Lite Delegate quick start guide here: https://github.com/ARM-software/armnn/blob/HEAD/delegate/DelegateQuickStartGuide.md

[2022-09-05 15:09] james-conroy-arm commented on #690
Hi,

Do you have the python3.9-dev apt package installed (python3.6-dev is recommended in the PyArmNN guide).

James

[2022-09-05 15:19] matheusfalcaopinto commented on #690
Running apt install python3.9-dev give me `E: Couldn't find any package by glob 'python3.9-dev'`. I read today that the -dev packages now have been merged with the python package. I don't know.

Now I'm trying to install pyarmnn following instructions for "Standalone build" from:
# https://git.mlplatform.org/ml/armnn.git/tree/python/pyarmnn/README.md

But now I can't install SWAG because it needs

[2022-09-05 15:38] matheusfalcaopinto commented on #690
I tried everything in this post already.

I'm using an Orange pi 4 LTS with Debian GNU/Linux 11 (bullseye).

[2022-09-05 23:02] matheusfalcaopinto commented on #688
Hi! I was able to build everything by using the build-tool scripts. I don't know how but it works (I think)!

[2022-09-06 09:38] luchangli03 opened #691 "TfLiteArmnnDelegate: Exception (FullyConnectedLayer: TensorShape set on OutputSlot[0] does not match the infer"
terminating with uncaught exception of type armnn::Exception: TfLiteArmnnDelegate: Exception (FullyConnectedLayer: TensorShape set on OutputSlot[0] does not match the infer
red shape. : [1,512,768] != [512,768]) caught from optimize.
Aborted

model:
FullyConnected with input shapes of [1,512,768] x [768,768]

[2022-09-06 10:15] james-conroy-arm commented on #688
Hi @matheusfalcaopinto ,

Could you please share changes you made to the build-tool scripts (if any). i.e. using git diff

Thanks!

[2022-09-06 10:17] ArmRyan commented on #690
Hey,
I think PYTHON_INCLUDE_DIR is looking for something like /usr/include/python3.9/

libpcre2 should be available on bullseye with this package
[libpcre2-dev](https://packages.debian.org/stable/libpcre2-dev) (10.36-2)
New Perl Compatible Regular Expression Library - development files

As for swig,
Swig 4.0 might be already included in the debian build, otherwise it should be available already:
[

[2022-09-06 16:07] matheusfalcaopinto commented on #688
hi! I just follow the instructions found in the section Building without docker here: https://github.com/ARM-software/armnn/tree/branches/armnn_22_08/build-tool

`cd build-tool/scripts

sudo ./install-packages.sh

./setup-armnn.sh --target-arch=aarch64 --all
./build-armnn.sh --target-arch=aarch64 --all --neon-backend --cl-backend`

The first time I tried building pyarmnn together but it throws me

[2022-09-06 16:19] matheusfalcaopinto commented on #690
hi @ArmRyan! I just figure out that my debian had trouble looking for some apt pakages (missing some sources). I manage to install the debian bullseye source pakage for armnn and pyarmnn with aptitude install command. After that I manage do run the example for object detection using pyarmnn and mobilenetv1 but I had a few problems, the system was missing some openCL libraries first and after insta

[2022-09-06 16:24] FrancisMurtagh-arm commented on #690
Hi @matheusfalcaopinto,

What were your commands for "installing the debian bullseye source pakage for armnn and pyarmnn with aptitude"? Out of interest.

Were you using the Debian packages from the archive? https://packages.debian.org/source/bullseye/armnn

These packages are quite old fwiw.

Thanks,
Francis.

[2022-09-06 16:32] matheusfalcaopinto commented on #690
@FrancisMurtagh-arm Hi! Yes, I istalled these packges form https://packages.debian.org/source/bullseye/armnn. I just installed all of them:

`aptitude install libarmnn22 libarmnn22:armhf python3-pyarmnn python3-pyarmnn:armhf libarmnntfliteparser22 libarmnntfliteparser22:armhf libarmnntfliteparser-dev libarmnntfliteparser-dev:armhf libarmnnaclcommon22 libarmnnaclcommon22:armhf libarmnn-dev libarmnn

[2022-09-07 02:12] matheusfalcaopinto opened #692 "Segmentation Fault using GpuAcc Delegate"
Hi! I manage to build armnn with the build-tools scripts (without docker):

`./install-packages.sh`
`./setup-armnn.sh --target-arch=aarch64 --all`
`./build-armnn.sh --target-arch=aarch64 --all --neon-backend --cl-backend --armnn-cmake-args='-DFLATC=/root/armnn/build-tool/scripts/build/flatbuffers/flatc`

An then follow the DelagateQuickStartGuide steps:

`sudo apt-get install python3-pip`
`sudo pi

[2022-09-07 09:03] FrancisMurtagh-arm commented on #690
@matheusfalcaopinto,

If you are able to use Ubuntu instead we have a PPA (Personal Package Archive) which will let you download the newest version of ArmNN by following this guide:

https://github.com/ARM-software/armnn/blob/branches/armnn_22_08/InstallationViaAptRepository.md

`sudo apt install software-properties-common`
`sudo add-apt-repository ppa:armnn/ppa`
`sudo apt update`
`sudo apt-get in

[2022-09-07 10:00] ArmRyan commented on #692
Hi @matheusfalcaopinto ,

What model are you running on GpuAcc that segfaults?

[2022-09-07 10:12] ArmRyan commented on #688
Hi @ggardet ,

We currently only support TfLite 2.5 and Flatbuffers 1.12. We will be looking at upgrading in the future, but I can't give any timeline on when.

[2022-09-07 10:15] ArmRyan commented on #691
Hi @luchangli03 ,

What version of ArmNN/Compute Library are you using?

[2022-09-07 10:21] ArmRyan commented on #687
Hi @kylesayrs ,

Could you try the following option?

[code]

[2022-09-07 16:36] matheusfalcaopinto commented on #692
@ArmRyan I tired the mock_model.tflite, conv2d.tflite, fp32_model.tflite, tried some mobilenet and efficientdet from TF Hub and the mobilenet model from the pyarmm video file example. I think the number of warnings that I get is relatated to the size of the model somehow.

[2022-09-07 17:24] matheusfalcaopinto commented on #690
@FrancisMurtagh-arm I might as well try Ubuntu, yes. My first choice was PyarmNN but I got the same seg fault when delegating to GpuAcc as in Tflite Delegate.

[2022-09-07 17:24] #690 closed

[2022-09-08 08:14] luchangli03 commented on #691
armnn-22.05.01

[2022-09-08 13:08] GW-Renesas commented on #627
Hi @morgolock

Many thanks, this has solved the backend assignment error on my platform. Recently I also see similar layer related check errors, has this been seen before?

[neon_unit_errors.txt](https://github.com/ARM-software/armnn/files/9526981/neon_unit_errors.txt)

[2022-09-12 08:03] #675 closed

[2022-09-12 08:04] #676 closed

[2022-09-12 08:04] #682 closed

[2022-09-12 08:05] #684 closed

[2022-09-12 08:09] ArmRyan commented on #691
Does the option mentioned in the comment above help fix the issue?

[2022-09-12 08:16] ArmRyan commented on #692
Hi, The warnings get called on any layer that uses the deprecated functions, so the more layers that use the function, the more warnings. I will try to run this locally and see if I come across a similar issue.

[2022-09-12 08:32] morgolock commented on #627
Hi @GW-Renesas

The failures mentioned in the attachment seem unrelated to QLSTM and the OpenCL backend, I'd suggest closing this issue and creating a new one.

Hope this helps.

[2022-09-12 09:05] GW-Renesas commented on #627
Hi @morgolock,

No problem, thanks for the assistance.

[2022-09-12 09:05] #627 closed

[2022-09-12 11:58] GW-Renesas opened #693 "ArmNN v22.02 UnitTests failure with Mali-G31 and OpenCL"
Hi All,

I'm running UnitTests on a platform with duel Cortex-A55 CPUs and a Mali-G31.
Neon and OpenCL are enabled. The build is also being completed from a Yocto environment.

I see the attached output with the CreateWorkloadNeon test suite errors:
[neon_unit_errors.txt](https://github.com/ARM-software/armnn/files/9547712/neon_unit_errors.txt)

Has this been seen before at all?

Thanks,
Gareth

[2022-09-15 01:50] Shelton-N commented on #692
Hi,@matheusfalcaopinto,  warning show CL Backend use a deprecated interface, but maybe not lead to Segmentation fault.
Can check which  opencl version on your devices? Mali-T860 GPU has deponded on opencl .
 Hi @ArmRyan, can your known which releationship between Mali GPU version and OPENCL version?

[2022-09-16 02:39] matheusfalcaopinto commented on #692
@Shelton-N Hi! I'm using the last package provided by Debian Bullseye, sorry but I can't verify right now, I think was something like libopencl.

[2022-09-19 15:35] keidav01 commented on #693
Hey @GW-Renesas

Could you please give me the full list of build parameters used? I will try to recreate.

Thanks,
Keith

[2022-09-19 15:53] keidav01 commented on #688
As stated by @ArmRyan, this is future work and we cannot support this issue as a result. Closing

[2022-09-19 15:53] #688 closed

[2022-09-19 16:45] matheusfalcaopinto commented on #692
@keidav01 hi! I'm facing the same issue still, but for now I can't work on it for a couple days unfortunately . If needed you can close the post.

[2022-09-20 07:43] ggardet commented on #688
Without (local) build fix, Armnn will be dropped soon from openSUSE Tumbleweed and will not be part of next openSUSE Leap as well.

[2022-09-20 10:57] keidav01 commented on #692
@matheusfalcaopinto no problem at all. I will keep it open for now. Please feedback when you can and we will try to assist

[2022-09-20 14:23] keidav01 commented on #672
Hi @Shelton-N ,

Could you provide more information please? Otherwise I will close this issue at on Friday September 23rd

[2022-09-20 14:26] keidav01 commented on #667
@liamsun2019 could you let us know if this patch has fixed your issue? I will close this ticket otherwise. Thank you very much

[2022-09-20 14:29] keidav01 commented on #666
Hi @liamsun2019, has enough information been provided in this ticket? I will close this at the end of the week if do not hear back from you. Thank you very much.

Keith

[2022-09-21 00:55] liamsun2019 commented on #666
Hi @keidav01 ,

I have not yet conducted tests about this issue. I think you can just close it and I will feedback ASAP. Thanks for your help.

Liam

[2022-09-21 01:02] liamsun2019 commented on #667
Hi @keidav01 ,

There's no progress on my side since my attention has been absorbed by some other things so far. You can just close it and I will verify the patch ASAP. Thanks for your help.

B.R
Liam

[2022-09-21 08:18] GW-Renesas commented on #693
Hi @keidav01,

I've attached the parameter list for ArmNN and ACL. Please let me know if there's anything else I can provide.

[buildParametersArmNN.txt](https://github.com/ARM-software/armnn/files/9614481/buildParametersArmNN.txt)

Thanks,
Gareth

[2022-09-21 08:53] keidav01 commented on #666
Sure, thank you @liamsun2019. Closing

[2022-09-21 08:53] #666 closed

[2022-09-21 08:53] keidav01 commented on #667
Thank you @liamsun2019, closing

[2022-09-21 08:53] #667 closed

[2022-09-21 11:31] keidav01 commented on #693
Hey @GW-Renesas, thank you for feeding back. Could I also ask why you are specifying this as an option to UnitTests?
`-- --dynamic-backend-build-dir "/usr/bin/armnn/examples/UnitTests/"`

Have you tried running without this? You do not appear to building with dynamic backends.

[2022-09-21 13:36] GW-Renesas commented on #693
Hi @keidav01,

Removing the dynamic-backend-build-dir option when running unit tests still shows the same issue unfortunately. I have retested locally to be sure.

[2022-09-22 01:56] younglight7 opened #694 "Linux Binaries can't work on my VIM3 board"
I compiled armnn following the guide 'BuildGuideCrossCompilation.md' , and then push these libs to VIM3 board, but the UnitTest failed. Then I download the Pre-Built Binaries for aarch64 and push them to board ,then the UnitTest failed too. I have set 'LD_LIBRARY_PATH' before.  How can I use these pre-built binaries on VIM3 board ?

[2022-09-26 06:18] #694 closed

[2022-09-29 09:49] MatthewARM commented on #93
@csn1800 doesn't have any built-in backends that support OpenGL or Vulkan. The only built-in backend for GPU is the GpuAcc backend which uses Compute Library OpenCL routines.

There's currently no intention from the core development team to add new backends for OpenGL or Vulkan, but if someone else wanted to add support then we could definitely have a talk about it.

I would say that the GPU deleg

[2022-09-29 16:53] csn1800 commented on #93
@MatthewARM The performance obtained by using TFLite OpenGL delegate (on model - Movenet/single pose/Thunder) is not as expected (high latency) and there are multiple missing ops when run on GPU. The platform is Linux (armv7l) with Mali G31 GPU. Can the use of Compute Library bring some performance improvements in this context?

[2022-09-30 09:29] MatthewARM commented on #93
@morgolock can you help? G31 is a _very_ small GPU, and depending on what CPU you have you're almost certainly better off running on the CPU, in which case Compute Library NEON might help vs. TfLite ruy/xnnpack.

[2022-09-30 09:30] MatthewARM commented on #93
Hmm, on the other hand if your architecture is armv7l you're probably better sticking with TfLite - Compute Library is focussed on aarch64 optimisations.

[2022-09-30 12:30] morgolock commented on #93
Hi @csn1800

Can you please provide more details about the platform you ran the model? Which device and OS are you using? What's the datatype for the model? What's the exact command you used to run the model?

As Matthew mentioned, in Arm Compute Library there is legacy support for armv7a but the code is not as optimized as for aarch64 targets.

[2022-10-05 10:28] morgolock commented on #693
Hi @GW-Renesas

Would you please let us know what target arch you are building for?

FP16 is enabled when building for armv8.2a. If you build for v8a there is not FP16.

[2022-10-05 12:19] #672 closed

[2022-10-05 12:20] keidav01 commented on #677
Hi @luchangli03 can you provide more details?

I will close this on October 10th if I do not hear from you.

Thank you,
Keith

[2022-10-05 12:21] #678 closed

[2022-10-05 12:25] keidav01 commented on #679
Hey @luchangli03

Again, I will close this on October 10th if I do not hear from you.

Thank you,
Keith

[2022-10-05 12:26] keidav01 commented on #687
Hi @kylesayrs

I will close this on October 10th if I do not hear from you, please let me know if you need any more help.

Thank you,
Keith

[2022-10-05 12:28] keidav01 commented on #415
Closing as there is another issue now open

[2022-10-05 12:28] #415 closed

[2022-10-05 12:40] keidav01 commented on #686
Hey @kylesayrs,

I'm sorry for the delay, but did you run with the latest prebuilt binaries?

If not, could you try again please with these? I cannot see where this warning is coming from. I am also surprised that it is coming up as an error as well. It should not prevent you from doing what you would like when it is a warning.

[2022-10-05 17:53] Afef00 opened #695 "How to use pruned models in ARM compute Library"
Due to the limited memory on Zedboard I was not able to build ARM NN and I choose the cross compilation of ARM NN on it. Now I want to implement a pruned model but I could'nt find any way for that? Is it even possible to do that?
Regards

[2022-10-05 19:19] Afef00 commented on #659
@liamsun2019 is it possible to use pruned models with arm NN ( with cross compilation)

[2022-10-06 14:54] morgolock commented on #693
Hi @GW-Renesas

I have not managed to reproduce this with a new build from `main`. I built ACL both for v8a and v8.2a and the test passes.

Can you please try 22.08 or building from `main`?

[code]

[2022-10-07 10:25] keidav01 commented on #659
Hi @Afef00 , can you please create a new ticket with this question? This does not appear to be relevant to this ticket.

Closing ticket for now as @liamsun2019 appears to be satisfied.

[2022-10-07 10:25] #659 closed

[2022-10-08 13:05] vn218 opened #696 "UnitTests fails with segmentation fault on Odroid-XU4"
I built ARM-NN library for my odroid xu4 (aarch32) by following the ARM NN Build Tool tutorial.
On running UnitTests, it fails with segmentation error.

[code]
I tried increasing stack size but it still fails. I am running Ubuntu Mate 22.04

[2022-10-08 20:22] huzq85 opened #697 "Interrupt building without docker and build again will cause error"
I tried to build ARM-NN in my WSL (Ubuntu) environment without docker. However, when I interrupted the installation script and then executed it again, an error occurred.

**Reproduce Steps:**
1. First I execute the installation script by typing the command: sudo ./install-packages.sh.
2. I interrupted the installation procedure because I wanted to switch the building procedure to the local docker.

[2022-10-10 10:28] #687 closed

[2022-10-10 10:29] #679 closed

[2022-10-10 10:29] #677 closed

[2022-10-10 10:30] #669 closed

[2022-10-10 10:30] #668 closed

[2022-10-10 10:31] #653 closed

[2022-10-10 10:32] #632 closed

[2022-10-10 10:33] keidav01 commented on #548
Closing due to inactivity

[2022-10-10 10:33] #548 closed

[2022-10-10 14:59] james-conroy-arm commented on #697
Hi @huzq85 ,

Many thanks for raising this issue. You have definitely caught an edge case in this script - we are working on a fix now and will update you when it's ready.

Did you end up getting passed this stage with your own modifications already and were you able to build Arm NN successfully?

Thanks,
James

[2022-10-10 15:29] james-conroy-arm commented on #696
Hi @vn218 ,

Many thanks for raising this issue. Did you build Arm NN using with build-tool with or without Docker? On a remote machine or on the Odroid board itself?

Since there is a segfault, there may be other tests failing that are not executing. To help us try narrow down the issue, could you please provide us with the output for the following UnitTests flags:

Run FuseReLUIntoConvFloat32Gpu

[2022-10-10 16:22] james-conroy-arm commented on #696
Thanks for that @vn218 . Looks like many tests are failing on GPU.

Could you please try this more specific GPU exclusion filter:
export LD_LIBRARY_PATH=.;./UnitTests --test-case-exclude=\*Gpu\*

You could also try adding Mali to your LD_LIBRARY_PATH, but this may not be the exact location on your device (this works on an aarch64 Odroid N2+ board):
export LD_LIBRARY_PATH=.:/usr/share/mali; ./UnitT

[2022-10-10 16:31] vn218 commented on #696
The output ....
[code]
Adding mali to LD_LIBRARY_PATH didn't help

[2022-10-10 16:44] james-conroy-arm commented on #696
Please try:
`export LD_LIBRARY_PATH=.;./UnitTests --test-case-exclude=*GPU*,*CL*`

What is the contents of `/usr/share/mali/` ?

[2022-10-10 16:54] vn218 commented on #696
adding --test-case-exclude=*Cl* gives the same output as before, however adding --test-suite-exclude=*Cl* passes
[code]
contents of mali .....
[code]

[2022-10-10 17:09] vn218 commented on #696
Also, when I try to run a tflite model (yolov5s), it fails with segfault for all combinations of backends.

[2022-10-10 22:16] huzq85 commented on #320
hi, James,
Recently I have been trying to do a **static** build for SimpleSample in ARM-NN. Do we have a detailed tutorial on how to do it?

[2022-10-11 08:40] james-conroy-arm commented on #645
Hi Stuart,

Thanks for your feedback.

Am I correct in saying that you'd prefer more (relevant) guides on our GitHub repo, instead of on the Arm Developer website?

Cheers,
James
________________________________
From: StuartIanNaylor ***@***.***>
Sent: 19 May 2022 13:54
To: ARM-software/armnn ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [ARM-software/armnn] Wow (Issue #645)

Well start wi

[2022-10-11 13:12] james-conroy-arm commented on #697
Great to hear @huzq85

I haven't been able to reproduce your issue yet. I uninstalled CMake from my system and ran the install-packages.sh script and it proceeded to install CMake 3.19 with no issues.

This if statement in install-packages.sh checks if the correct version of CMake is present:
[code]
It should return false if CMake is present and not the correct version AND should also return false

[2022-10-11 16:28] StuartIanNaylor commented on #645
It just seems to me they are purely tempters for Arm Developer services and you don't do 100% working guides anywhere...

[2022-10-12 14:46] huzq85 commented on #697
hi, @james-conroy-arm ,
Thank you so much for your update! Yes, I think this piece of the script makes sense in install-packages.sh. From this point, you remind me of something when I was trying to build ARM-NN through scripts. I built ARM-NN in several environments, such as in docker and in my local Ubuntu OS. It's very likely that I forgot to run this install-packages.sh except the first time I

[2022-10-12 14:46] #697 closed

[2022-10-12 14:58] james-conroy-arm commented on #697
No bother :)

Do you have any feedback on your experience using the build-tool? e.g. did you prefer using Docker or running scripts directly on your machine etc.

Which target device are you testing on?

Cheers,
James

[2022-10-12 15:43] huzq85 commented on #697
I think building using Docker is much more convenient than building from scripts, but of course the prerequisite is that users need to install Docker first :) Anyway, I think building from scripts is convenient enough at this stage, especially for users who do not have and do not want to install Docker.

[2022-10-12 15:44] james-conroy-arm commented on #697
Thanks for that!

I guess having the choice is what matters :)

[2022-10-12 18:14] vn218 commented on #696
@james-conroy-arm Hi! Is there any update?

[2022-10-13 09:12] james-conroy-arm commented on #696
Hi @vn218 ,

The Mali driver on your device may not be setup correctly, it's difficult for me to say.

Albeit on a different Odroid board (N2+) and aarch64, this is the contents of /usr/share/mali:

[2022-10-13 10:10] keidav01 commented on #645
Hi @StuartIanNaylor,

Sincerest apologies for this. I have just come across your issue myself, however as it happens, we are currently reviewing our documentation for users like yourself to get up and running properly. This is valuable information and I will pass onto the relevant parties.

Thank you for the information and we will do our best to fix this as soon as possible

[2022-10-13 11:02] james-conroy-arm commented on #645
Hi @StuartIanNaylor ,

I would echo @keidav01 's comment above - we are working hard to improve our documentation and always welcome feedback.

Since my last comment on this ticket, we released the [Arm NN Build Tool](https://github.com/ARM-software/armnn/blob/HEAD/build-tool) in response to developers' issues with our build documentation. We have an open issue where developers can leave feedback

[2022-10-13 11:09] kouckma commented on #617
hi, is there any update on multi-threading options in pyarmnn?

[2022-10-13 14:38] StuartIanNaylor commented on #645
Will do as got a bit frustrated :) apols.

[2022-10-13 14:38] #645 closed

[2022-10-14 14:19] neps-smartfox opened #698 "RuntimeError: Select TensorFlow op(s), included in the given model, is(are) not supported by this interpreter."
Hi Everyone,

I'm trying to use ArmNN in my Rock PI N10. I was able to run the examples from the model zoo.
Now I'm trying to load my own model but is currently having error.

I reproduced the error using the simple example from TensorFlow page. First I generated the TFLite model as follows.

[code]
Then I tried to load the model using the TFLite delegate.

[code]

However, I'm getting the followi

[2022-10-17 10:28] fr4wanglei commented on #596
Hi, I am trying to optimize a network on the ARM CPU and got the same problem.
ArmNN version: 22.05
TF version: 2.5.1

I trained the model with yolov5 and export to fp16.tflite

[2022-10-18 03:51] fr4wanglei opened #699 "Unable to optimize a network with PyArmNN"
Hi, I am trying to optimize a network on an aarch64 machine and got the this error:
`RuntimeError: Dimension index: 0 not specified. Tensor shape not inferred yet. at function CheckDimensionSpecified`

ArmNN version: 22.08
TF version: 2.5.1
python3.8
ubuntu1804

I trained the model with yolov5 and export to fp16.tflite

Any suggestion?

Thank you

[2022-10-18 09:37] morgolock commented on #699
Hi @fr4wanglei

Could you please share with us the command you used to run the model?

[2022-10-18 17:27] vn218 opened #700 "ArmNN delegate causes segmentation fault when trying to run Yolov5s"
I am trying to run [ultralytics'](https://github.com/ultralytics/yolov5) yolov5s model on my odroid xu4 board. I exported the model as a .tflite model using the export.py script provided in the repo. Then I modified models/common.py file in order for detect.py to use the ArmNN delegate. However, for all combinations of backends, it causes a segfault immediately after the created tflite delegate me

[2022-10-19 12:28] vn218 commented on #696
@james-conroy-arm Thanks! Linking libMali.so and libOpenCL.so worked (libMali.so was at a different location). But, now I am getting a new set of errors .........
[UnitTests.log](https://github.com/ARM-software/armnn/files/9820422/UnitTests.log)

But all the DelegateUnitTests are passing, so I guess that is enough for my use case.

yolov5s is still not working, I've raised a separate issue for it.

[2022-10-19 14:05] aurelien-m opened #701 "Fatal error on TFLite delegate load"
When trying to load the TFLite delagate:
[code]

But I get this error:
[code]

I'm using a Beaglebone AI-64:
[code]

Thanks!

[2022-10-19 15:05] aurelien-m commented on #701
My bad, I installed the incorrect OS for my Beaglebone. Oops, now it runs fine!

[2022-10-19 15:05] #701 closed

[2022-10-20 07:01] fr4wanglei commented on #699
Code:
[code]

I developed real-time detection of rtsp video streams on the arm development board, and started using onnxruntime,
but its inference speed is very slow in cpu mode, and each frame takes about 1.5s, which is completely unusable (only required on x86_64 servers 1ms).

onnxruntime doesn't support gpu on armv8, so I'm going to try armnn, when I try to create armnn runtime, `network = par

[2022-10-20 07:23] neps-smartfox commented on #698
Hi Keith,

Thank you very much for you answer.

I am particulary interested to use the ArmNN delegate as much as possible. If it is a TFLite issue, then probably I need to ask in Tensorflow discussions.

As you've mentioned, if the ArmNN delegate doesn't support an op, it will fallback to Tensorflow Lite. Will there be a warning or an error message to give a clue on which op is not supported?  The

[2022-10-20 08:40] keidav01 commented on #698
Hey @neps-smartfox,

No that list would not be relevant as that is for the ArmNN Serializer, rather than the ArmNN TF Lite Delegate. Here is the list: https://arm-software.github.io/armnn/latest/delegate.xhtml

I would convert on Tensorflow 2.5 as that is what we test on. I don't believe quantization technique is relevant.

As you have logging set to "Info" when setting the delegate options, you s

[2022-10-20 11:40] keidav01 commented on #700
Hi @vn218,

Unfortunately, ArmNN does not currently support YoloV5 and we do not have a version of it within our Model Zoo to test.

I wanted to test the external model that you have linked in order to reproduce your issue. But, as I understand it, licensing prevents us from downloading this model due to their use of "GNU GENERAL PUBLIC LICENSE". I have contacted our Third Party IP team to underst

[2022-10-21 08:45] GW-Renesas commented on #693
Hi @morgolock,

I get the same errors on v22.08 unfortunately. I've included log output for reference, ran with and without the backend parameter.

[2208-armnn.log](https://github.com/ARM-software/armnn/files/9837196/2208-armnn.log)

[2022-10-21 13:21] neps-smartfox commented on #698
Hi Keith,

I tried using tensorflow 2.5.0 instead of tflite_runtime 2.5.0. So my code now looks like the following.

[code]

This time I am now getting a new error.

[code]
I am getting the same result even if I disabled SELECT_TF_OPS.

Seems like I was able to get past the Flex delegate issue. Do you have any advice regarding this error?

Thanks and Best Regards

[2022-10-22 10:44] vn218 commented on #700
Steps .........

On Colab :
Clone yolov5
[code]
Export as .tflite
`!python export.py --weights <model_path> --include tflite`

Then I downloaded the model on the board
Steps on the board :
Clone yolov5
[code]
Comment out torch and torchvision from requirements.txt
Edit line 461 in models/common.py to make use of armnn delegate

Run Inference
`python3 detect.py --weights <model path> --source <.mp4

[2022-10-23 18:45] IliaGrigoriev opened #702 "Running wav2letter++ Jetson-Nano"
Dear Armnn Team,

thank you so much for providing the library to use wav2letter++ on an ARM system. I could successfully setup and run the ASR PyArmNN on my Jetson-Nano following these tutorials:

(1) https://developer.arm.com/documentation/102603/2108
(2) PDF provided in (1)

I installed OpenCL following this tutorial https://yunusmuhammad007.medium.com/build-and-install-opencl-on-jetson-nano-10b

[2022-10-23 21:04] IliaGrigoriev commented on #702
I just ran `sudo jtop` to see if there is any activity on the GPU, while I run the transcription and there was none to see. The output from  `python3.8 run_audio_file.py --audio_file_path tests/testdata/quick_brown_fox_16000khz.wav --model_file_path tflite_int8/wav2letter_int8.tflite --preferred_backends GpuAcc CpuRef` is:

[code]
What could be missing?

[2022-10-25 06:20] kalesony opened #703 "GpuAcc: only the last created TFLite interpreter/delegate works fine"
We're trying to integrate ARM NN into our C++ project. We want to start with the TFLite delegate path.

The key issue here is that if you create multiple TFLite interpreters with ARM NN `GpuAcc` delegate. store them first and try to execute them later, only the last created interpreter works fine. We were able to reproduce that even when creating two interpreters from the same model file. `CpuAcc`

[2022-10-26 13:48] Colm-in-Arm commented on #702
Hello  Llia,

I've not worked with the Jetson Nano so I can only comment in general about backends in Arm NN. On the GPU being slower than CPU this is very model dependent.

One possible source of this kind of performance discrepancy is fall back memory copies. If, for example, in the middle of the model there is a portion that is not currently supported by GpuAcc then it will fall back to CpuRef.

[2022-10-27 05:23] vn218 commented on #700
@keidav01
The issue only occurs for fp16 models. The segfault occurs while the model gets dequantized to fp32.

[2022-10-27 11:11] MikeJKelly commented on #702
Hi @IliaGrigoriev

The Jetson Nano has an Arm CPU but it does not have an Arm GPU (it has an NVIDIA GPU) therefore the Arm GpuAcc backend won't work on it.

When you run your model on it using '--preferred_backends GpuAcc CpuRef' it'll fall back to the CpuRef backend which is considerably slower than the CpuAcc one.

Best regards,
Mike

[2022-10-27 13:17] StuartIanNaylor opened #704 "IDeviceSpec { supportedBackends: [CpuAcc, CpuRef]} Gpu Not recognised"
Hi I thought I would have a go at https://developer.arm.com/documentation/102603/2108/Device-specific-installation/Install-on-Odroid-N2-Plus with an RK3588 Rock5b

If I do a clinfo
[code]

Anyone any idea why its not finding the GPU? As it seems to be correct with OpenCl?
[code]
Ps the tutorial could do with updating as the labels are in the code and not part of the command line.

[2022-10-27 14:20] FrancisMurtagh-arm commented on #704
Hi @StuartIanNaylor,

The GpuAcc backend uses dlopen() to find one of the below Shared Libraries:
` static const std::vector<std::string> libraries{ "libOpenCL.so", "libGLES_mali.so", "libmali.so" };`

Can you see does your device have any of them in it's system libraries such as in /usr/lib/aarch64-linux-gnu/ or in LD_LIBRARY_PATH?

This is usually the reason why the GPU isn't recognized, althoug

[2022-10-27 14:49] StuartIanNaylor commented on #704
Hi Francis the sym link is `libarm_compute.so.28` to `libarm_compute.so.28.0.0` not `libarm_compute.so`
`/usr/lib/aarch64-linux-gnu/armnn30/Arm_CpuAcc_backend.so` exist but no `Arm_GpuAcc_backend.so`

[2022-10-27 15:17] FrancisMurtagh-arm commented on #704
Hi @StuartIanNaylor,

Yes sorry, armnn-latest-all is a [virtual](https://www.debian.org/doc/debian-policy/ch-binary.html#s-virtual-pkg) package name that's meant to be a bit easier on the eye than having lib... + ABI version number.

`Can't load libOpenCL.so: libOpenCL.so: cannot open shared object file: No such file or directory
Can't load libGLES_mali.so: libGLES_mali.so: cannot open shared obje

[2022-10-27 15:39] StuartIanNaylor commented on #704
Yeah just did 'sudo ln /usr/lib/aarch64-linux-gnu/libOpenCL.so.1.0.0 /usr/lib/aarch64-linux-gnu/libOpenCL.so' as the link was `libOpenCL.so.1`

[code]
So they where just nags anyway.

Would you expect with just a G610MP4 as been really impressed with the quad core A76+ quad core A55 but wasn't expecting the G610 to be x2.7 slower.
It seems to stall for some time as it initialises and wish I had a

[2022-10-27 15:47] StuartIanNaylor commented on #704
Yeah bigger wav and the G610 starts to play catch up but there is a big initialisation delay.

Yep https://wiki.radxa.com/Rock5/hardware/5b was really interested to see if maybe I could partition a model and use both CPU/GPU in tandem but things not looking so good

[code]
Its
[code]
From the tutorial

[2022-10-27 17:40] StuartIanNaylor commented on #704
Yeah things are definitely not what I expected as did a bit of a hack to the code to keep the network loaded for a 2nd run.
For some reason with GPU it is loading the network takes about 5secs as opposed to CPU but also what surprised is how little work the GPU does as the overall load is only approx 5% avg less.
[code]

[2022-10-28 20:34] StuartIanNaylor commented on #704
[code]

[2022-10-29 20:48] StuartIanNaylor commented on #704
@FrancisMurtagh-arm After doing playing with images the mali drivers we have are obviously not happy as glmark2-es2 on x11 only provides a score in the 600 range on wayland slightly better 700 range.
Khadas with there edge2 with a rk3588s on wayland have managed to get a working image with wayland that produces a glmark2 score of 4000 which is somewhere what I was expecting.
So I don't think its A

[2022-10-31 21:23] avirn opened #705 "Plans to add support for 1D operators?"
I was wondering if there were any plans to add support for CONV_1D and MAX_POOLING_1D? Trying to accelerate a model which uses both operators but I believe it is being slowed down because those operators are not supported causing a shift between the tflite and armnn delegates.

[2022-11-02 17:12] IliaGrigoriev commented on #702
Thank you @Colm-in-Arm and @MikeJKelly for your explanations!

@Colm-in-Arm wav2letter used to be called wav2letter++:  https://github.com/flashlight/wav2letter

I will also need to fine-tune wav2letter to recognize additional words. If I do the fine-tuning on x86 system following the instructions from flashlight would the fine-tuned model then work with your implementation of wav2letter?

Best,
I

[2022-11-08 15:41] MikeJKelly commented on #703
Hi @kalesony

thank you for reporting this issue, I'm trying to recreate it now and hope to have some information soon.

Best regards,
Mike

[2022-11-09 15:37] lzmz08 opened #706 "Need help with using gpu tuner option of tflite delegate"
I am trying to use the gpu tuner option of tflite delegate.

`armnn_delegate = load_delegate( library="/home/lzm/Desktop/project/aarch32_build/delegate/libarmnnDelegate.so", options={"backends": "GpuAcc,CpuAcc,CpuRef", "logging-severity":"info","enable-fast-math": "true", "reduce-fp32-to-fp16": "true", "number-of-threads": "8","gpu-tuning-level": "3","gpu-tuning-file": "/home/lzm/Desktop/project/t

[2022-11-09 20:07] junyuancat1 opened #707 "UnitTests FAILURE"
Hi，I run UnitTest on rk3399 failed.
device info: Mali-T860

Built armnn v22.08 like this:
cmake ..  -DARMCOMPUTE_ROOT=/home/yogo/sjy/ComputeLibrary-22.08/ -DARMCOMPUTE_BUILD_DIR=/home/yogo/sjy/ComputeLibrary-22.08/build/ -DFLATBUFFERS_ROOT=/home/yogo/sjy/flatbuffers/flatbuffers-install-dir/ -DARMCOMPUTENEON=1 -DARMCOMPUTECL=1 -DARMNNREF=1 -DPROTOBUF_ROOT=/home/yogo/sjy/protobuf-3.6.1/ -DPROTOBUF_L

[2022-11-14 09:54] junyuancat1 commented on #638
hey ， I have already update acl && armnn to v22.08，this problem still exists.
Is there any method to clean or kill the mali device and related threads, so that memory can be released when stuck happend, and restart armnn functions.

[2022-11-14 10:00] junyuancat1 opened #708 "armnn v22.08 Get stuck in rk3399 mali-T860"
https://github.com/ARM-software/armnn/issues/638

[2022-11-14 10:01] junyuancat1 commented on #708
I have already update acl && armnn to v22.08，this problem still exists.
Is there any method to clean or kill the mali device and related threads, so that memory can be released when stuck happend, and restart armnn functions.

[2022-11-14 12:11] MikeJKelly commented on #703
Hi @kalesony

I was able to recreate the issue, the root of the problem is that the two Executors use two different armnn_delegates which in turn use two different IRuntime's and somehow that's causing the earlier Executors to clear something in OpenCL Context so that the CL Workloads return the following (the Model's execution does not bomb out when using the delegate but it does abort with an er

[2022-11-14 12:28] Colm-in-Arm commented on #707
Hi,

This is a strange one. The original exception in ClCustomAllocatorTest is leaving the device in an invalid state so the tests from then on are failing. You can confirm this by excluding this test:

./UnitTests -tce=ClCustomAllocatorTest

I've not been able to recreate the test failure and I don't have access to an RK3399 to investigate. I'll talk to my colleagues in ACL to narrow down the pro

[2022-11-14 17:39] Colm-in-Arm commented on #708
Hi,

My understanding from reading the original issue is that at some point between 5000 and 10000 inferences Arm NN hangs. Can you answer the following for me please:

* Are all inferences occurring in a single process?
* Are all inferences on the same Network instance(IOptimizedNetworkPtr)? i.e. you load one network and are repeating inferences with different input data.
* Are all inferences usi

[2022-11-14 19:25] junyuancat1 commented on #708
Hey thanks!
1. yes ,all inferences occurring in a single process's single thread.
2. I load two network to one runtime instance. I built the first net with Multiplication Layer as a image rescale net. and the second net is a 1mb onnx(from yolov5) net.
3. yes, all inferences using the same runtime instance, i load two network in sequence, and all inference will running as such sequence
4. nope
5. 1

[2022-11-14 21:49] Colm-in-Arm commented on #708
Ok, that's a very interesting use case.

Looking at the differences in rk3399 I can see that you'll have access to NEON which isn't available on the rk3288. Can you change your test case to exclude CpuAcc and see if the problem persists. If you think all of the layers are available on GpuAcc perhaps you could remove CpuRef too. Similarly you could run only on CpuAcc and eliminate the Gpu as a sour

[2022-11-15 12:10] junyuancat1 commented on #708
@Colm-in-Arm
Oh！this works，I seems found out the problem
When I disable the cpuacc and cpuref use, occurs an error like this.
**Warning: ERROR: Layer of type Concat is not supported on any preferred backend [GpuAcc ]**

So, the problem may related with the concat layer was not supported in gpuacc. it may stuck when gpuacc results pollin to cpuacc when concat when rk3399 running 5k+ times?
further,

[2022-11-15 12:14] junyuancat1 commented on #708
plue, cause of the shortage of cpu resources, I hope that the vast majority of calculations are completed in the gpu~

[2022-11-15 14:29] morgolock commented on #707
Hi @junyuancat1

Could you please share the command you used to run the unit tests?
Could you please share the output of `clinfo` ?

Please also see https://github.com/ARM-software/ComputeLibrary/issues/999#issuecomment-1273055281 as there may be an OpenCL configuration problem on your device.

[2022-11-15 16:46] junyuancat1 commented on #708
![image](https://user-images.githubusercontent.com/25675592/201975515-2ac57d48-0bae-4538-953a-24974cac519a.png)
here's the detail of the error concat.
here comes an strange concat layer with just one input in my onnx model after transed form pt model.and this layer may cause 'armnn::InvalidArgumentException'
  what():  Number of inputs provided does not match network.
I can manage the onnx model t

[2022-11-15 21:46] Colm-in-Arm commented on #708
I'm pleased you're making some progress. I agree that the concat layer looks very odd but you said this previously worked on v7 + GpuAcc. Could you try the combination of armnn::Compute::GpuAcc, armnn::Compute::CpuRef in that order please. In this case the concat layer might work on the CpuRef implementation. The entire network except that layer would run on the GPU. That way we could isolate the

[2022-11-16 03:04] junyuancat1 commented on #708
@Colm-in-Arm
I've tried combine gpuacc and cpuref. This stuck still exists.

[2022-11-16 08:46] junyuancat1 commented on #708
I've solved the concat problem, and try running all inferences in gpuacc now. but this stuck still exists.

[2022-11-16 10:14] Colm-in-Arm commented on #705
Hi,

We currently have no active plans to add 1D operators in the next few months. Would you be interested in contributing the operators yourself? One potential approach is to reshape to 2D and use the existing operator.

Details on how to contribute are here:
https://github.com/ARM-software/armnn/blob/branches/armnn_22_08/CONTRIBUTING.md

Is there a publicly available model containing these opera

[2022-11-17 05:18] junyuancat1 commented on #708
Hey，
I am trying on several rk3399 boards. The boards installed on the robot shows high frequency of this problem (I can guarantee that only my thread using gpu resources). I also try to reproduce this problem on several clean rk3399 boards( installed in computer room). The clean boards have run for 200k+ times and this problem has not yet occurred.
 I suspect that it may be a problem with the pow

[2022-11-17 06:22] junyuancat1 commented on #708
![image](https://user-images.githubusercontent.com/25675592/202371694-b0ac0d22-0a27-4210-b0f9-59d231337306.png)

![image](https://user-images.githubusercontent.com/25675592/202371634-45b34c08-30d8-4ebf-9c3c-d7ad63731a2e.png)

some dead locks~

[2022-11-17 09:03] junyuancat1 commented on #708
Is it possible that the voltage instability causes gpu fail to return an infer result,  then the lock cannot be opened?
I found out when this stuck happend, gpu can back to normal soon，but this stuck will be forever. I could not unload
 classifier network by UnloadNetwork function when stuck. After I kill my process and re run, infer will back to normal again.

[2022-11-17 15:45] Colm-in-Arm commented on #708
I'm afraid you've gone beyond my knowledge of the GPU architecture.

I did try running many thousands of inferences on a HiKey 960 device and I didn't hit any problems.

I might refer this to my colleagues in Arm Computer Library. They have the GPU experience.

Colm.

[2022-11-17 21:09] Colm-in-Arm commented on #706
Hi,

Sorry for the delay. I have verified that the gpu-tuning-file does get passed down to the GPU backend when using the delegate through execute network. Can you give me some details on the execution environment please. You're using "tf.lite.experimental.load_delegate", what version of TF are you using?

Colm.

[2022-11-21 16:12] Inlinebool opened #709 "Provide a `CreateNetworkFromBinary` method for the ONNX parser"
Currently (22.08.01) there is only a `CreateNetworkFromBinaryFile` method for the ONNX parser. For my project, however, I need to read a binary buffer from some external device, and I'm hoping that I could directly create a network from the buffer, instead of first saving it to disk.

I see that there is a `CreateNetworkFromBinary` method for the TFLite parser. I'm wondering if a similar method wi

[2022-11-22 13:54] morgolock commented on #355
Closing this due to inactivity, reopen if you still experience problems.

[2022-11-22 13:54] #355 closed

[2022-11-23 13:02] kalesony commented on #703
Hey @MikeJKelly

Yes, it works now, thanks a lot :).

[2022-11-24 09:30] MatthewARM commented on #708
I don't think OpenCL has an abort mechanism. But since you are able to kill the process and restart it, the process is not in an uninterruptable sleep state.

If you _really_ want to avoid killing the process and restarting, I'd maybe try installing a signal handler for SIGUSR1 in main, then starting a watchdog thread that (somehow) detects the hang state and sends SIGUSR1 to the process. That wil

[2022-11-25 03:39] junyuancat1 commented on #708
Thanks for reply！ @MatthewARM
My current method is to turn the infer task into an independent process,  and let it communicate with my main process. (However, there will be a lot of performance loss caused by data copy and trans), so I prefer a watch dog.

And I also tried add a watchdog thread, but I found that when the blocking occurs, armnn unload mode cannot release the network (UnloadNetwork

[2022-11-25 13:41] morgolock commented on #693
Hi @GW-Renesas

I've noticed your ACL build is `arch=arm64-v8a`, would you please try building for `arch=armv8.2-a` ?

You then rebuild ArmNN and rerun the tests.

Hope this helps.

[2022-11-25 14:02] MatthewARM commented on #693
The unit tests for Neon FP16 are only included if the preprocessor defines __ARM_FEATURE_FP16_VECTOR_ARITHMETIC when compiling Arm NN, which will only happen when Arm NN itself is compiled for a base architecture with fp16 instructions (ie. Arm v8.2-a). I don't know why this would be happening in your case, as your build params don't show any particular options controlling that sent to the compile

[2022-11-25 17:36] MikeJKelly commented on #709
Hi @Inlinebool

thank you for bringing that omission to our intention, I've created a review that adds that function:

https://review.mlplatform.org/c/ml/armnn/+/8695

It is too late for the 22.11 release but should be there for 23.02 and should merge cleanly into our existing releases. Can you check if it works for your needs and let me know?

Best regards,
Mike

[2022-11-27 17:17] junyuancat1 commented on #708
Here's two process,

-  Robot Process(main process, control my robot behaviour, which should never be killed or restarted)
- Infer Process(infer images and get recognition results)

I wrote a watchdog thread in infer process with a function which would cause a segment fault.
When watchdog detected the infer thread not update infer result for 30s, call this segemt fault function and whole process w

[2022-11-29 14:21] ggardet opened #711 "ArmNN 22.11 fails to build with `error: 'istream_iterator' is not a member of 'std'`"
On openSUSE Tumbleweed, ArmNN 22.11 fails to build with `error: 'istream_iterator' is not a member of 'std'`.

Log:
[code]

According to GCC hints, `armnn-22.11/tests/TfLiteYoloV3Big-Armnn/TfLiteYoloV3Big-Armnn.cpp` requires `#include <iterator>`. (I did not test it yet).

[2022-11-29 15:57] ggardet commented on #711
I confirm that this trivial patch fixes the build:
[code]

[2022-11-29 16:22] ggardet opened #712 "`/usr/lib64/objects-RelWithDebInfo/armnnUtilsObj/src/armnnUtils/*.cpp.o` files wrongly installed"
ArmNN 22.11 install some weird files on openSUSE Tumbleweed:

[code]

[2022-11-30 08:30] ggardet commented on #419
Hi,
Any update here?
`python-onnx` is currently at `1.12.0` and `armnn` is still at `1.6.0` which has been release more than 3 years ago.
https://github.com/onnx/onnx/tags